<TMPL_INCLUDE NAME="header.tmpl">

<h3>Specials Archive</h3>
<ul>
    <li><a href="020323special.pdf">Feb - Mar '23</a></li>
    <li><a href="120123special.pdf">Dec '22 - Jan '23</a></li>
    <li><a href="101122special.pdf">Oct - Nov '22</a></li>
    <li><a href="080922special.pdf">Aug - Sept '22</a></li>
    <li><a href="060722special.pdf">June - July '22</a></li>
    <li><a href="040522special.pdf">April - May '22</a></li>
</ul>

<div class="center" style="clear: both">
<TMPL_INCLUDE NAME="salesNavs.tmpl">
</div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
