<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>MacMurray Pacific: Customer Access</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="MacMurray Pacific Wholesale Hardware">
<meta name="keywords" content="MacMurray Pacific,hardware,wholesale,builder,furniture,kitchen,bath,drawer,sash,clamp,router,tape,cabinet,hinge,hinges,bit,bits,bolts,deadbolt,deadbolts,lock,locks,knob,knobs,latch,latches,lever,mailplate,mortise,molding,hasp,catch,sawblade,saw,edging,putty,screw,caster,wheel,glue">
<link rel="icon" type="image/gif" href="graphics/macpacon.gif">
</head>
<body bgcolor="#34329d">
<table width="100%">
<tr valign="middle" height="100%"><td align="center">
<img src="graphics/index.gif"  alt="MacMurray Pacific Wholesale Hardware" name="homepage" height=415 width=750 border=0 usemap="#imagemap">
<map name="imagemap">
<area shape=rect coords="543,18,640,39" href="http://macmurraypacific.com/mp1/services.html" title="Account Registration & Other Services">
<area shape=rect coords="32,164,209,194" href="http://macmurraypacific.com/catalog.html?site=mp1" title="Products Catalog">
<area shape=rect coords="32,200,268,230" href="login.html"  title="Customer Login">
<area shape=rect coords="32,236,188,266" href="contactus.html" title="Contact Form">
<area shape=rect coords="32,272,169,302" href="http://macmurraypacific.com/mp1/aboutus.html"  title="Company History & Policies">
<area shape=rect coords="295,155,392,252" href="http://macmurraypacific.com/door.html?site=mp1" title="Door Hardware">
<area shape=rect coords="393,155,490,252" href="http://macmurraypacific.com/cabinet.html?site=mp1" title="Cabinet Pulls">
<area shape=rect coords="491,155,588,252" href="http://macmurraypacific.com/kitchen.html?site=mp1" title="Kitchen Supplies">
<area shape=rect coords="393,252,490,349" href="http://macmurraypacific.com/hinges.html?site=mp1" title="Cabinet Hinges">
<area shape=rect coords="491,252,588,349" href="http://macmurraypacific.com/drawer.html?site=mp1" title="Drawer Slides">
<area shape=rect coords="589,252,686,349" href="http://macmurraypacific.com/shop.html?site=mp1" title="Shop Supplies">
</map>
</td></tr>
</table>
</body>
</html>
