<br>
<div>
  <a href="?mode=showAddBug">Add Bug</a>
  | <a href="?mode=showOpen">Show Open Bugs</a>
  | <a href="?mode=showAll">Show All Bugs</a>
  | <a href="?mode=showClosed">Show Closed Bugs</a>
</div>
