<div class="button-navs">
<a href="/category.html?productShowOnly=Favorites" class="newbutton2">My Favorites</a>
<a href="/category.html?productShowOnly=ShoppingList" class="newbutton2">My Shopping List</a>
<a href="/current.html" class="newbutton2">Current Orders</a>
<a href="/category.html?productShowOnly=History" class="newbutton2">Order History</a>
<a href="/viewInvoices.html?custCode=<TMPL_VAR NAME="session_custCode" escape=html>" class="newbutton2">View Invoices</a>
<a href="/account.html" class="newbutton2">My Account</a>
<a href="/cart.html" class="newbutton2">Quick Order/View Cart</a>
</div>
