<script id="cartrow-template" type="text/x-handlebars-template">
  <article class="cart-item">
    <div class="cart-item-description">
      
    <img src="{{thumbnailFilename}}" height="{{thumbY}}" width="{{thumbX}}">

    <div class="cart-item-detail">
    <p>{{ProductDescription}}</p>
    <p>PART# {{{ProductCodePrefix}}}<a href="/product.html?productCode={{ProductCode}}" class="show_underline {{ProductCodeClass}}">{{ProductCode}}</a></p>

      <p>{{{MoreExpected}}}{{{ShowBuyer}}}{{{ProductNotAvailable}}}{{{Cat_Description}}}</p>
      {{#if canEditPrice}}{{#if ShowPR}}<p class="right1 price-cart"><a href="/pr.html?ProductCode={{ProductCode}}">PRICE CHART</a></p>{{/if}}{{/if}}</td>

    <p class="smallChunk">{{PerBox}} {{UofM}} / Carton</p>
    <p class="smallChunk">{{QtyAvailable}} {{UofM}} / In stock</p>
  </div>
</div>
  <div class="cart-item-qty">
    <h4>Qty</h4>
    <div class="center">
      <div class="{{addByLegacyTrueClass}}"><TMPL_INCLUDE NAME="addToCart.tmpl"></div>
      <div class="{{addByLegacyFalseClass}}">
        <input type="checkbox" class="addedByLegacyCheckbox" value=1 {{#if blockProduct}}{{else}}checked {{/if}} name="{{BlockName}}" unitPrice="{{UnitPrice}}" IndexNo="{{IndexNo}}" parentCode="{{ParentCode}}"> Include Add-on
      </div>
<TMPL_INCLUDE NAME="cartrow-template-addedToCart.tmpl">
</div>
  </div>
  
  <div class="cart-item-price">
    <div class="cart-item-price-ea">
    </h4>Price per {{UofM}}</h4>
      <p class="cart-item-list-price">List: {{ListPrice}}</p>
      <p class="right ShowPrice" IndexNo="{{IndexNo}}">
        <div>
          <TMPL_IF NAME="session_canEditPrice">
            <input class="setPrice" IndexNo="{{IndexNo}}" value="{{ShowPrice}}">
            <button class="setPriceButton" IndexNo="{{IndexNo}}" />
          <TMPL_ELSE><p class="cart-item-cust-price">{{ShowPrice}} /{{UofM}}</p></TMPL_IF>
        </div>
  <TMPL_INCLUDE NAME="cartrow-template-addedToCart.tmpl">
      </p>

    </div>
    <div class="cart-item-price-ext">
    </h4>Price per line</h4>
      <p class="right Extended addedByLegacyExtended" IndexNo="{{IndexNo}}">{{Extended}}</p>
    </div>

    
  </div>
    
    <img src="images/x-cl.gif" width="20" height="20" class="deleteFromCart {{addByLegacyTrueClass}}" IndexNo="{{IndexNo}}" onclick="deleteFromCart('{{IndexNo}}')">
  </article>
</script>
