<script id="cartrow-template" type="text/x-handlebars-template">
  <article class="cart-item">
    <div class="cart-item-description">
      
    <img src="{{thumbnailFilename}}" height="{{thumbY}}" width="{{thumbX}}">

    <div class="cart-item-detail">

    {{{ProductCodePrefix}}}<a href="/product.html?productCode={{ProductCode}}" class="show_underline {{ProductCodeClass}}">{{ProductCode}}</a>

    <p>{{ProductDescription}}</p>

      <p>{{{MoreExpected}}}{{{ShowBuyer}}}{{{ProductNotAvailable}}}{{{Cat_Description}}}</p>
      {{#if canEditPrice}}{{#if ShowPR}}<p class="right1 price-cart"><a href="/pr.html?ProductCode={{ProductCode}}">PRICE CHART</a></p>{{/if}}{{/if}}</td>

    <p>{{PerBox}} {{UofM}} / Carton</p>
    <p>{{QtyAvailable}} {{UofM}} / In stock</p>
  </div>
</div>
  <div class="cart-item-qty">
    <div class="center">
      <div class="{{addByLegacyTrueClass}}"><TMPL_INCLUDE NAME="addToCart.tmpl"></div>
      <div class="{{addByLegacyFalseClass}}">
        <input type="checkbox" class="addedByLegacyCheckbox" value=1 {{#if blockProduct}}{{else}}checked {{/if}} name="{{BlockName}}" unitPrice="{{UnitPrice}}" IndexNo="{{IndexNo}}" parentCode="{{ParentCode}}"> Include Add-on
      </div>
<TMPL_INCLUDE NAME="cartrow-template-addedToCart.tmpl">
</div>
  </div>
  
  <div class="cart-item-price">
    <p>{{ListPrice}} /{{UofM}}</p>
    <p class="right ShowPrice" IndexNo="{{IndexNo}}">
      <div>
        <TMPL_IF NAME="session_canEditPrice">
          <input class="setPrice" IndexNo="{{IndexNo}}" value="{{ShowPrice}}">
          <button class="setPriceButton" IndexNo="{{IndexNo}}" />
        <TMPL_ELSE>{{ShowPrice}} /{{UofM}}</TMPL_IF>
      </div>
<TMPL_INCLUDE NAME="cartrow-template-addedToCart.tmpl">
    </p>
    <p class="right Extended addedByLegacyExtended" IndexNo="{{IndexNo}}">{{Extended}}</p>
  </div>
    
    <img src="images/x-cl.gif" width="20" height="20" class="deleteFromCart {{addByLegacyTrueClass}}" IndexNo="{{IndexNo}}" onclick="deleteFromCart('{{IndexNo}}')">
  </article>
</script>
