<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_IF NAME="session_isGuest"><TMPL_ELSE><TMPL_INCLUDE NAME="buttonNavs.tmpl"></TMPL_IF>


<article>
    <header><h3><a href="https://macpac1.com/viewCatalog.html?page=FC">Browse our Catalog</a></h3></header>
    <div class="catalog-bookmarks">
        <div class="table1">
            <a href="viewCatalog.html?page=100" title="Section 100"><img src="images/01.png" alt="01" height="45" width="50">
            <p class="small">Door Knockers, Viewers, Chimes, House No.s, Mailboxes, Mailplates</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=200" title="Section 200"><img src="images/02.png" alt="02" height="45" width="50">
            <p class="small">Door Closers, Stops, Flush Bolts, Kick Plates, Push/Pull
            Plates, Thresholds, Weatherstrip</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=300" title="Section 300"><img src="images/03.png" alt="03" height="45" width="50">
            <p class="small">Door Locks, Knobs, Levers, Handlesets, Mortise Locks</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=400" title="Section 400"><img src="images/04.png" alt="04" height="45" width="50">
            <p class="small">Sliding Door Hardware, Flush Pulls, Folding/Pocket Door
            Hardware, Panic Hardware</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=400" title="Section 500"><img src="images/05.png" alt="05" height="45" width="50">
            <p class="small">Cabinet Knobs and Pulls</p></a><p class="update">Last update 06.19.17</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=600" title="Section 600"><img src="images/06.png" alt="06" height="45" width="50">
            <p class="small">Touch Latches, Catches, Cabinet Locks, Hasps</p><p class="update">Last update 04.12.17</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=700" title="Section 700"><img src="images/07.png" alt="07" height="45" width="50">
            <p class="small">Cabinet Hinges: European and Domestic</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=800" title="Section 800"><img src="images/08.png" alt="08" height="45" width="50">
            <p class="small">Cabinet Stays & Lifters, Door Hinges:  Butts, Pivots, Spring Hinges</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=900" title="Section 900"><img src="images/09.png" alt="09" height="45" width="50">
            <p class="small">Surface Bolts, Window Hardware and Locks</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1000" title="Section 1000"><img src="images/10.png" alt="10" height="45" width="50">
            <p class="small">Lighting: LED / Halogen, Vents, Grommets</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1100" title="Section 1100"><img src="images/11.png" alt="11" height="45" width="50">
            <p class="small">Veneer, Edgebanding, Wood Molding/Carvings, Laminate, Turnings, Cork</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1200" title="Section 1200"><img src="images/12.png" alt="12" height="45" width="50">
            <p class="small">Bath Hardware: Residential and Commercial, Closet Hardware</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1300" title="Section 1300"><img src="images/13.png" alt="13" height="45" width="50">
            <p class="small">Casters, Legs and Levelers, Tack Glides, Bumpers and Pads</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1400" title="Section 1400"><img src="images/14.png" alt="14" height="45" width="50">
            <p class="small">Shelf Brackets / Standards, Supports and Clips, Wood Corbels and Onlays,
            TV Swivels/Lifts, Cabinet Doors and Drawers</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1500" title="Section 1500"><img src="images/15.png" alt="15" height="45" width="50">
            <p class="small">Drawer Slides, Flipper Slides, Keyboard Supports, Appliance Lifts, Slide Specs</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1600" title="Section 1600"><img src="images/16.png" alt="16" height="45" width="50">
            <p class="small">Cabinet Accessories: Susans, Pull-Outs, Breadboards, Tambour,
            Kitchen Storage, Waste/Recycle Bins</p><p class="update">Last update 03.27.17</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1700" title="Section 1700"><img src="images/17.png" alt="17" height="45" width="50">
            <p class="small">Glue, Contact Cement, Caulk, Wood Repair, Stains and Lacquers, Abrasives, Tape, 
            Safety Products</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1800" title="Section 1800"><img src="images/18.png" alt="18" height="45" width="50">
            <p class="small">Screws, Staples, Brads, Anchors, Fasteners, Dowels</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=1900" title="Section 1900"><img src="images/19.png" alt="19" height="45" width="50">
            <p class="small">Hand Tools, Clamps, Jigs</p></a>
        </div>
        <div>
            <a href="viewCatalog.html?page=2000" title="Section 2000"><img src="images/20.png" alt="20" height="45" width="50">
            <p class="small">Power Tools, Blades, Bits, Cutters, CNC Tooling</p></a>
        </div>
        
    </div>
</article>



<h3>MacMurray Pacific Catalog Section Downloads</h3>
    <p>Our catalog is composed of twenty sections, each containing a different group of
    related products. Just click on the Catalog Section Numbers below and a PDF file will
    either open in a new browser window or download to your hard drive.</p>
    
<table class="table1">
    <tr>
        <td class="table1">
            <a href="catalog/General_Index2016_lr.pdf" title="Gen Index"><p class="small"><b>General Index</b><br/>
            Find page number by product name/vendor/description</p></a></td>
        <td class="table1">
            <a href="catalog/numerical_index2016_lr.pdf" title="Num Index"><p class="small"><b>Numerical Index</b><br/>
            Find page number by product code</p></a></td>
        <td class="table1">
            <a href="catalog/speedindex.pdf" title="Speed Index"><p class="small"><b>Cabinet Shop Speed Index</b><br/>
            Find page number for Cabinet Shop items</p></a></td>
        <td class="table1">
            <a href="catalog/remarks.pdf" title="Remarks"><p class="small"><b>Remarks and Policies</b><br/>
            Company Policies and Terms. Also see link at bottom of page.</p></a></td>
    <tr>
        <td class="table1">
            <a href="catalog/100.pdf" title="Section 100"><img src="images/01.png" alt="01" height="45" width="50">
            <p class="small"><b>Section 100 &lpar;412 Kb&rpar; :</b><br/>Door Knockers, Viewers, Chimes, House No.s, Mailboxes, Mailplates</p></a>
        </td>
        <td>
            <a href="catalog/200.pdf" title="Section 200"><img src="images/02.png" alt="02" height="45" width="50">
            <p class="small"><b>Section 200 &lpar;1.5 Mb&rpar; :</b><br/>Door Closers, Stops, Flush Bolts, Kick Plates, Push/Pull
            Plates, Thresholds, Weatherstrip</p></a>
        </td>
        <td>
            <a href="catalog/300.pdf" title="Section 300"><img src="images/03.png" alt="03" height="45" width="50">
            <p class="small"><b>Section 300 &lpar;7.3 Mb&rpar; :</b><br/>Door Locks, Knobs, Levers, Handlesets, Mortise Locks</p></a>
        </td>
        <td>
            <a href="catalog/400.pdf" title="Section 400"><img src="images/04.png" alt="04" height="45" width="50">
            <p class="small"><b>Section 400 &lpar;13.7 Mb&rpar; :</b><br/>Sliding Door Hardware, Flush Pulls, Folding/Pocket Door
            Hardware, Panic Hardware</p></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="catalog/500.pdf" title="Section 500"><img src="images/05.png" alt="05" height="45" width="50">
            <p class="small"><b>Section 500 &lpar;10.2 Mb&rpar; :</b><br/>Cabinet Knobs and Pulls</p></a><p class="update">Last update 06.19.17</p></a>
        </td>
        <td>
            <a href="catalog/600.pdf" title="Section 600"><img src="images/06.png" alt="06" height="45" width="50">
            <p class="small"><b>Section 600 &lpar;2.7 Mb&rpar; :</b><br/>Touch Latches, Catches, Cabinet Locks, Hasps</p><p class="update">Last update 04.12.17</p></a>
        </td>
        <td>
            <a href="catalog/700.pdf" title="Section 700"><img src="images/07.png" alt="07" height="45" width="50">
            <p class="small"><b>Section 700 &lpar;18.7 Mb&rpar; :</b><br/>Cabinet Hinges: European and Domestic</p></a>
        </td>
        <td>
            <a href="catalog/800.pdf" title="Section 800"><img src="images/08.png" alt="08" height="45" width="50">
            <p class="small"><b>Section 800 &lpar;5.5 Mb&rpar; :</b><br/>Cabinet Stays & Lifters, Door Hinges:  Butts, Pivots, Spring Hinges</p></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="catalog/900.pdf" title="Section 900"><img src="images/09.png" alt="09" height="45" width="50">
            <p class="small"><b>Section 900 &lpar;988 Kb&rpar; :</b><br/>Surface Bolts, Window Hardware and Locks</p></a>
        </td>
        <td>
            <a href="catalog/1000.pdf" title="Section 1000"><img src="images/10.png" alt="10" height="45" width="50">
            <p class="small"><b>Section 1000 &lpar;2.6 Mb&rpar; :</b><br/>Lighting: LED / Halogen, Vents, Grommets</p></a>
        </td>
        <td>
            <a href="catalog/1100.pdf" title="Section 1100"><img src="images/11.png" alt="11" height="45" width="50">
            <p class="small"><b>Section 1100 &lpar;1.6 Mb&rpar; :</b><br/>Veneer, Edgebanding, Wood Molding/Carvings, Laminate, Turnings, Cork</p></a>
        </td>
        <td>
            <a href="catalog/1200.pdf" title="Section 1200"><img src="images/12.png" alt="12" height="45" width="50">
            <p class="small"><b>Section 1200 &lpar;1.8 Mb&rpar; :</b><br/>Bath Hardware: Residential and Commercial, Closet Hardware</p></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="catalog/1300.pdf" title="Section 1300"><img src="images/13.png" alt="13" height="45" width="50">
            <p class="small"><b>Section 1300 &lpar;1.1 Mb&rpar; :</b><br/>Casters, Legs and Levelers, Tack Glides, Bumpers and Pads</p></a>
        </td>
        <td>
            <a href="catalog/1400.pdf" title="Section 1400"><img src="images/14.png" alt="14" height="45" width="50">
            <p class="small"><b>Section 1400 &lpar;4.4 Mb&rpar; :</b><br/>Shelf Brackets / Standards, Supports and Clips, Wood Corbels and Onlays,
            TV Swivels/Lifts, Cabinet Doors and Drawers</p></a>
        </td>
        <td>
            <a href="catalog/1500.pdf" title="Section 1500"><img src="images/15.png" alt="15" height="45" width="50">
            <p class="small"><b>Section 1500 &lpar;10.3 Mb&rpar; :</b><br/>Drawer Slides, Flipper Slides, Keyboard Supports, Appliance Lifts, Slide Specs</p></a>
        </td>
        <td>
            <a href="catalog/1600.pdf" title="Section 1600"><img src="images/16.png" alt="16" height="45" width="50">
            <p class="small"><b>Section 1600 &lpar;8.8 Mb&rpar; :</b><br/>Cabinet Accessories: Susans, Pull-Outs, Breadboards, Tambour,
            Kitchen Storage, Waste/Recycle Bins</p><p class="update">Last update 03.27.17</p></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="catalog/1700.pdf" title="Section 1700"><img src="images/17.png" alt="17" height="45" width="50">
            <p class="small"><b>Section 1700 &lpar;4.8 Mb&rpar; :</b><br/>Glue, Contact Cement, Caulk, Wood Repair, Stains and Lacquers, Abrasives, Tape, 
            Safety Products</p></a>
        </td>
        <td>
            <a href="catalog/1800.pdf" title="Section 1800"><img src="images/18.png" alt="18" height="45" width="50">
            <p class="small"><b>Section 1800 &lpar;4.1 Mb&rpar; :</b><br/>Screws, Staples, Brads, Anchors, Fasteners, Dowels</p></a>
        </td>
        <td>
            <a href="catalog/1900.pdf" title="Section 1900"><img src="images/19.png" alt="19" height="45" width="50">
            <p class="small"><b>Section 1900 &lpar;1.2 Mb&rpar; :</b><br/>Hand Tools, Clamps, Jigs</p></a>
        </td>
        <td>
            <a href="catalog/2000.pdf" title="Section 2000"><img src="images/20.png" alt="20" height="45" width="50">
            <p class="small"><b>Section 2000 &lpar;5 Mb&rpar; :</b><br/>Power Tools, Blades, Bits, Cutters, CNC Tooling</p></a>
        </td>
    </tr>
</table>
<br/>
<div id="complete"><a href="catalog/MP2016_Complete-3.pdf" title="MP 2016">
<img src="images/mp-cat.jpg" height="154" width="130" alt="catalog">
<p>MacMurray Pacific 2016 Catalog Complete Download: 39.7 Mb</p></a>
</div>
<br/>
<div class="center" style="clear: both">
<TMPL_INCLUDE NAME="salesNavs.tmpl">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
