<TMPL_INCLUDE NAME="header.tmpl">
  <p class="breadcrumb-header">
    <a href="productCats.html">Back to Product Categories</a>
    <TMPL_IF NAME="breadcrumbtext1"> / <a href="category.html?<TMPL_VAR NAME=" breadcrumblink1">"><TMPL_VAR
          NAME="breadcrumbtext1" escape=html></a></TMPL_IF>
    <TMPL_IF NAME="breadcrumbtext2"> / <a href="category.html?<TMPL_VAR NAME=" breadcrumblink2">"><TMPL_VAR
          NAME="breadcrumbtext2" escape=html></a></TMPL_IF>
  </p>

  <div class="product-results-wrap">
    <div class="product-filters-wrap">

      <!-- filter bar for full size -->

      <details id="pagecontrols" role="button" class="contrast outline" open>
        <summary><b>Page Controls</b></summary>
        <TMPL_INCLUDE NAME="pageControlsSelects.tmpl">
      </details>


      <details id="filtercontainer" role="button" class="contrast outline" open>
        <summary><b>Filters</b></summary>
        <TMPL_INCLUDE NAME="filters.tmpl">
      </details>
    </div>

    <div class="product-filters-modal-wrap">
           <!-- modal for mobile site -->

           <script>
            // modal controls
    
            function modalClose(modalID) {
              document.querySelector(modalID).removeAttribute('open');
            }
    
            function modalOpen(modalID){
              document.querySelector(modalID).setAttribute('open', true);
            }
    
          </script>
    
          <button class="secondary" onclick="openModal('sort-dialog')">Sort</button>
          <dialog id="sort-dialog" open>
            <article>
              <header>
                <Link to="#" aria-label="Close" class="close" />
                <p>
                  <strong>Sort</strong>
                </p>
              </header>
    
              <TMPL_INCLUDE NAME="pageControlsSelects.tmpl">
    
              <footer>
                <button className="secondary">
                  Cancel
                </button>
                <button>Confirm</button>
              </footer>
            </article>
          </dialog>
    
          <button class="secondary" onclick="openModal('filter-dialog')">Filter</button>
          <dialog id="filter-dialog">
            <article>
              <header>
                <Link to="#" aria-label="Close" class="close" />
                <p>
                  <strong>Filter</strong>
                </p>
              </header>
              <TMPL_INCLUDE NAME="filters.tmpl">
              <footer>
                <button className="secondary">
                  Cancel
                </button>
                <button>Confirm</button>
              </footer>
            </article>
          </dialog>
    </div>

    <div class="products-wrap">
      <TMPL_INCLUDE NAME="productChunk.tmpl">
    </div>

  </div>

  <p class="divider">&nbsp;</p>

  <div class="center" style="clear: both">
    <TMPL_INCLUDE NAME="salesNavs.tmpl">
  </div>

  <TMPL_INCLUDE NAME="jquery_favorite.tmpl">
    <TMPL_INCLUDE NAME="jquery_handleCart.tmpl">
      <TMPL_INCLUDE NAME="jquery_regHandleCart.tmpl">
        <TMPL_INCLUDE NAME="footer.tmpl">