<TMPL_INCLUDE NAME="header.tmpl">
  <p class="breadcrumb-header">
    <a href="productCats.html">Back to Product Categories</a>
    <TMPL_IF NAME="breadcrumbtext1"> / <a href="category.html?<TMPL_VAR NAME="breadcrumblink1">">
      <TMPL_VAR NAME="breadcrumbtext1" escape=html></a></TMPL_IF>
    <TMPL_IF NAME="breadcrumbtext2"> / <a href="category.html?<TMPL_VAR NAME="breadcrumblink2">">
      <TMPL_VAR NAME="breadcrumbtext2" escape=html></a></TMPL_IF>
  </p>

  <div class="product-results-wrap">
    <div class="product-filters-wrap">

      <!-- filter bar for full size -->

      <details id="pagecontrols">
        <summary role="button" class="secondary"><b>Sort</b></summary>
        <article>
        <TMPL_INCLUDE NAME="pageControlsSelects.tmpl">
        </article>
      </details>


      <details id="filtercontainer" open>
        <summary role="button" class="secondary"><b>Filters</b></summary>
        <article>
        <TMPL_INCLUDE NAME="filters.tmpl">
        </article>
      </details>
    </div>

    <div class="product-filters-modal-wrap">
      <!-- modal for mobile site -->

      <button class="secondary" onClick="openModal('sort-dialog')">
        <b>Sort</b>
      </button>

      <dialog id="sort-dialog">
        <article>
          <header>
            <p>
              <strong>Sort</strong>
            </p>
          </header>

          <TMPL_INCLUDE NAME="pageControlsSelects.tmpl">

            <footer>
              <button className="secondary" onClick="closeModal('sort-dialog')">
                Cancel
              </button>
              <button onClick="document.getElementById('page-controls-form').submit()">Update</button>
            </footer>
        </article>
      </dialog>

      <button class="secondary" onClick="openModal('filter-dialog')">
        <b>Filters</b>
      </button>

      <dialog id="filter-dialog">
        <article>        
          <TMPL_INCLUDE NAME="filters.tmpl">
            <footer>
              <button className="secondary" onClick="closeModal('filter-dialog')">
                Cancel
              </button>
              <button onClick="document.getElementById('filter-form').submit()">Update</button>
            </footer>
        </article>
      </dialog>
    </div>


    <script>
      /*
      * Modal
      *
      * Pico.css - https://picocss.com
      * Copyright 2019-2023 - Licensed under MIT
      */
      // Config
      const isOpenClass = "modal-is-open";
      const openingClass = "modal-is-opening";
      const closingClass = "modal-is-closing";
      const animationDuration = 400; // ms
      let visibleModal = null;

      // Open modal
      const openModal = (modalID) => {
        let modal = document.getElementById(modalID);
        modal.setAttribute("open", true);
      };

      // Close modal
      const closeModal = (modalID) => {
        let modal = document.getElementById(modalID);
        visibleModal = null;
        setTimeout(() => {
          document.documentElement.classList.remove(closingClass, isOpenClass);
          modal.removeAttribute("open");
        }, animationDuration);
      };
    </script>



    <div class="products-wrap">
      <TMPL_INCLUDE NAME="productChunk.tmpl">
    </div>

    <script>
      // TODO
      // Remove console.logs
      // Consolidate this. Too much code...
      //
      // plus minus buttons handler
      // see productChunk.tmpl for buttons
      var plusButton = document.getElementsByClassName('plus-button');
      console.log(plusButton)
      var minusButton = document.getElementsByClassName('minus-button');
      console.log(minusButton)
    
      // add handler
      for (var i = 0; i < plusButton.length; i++){
        var currentPlus = plusButton[i];
        currentPlus.addEventListener('click',function(event){
          var increment = 1;
          var calcVal = 0;
          var buttonClicked = event.currentTarget;
          var input = buttonClicked.parentElement.children[1];
          var um = buttonClicked.parentElement.children[4].innerHTML;
          var allowPartial = buttonClicked.parentElement.children[5].innerHTML;
          var caseQty = buttonClicked.parentElement.children[6].innerHTML;
          console.log("priced per: " + um);

          if (isNaN(parseInt(input.value))){
            input.value = calcVal;
            console.log("undefined set to 0");
            if (allowPartial == '') {
              allowPartial = 'Y';
              console.log("allow partial: " + allowPartial);
            } else {
              console.log("allow partial: " + allowPartial);
            }
          } 

          if (allowPartial == 'N') {
            increment = parseInt(caseQty);
          } else if (allowPartial == 'Y' && um == 'PR'){
            increment = 1;
          } else if (allowPartial == 'Y' && um == 'BX'){
            increment = 1;
          } else if (allowPartial == 'Y' && um == 'C'){
            increment = 100;
          } else if (allowPartial == 'Y' && um == 'M'){
            increment = 100;
          } else {
            increment = 1;
          }

          input.value = parseInt(input.value) + increment;

          console.log("CASE QTY: " + caseQty);
          console.log("Set Increment: " + increment);
          console.log("CALC val: " + input.value);
          
        })

      }

        // subtrac handler
        for (var i = 0; i < minusButton.length; i++){
        var currentMinus = minusButton[i];
        currentMinus.addEventListener('click',function(event){
          var minus = 1;
          var calcVal = 0;
          var buttonClicked = event.currentTarget;
          var input = buttonClicked.parentElement.children[1];
          var um = buttonClicked.parentElement.children[4].innerHTML;
          var allowPartial = buttonClicked.parentElement.children[5].innerHTML;
          var caseQty = buttonClicked.parentElement.children[6].innerHTML;
          console.log("priced per: " + um);

          if (isNaN(parseInt(input.value))){
            input.value = calcVal;
            console.log("undefined set to 0");
            if (allowPartial == '') {
              allowPartial = 'Y';
              console.log("allow partial: " + allowPartial);
            } else {
              console.log("allow partial: " + allowPartial);
            }
          } 
          
          if (allowPartial == 'N') {
            minus = parseInt(caseQty);
          } else if (allowPartial == 'Y' && um == 'PR'){
            minus = 1;
          } else if (allowPartial == 'Y' && um == 'BX'){
            minus = 1;
          } else if (allowPartial == 'Y' && um == 'C'){
            minus = 100;
          } else if (allowPartial == 'Y' && um == 'M'){
            minus = 100;
          } else {
            minus = 1;
          }

          if (parseInt(input.value) > 0) {
            // Don't allow under 0
            input.value = Math.max(0, parseInt(input.value) - minus);
          } else {
            input.value = parseInt(input.value);
          }



          console.log("CASE QTY: " + caseQty);
          console.log("Set Sub: " + minus);
          console.log("CALC val: " + input.value);
        })
      }

      //UM helper for non Handlebars templates 

      document.addEventListener("DOMContentLoaded", function() {
        var results = document.getElementsByClassName("price-um");
        for (var i = 0; i < results.length; i++) {
          var result = results[i];
          var content = result.innerHTML;
          if (content === "C") {
            result.innerHTML = "100pcs";
          } else if (content === "M") {
            result.innerHTML = "1000pcs";
          }
        }
      });

    </script>




  </div>

  <p class="divider">&nbsp;</p>

  <div class="center" style="clear: both">
    <TMPL_INCLUDE NAME="salesNavs.tmpl">
  </div>

  <TMPL_INCLUDE NAME="jquery_favorite.tmpl">
    <TMPL_INCLUDE NAME="jquery_handleCart.tmpl">
      <TMPL_INCLUDE NAME="jquery_regHandleCart.tmpl">
        <TMPL_INCLUDE NAME="footer.tmpl">