<TMPL_INCLUDE NAME="header.tmpl">
<div><a href="control.html?override=sales">Set Sales</a></div>
<div><a href="control.html?override=admin">Set Admin</a></div>
<div><a href="control.html?override=admin,sales">Set Admin,Sales</a></div>
<TMPL_INCLUDE NAME="footer.tmpl">
