<TMPL_INCLUDE NAME="header.tmpl">
    <TMPL_IF NAME="session_isGuest">
        <TMPL_ELSE>
            <TMPL_INCLUDE NAME="buttonNavs.tmpl">
    </TMPL_IF>

    <article>
        <header>
            <h3>Contact / <a href="#si">Services</a> / <a href="#ac">Accounts/Online Registration</a> / <a
                href="#dd">Directions</a></h3>
        </header>
    <p><b>MacMurray Pacific</b> is located at 568 Seventh Street, San Francisco, CA 94103. <a href="#dd"><b>Go here for
                driving directions.</b></a></p>
    <p><b>Hours of Operation:</b><br />
        (Phones) Monday - Friday, 8:00am to 5:00pm.<br />
        (Will Call) Monday - Friday, 8:30am to 4:00pm.</p><br />
    <p><img src="images/phone-icon.gif" height="60" width="85" alt="phone" style="vertical-align:middle">
        Phone: 415-552-5500 / Toll Free: 800-244-1455</p>
    <p><img src="images/fax-icon.gif" height="60" width="85" alt="fax" style="vertical-align:middle">
        Main/Orders Fax: 415-552-5840 / Accounting Fax: 415-552-0514</p>
    <p><img src="images/email-icon.gif" height="60" width="85" alt="email" style="vertical-align:middle">
        Email for Orders/General Inquiries: <a href="mailto:orders@macmurraypacific.com"
            class="products">orders@macmurraypacific.com</a></p>
    </article>
    
    <article>
    
    <header>
        <a name="si"></a>
        <h3>Sales Inquiries</h3>
</header>
    <p>Please take a look through our <a href="catalog.html" class="products"><b>Catalog</b></a> or browse around our <a
            href="productCats.html" class="products"><b>Product Categories</b></a>
        page to see if we have what you're looking for. For ordering / quote assistance or general inquiries you may
        send an
        email to our <a href="mailto:orders@macmurraypacific.com" class="products"><b>Sales Department</b></a> or
        contact us at
        415-552-5500, Monday to Friday, 8am to 5pm.</p><br />

    <h3>Will Call Counter</h3>
    <p>The will call counter is located on the first floor of our San Francisco office for order pickups.
        Hours are Monday to Friday, 8:30am - 4:00pm. When orders are called/faxed/emailed in,
        please allow plenty of time so the order can be ready for you when you get here.</p>
    </article>

    <article>
        <header>
    <a name="ac"></a>
    <h3>Open A New Account / <a href="pdf/credit-app.pdf" class="download"><b>Download Credit Application Here</b></a>
    </h3>
</header>
    <p>If you wish to apply for an account please download our <a href="pdf/credit-app.pdf" class="products">
            <b>credit application</b></a>. Note that MacMurray Pacific
        sells wholesale only to the trade meaning we favor clients who are interested in making long-term volume
        purchases.
        Please consider this before taking time to submit an application.</p>

    <h3>Online Access Registration / <a href="/regform.html" class="download" target="_blank"><b>Registration Form
                Here</b></a></h3>
    <p>If you already have an account with us and wish to start purchasing online, simply fill out our
        <a href="/regform.html" class="products" target="_blank"><b>registration form here</b></a>.
        Access will usually be confirmed within 24 hours.
    </p><br /><br />

    <h5 class="middle">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.7106714975566!2d-122.4061790844393!3d37.7733817797598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e2b0b0d5f6b%3A0x621358f93edfe329!2s568+7th+St%2C+San+Francisco%2C+CA+94103!5e0!3m2!1sen!2sus!4v1485467626871"
            width="600" height="450" allowfullscreen></iframe><br />
        <a href="https://goo.gl/maps/ASWhWqQVAPn" target="_blank"><br>View Larger Map</a>
    </h5>
</article>
<article>
    <header>
    <a name="dd"></a>
    <h3>Driving Directions</h3>
</header>
    <p><b>Coming from the South (101):</b><br /><br />
        Take 101 N towards San Francisco<br />
        Continue on 80 E towards the Bay Bridge<br />
        Take the 7th St. exit<br />
        Take right fork at bottom of exit which crosses 7th and puts you onto Bryant St.<br />
        Right on Gilbert St. after 7th St.<br />
        First right on Brannan St.<br />
        First right back onto 7th St.<br /><br />
        We are the blue building on the left-hand side in between Brannan and Bryant.</p><br /><br />

    <p><b>Coming from the East (Hwy 80 Bay Bridge):</b><br /><br />
        Take the Bay Bridge into San Francisco<br />
        Take the 9th St / Civic Center Exit<br />
        Take left fork at bottom of exit which puts you onto 8th St.<br />
        2nd left onto Brannan St.<br />
        1st left onto 7th St.<br /><br />
        We are the blue building on the left-hand side in between Brannan and Bryant.</p><br /><br />

    <p><b>Coming from the North (Golden Gate Bridge):</b><br /><br />
        Take 101 S over the Golden Gate Bridge<br />
        Continue on 101 S (Doyle Dr.)<br />
        Continue on 101 S (Lombard St.)<br />
        Turn right on Van Ness Ave.<br />
        Turn left on Golden Gate Ave.<br />
        Continue on 6th St. as it crosses Market<br />
        Turn right on Brannan St.<br />
        First right onto 7th St.<br /><br />
        We are the blue building on the left-hand side in between Brannan and Bryant.</p>

    </article>
    <div class="center" style="clear: both">
        <TMPL_INCLUDE NAME="salesNavs.tmpl">
    </div>

    <TMPL_INCLUDE NAME="footer.tmpl">