<!DOCTYPE html>

<html lang="en-US">
<head>
<title>MacMurray Pacific Statement</title>
<meta name="description" content="MacMurray Pacific Wholesale Hardware: Products For the Cabinet and Woodworking Industries">  
<meta name="keywords" content="MacMurray Pacific, wholesale hardware, cabinet hardware, woodworking supplies, door hardware, hardware wholesalers, California wholesalers, hinges, drawer slides, shop supplies, kitchen accessories">
<meta name="viewport" content="width=1100,  initial-scale=1, maximum-scale=.9, user-scalable=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="HandheldFriendly" content="true"/>
<link rel="stylesheet" type="text/css" href="invoice.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="icon" type="image/gif" href="images/bridge.gif">
</head>
<body>
<div id="invoicewrap">

<div id="top-right">
<h2>Statement</h2>
<table width="200">
    <tr>
        <td>Date:</td><td>10-01-16</td>
    </tr>
    <tr>
        <td>Customer No:</td><td>7575</td>
    </tr>
</table>
</div>

<div id="top-left">
<img src="images/macpac.gif" alt="macpac" width="250" height="62">
<p class="space">568 7th Street<br/>
San Francisco, CA 94103<br/>
Ph: 415-552-5500<br/>
Fx: 415-552-5840<br/></p>
</div>

<hr>
<br/>
<table class="inv-1">
    <tr>
    <th>Customer No.</th>
    <th>Customer Name</th>
    </tr>
    <tr>
        <td>7575</td>
        <td>Feist Cabinets & Woodworking</td>
    </tr>
</table>
<br/>
<br/>
<table class="inv-2">
<tr>
<th style="vertical-align:bottom">Date</th>
<th style="vertical-align:bottom">Activity Type</th>
<th style="vertical-align:bottom">Reference No.</th>
<th style="vertical-align:bottom">Cust PO</th>
<th style="vertical-align:bottom"class="align-right">Original<br/>Amount</th>
<th style="vertical-align:bottom"class="align-right">Remaining<br/>Amount</th>
<th style="vertical-align:bottom">Age</th>
<th style="vertical-align:bottom">Due</th>
</tr>
<tr>
<td>09-16-16</td>
<td>Invoice</td>
<td>16092549</td>
<td>SHOP</td>
<td class="right">131.80</td>
<td class="right">131.80</td>
<td>CUR</td>
<td>10-10-16</td>
</tr>
<tr>
<td>05-31-15</td>
<td>Lt Charge</td>
<td>824</td>
<td></td>
<td class="right">43.86</td>
<td class="right">43.86</td>
<td>120</td>
<td></td>
</tr>
</table>
<br/><br/>
<div class="ar">A/R Total: $175.66</div>

<div id="stmt-terms">
Payment is due by 10th of month following purchase, past due at <b>month end</b>. Unpaid balance is subject to a Service Charge of <b>1-1/2%</b> per month (<b>18%</b> annual).
Minimum Service Charge is <b>$2.00</b>.</div>

<div id="stmt-terms">
Please call our credit department with any questions concerning above balance. Invoices should be paid by due date. Customer is responsible for reasonable costs incurred by MacMurray Pacific
to collect past due amounts, including attorney's fees.</div>
<br/><br/><br/>
<hr class="dotted">
<p class="center">Remittance - Please write Account Number on your check.</p>

<div id="rem-2">
<table width="225">
    <tr>
        <td>Date:</td><td width="100">10-01-16</td>
    </tr>
    <tr>
        <td>Customer No:</td><td>15062728</td>
    </tr>
    <tr>
        <td>A/R Total<br/><br/></td><td>$175.66<br/><br/></td>
    </tr>
        <tr >
        <td>Amount Enclosed:</td><td class="border"></td>
    </tr>
</table>
</div>

<div id="rem-1">
<b>Send Payment To:</b><br/><br/>
MacMurray Pacific<br/>
PO Box 742553<br/>
Los Angeles, CA 90074-2553<br/><br/>
Thank You For Your Business!<br/>
</div>


</div>
</body>
</html>