<!DOCTYPE html>

<html lang="en-US">
<head>
<title>MacMurray Pacific Invoice</title>
<meta name="description" content="MacMurray Pacific Wholesale Hardware: Products For the Cabinet and Woodworking Industries">  
<meta name="keywords" content="MacMurray Pacific, wholesale hardware, cabinet hardware, woodworking supplies, door hardware, hardware wholesalers, California wholesalers, hinges, drawer slides, shop supplies, kitchen accessories">
<meta name="viewport" content="width=1100,  initial-scale=1, maximum-scale=.9, user-scalable=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="HandheldFriendly" content="true"/>
<link rel="stylesheet" type="text/css" href="invoice.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="icon" type="image/gif" href="images/bridge.gif">
</head>
<body>
<div id="invoicewrap">

<div id="top-right">
<h2>Invoice</h2>
<table width="200">
    <tr>
        <td>Invoice Date:</td><td>06-16-15</td>
    </tr>
    <tr>
        <td>Invoice No:</td><td>15062728</td>
    </tr>
    <tr>
        <td>Customer No:</td><td>7575</td>
    </tr>
</table>
</div>

<div id="top-left">
<img src="images/macpac.gif" alt="macpac" width="250" height="62">
<p class="space">568 7th Street<br/>
San Francisco, CA 94103<br/>
Ph: 415-552-5500<br/>
Fx: 415-552-5840<br/></p>
</div>

<hr>
<div id="bill-to">
<div class="sm-header">Bill To:</div>
<p class="space">Customer No: 17035<br/>
Rabello's Custom Cabinets<br/>
2075 Bering Drive<br/>
Unit W<br/>
San Jose, CA 95131<br/>
</div>

<div id="ship-to">
<div class="sm-header">Ship To:</div>
<p class="space">Customer No: 17035<br/>
Rabello's Custom Cabinets<br/>
2075 Bering Drive<br/>
Unit W<br/>
San Jose, CA 95131<br/>
</div>

<table class="inv-1">
<tr>
<th>Customer PO</th>
<th>Invoice No.</th>
<th>Invoice Date</th>
<th>Work Order / WB</th>
<th>Ship Via</th>
<th>Ctns</th>
<th>Weight</th>
</tr>
<tr>
<td>3057-1</td>
<td>15062728</td>
<td>06-16-15</td>
<td>625228 / 88</td>
<td>MP Charlie</td>
<td>3</td>
<td>10 lbs.</td>
</tr>
</table>
<br/>
<table class="inv-2">
<tr>
<th style="vertical-align:bottom">Line<br/>Item</th>
<th style="vertical-align:bottom">Product<br/>Code</th>
<th style="vertical-align:bottom">Description</th>
<th style="vertical-align:bottom">*</th>
<th style="vertical-align:bottom">Qty<br/>Ordered</th>
<th style="vertical-align:bottom">Qty<br/>Shipped</th>
<th style="vertical-align:bottom" class="align-right">Unit<br/>Price</th>
<th style="vertical-align:bottom" class="align-right">Per</th>
<th style="vertical-align:bottom" class="align-right">Ext<br/>Price</th>
</tr>
<tr>
<td>1</td>
<td>HC1</td>
<td>Heavy Duty 12' Hanging Rail</td>
<td>*</td>
<td>4</td>
<td>4</td>
<td class="right">15.85</td>
<td class="right">EA</td>
<td class="right">63.40</td>
</tr>
<tr>
<td>2</td>
<td>HC1</td>
<td>Heavy Duty 12' Hanging Rail</td>
<td>*</td>
<td>4</td>
<td>4</td>
<td class="right">15.85</td>
<td class="right">EA</td>
<td class="right">63.40</td>
</tr>
<tr>
<td>3</td>
<td>HC1</td>
<td>Heavy Duty 12' Hanging Rail</td>
<td>*</td>
<td>4</td>
<td>4</td>
<td class="right">15.85</td>
<td class="right">EA</td>
<td class="right">63.40</td>
</tr>
</table>
<p class="small">* Sales tax to be charged on taxable items</p>

<div id="totals">
<table width="200">
    <tr>
        <td>Merchandise Total:</td><td>00.00</td>
    </tr>
    <tr>
        <td>Taxable Total:</td><td>00.00</td>
    </tr>
    <tr>
        <td>Sales Tax:</td><td>00.00</td>
    </tr>
    <tr>
        <td>Freight:</td><td>00.00</td>
    </tr>
    <tr>
        <td>Handling/Invoice Chg:</td><td>00.00</td>
    </tr>
    <tr>
        <td><b>Invoice Total:</b></td><td><b>00.00</b></td>
    </tr>
</table>
</div>

<br/>

<div id="inv-due">Invoice Due By:<br/>11-10-16</div>


<div id="rem-1">
<b>Send Payment To:</b><br/><br/>
MacMurray Pacific<br/>
PO Box 742553<br/>
Los Angeles, CA 90074-2553<br/><br/>
Please write Account Number on your check. Thank You For Your Business!<br/>
</div>
<div id="inv-terms">
Payment is due by 10th of month following purchase, past due at <b>month end</b>. 1-1/2% Service Charge on past due balance.
Customer is responsible for reasonable costs incurred by MacMurray Pacific to collect past due amounts, including attorney's fees.
Please call our credit department with any questions concerning above balance.
</div>

</div>
</body>
</html>