

<article class="customer-prompt">

	<form name="verifyForm" action="/setcust.html" method="post">
					<p>Enter a Customer Account or Name:</p>
					<input name="custCode" value="<TMPL_VAR NAME="user_custCode" ESCAPE=HTML>" id="fieldCustCode" class="getcust">
					<input type="submit" name="Submit" value="Continue" class="newbutton2" >
	</form>	

	<nav class="customer-prompt-menu">
		<TMPL_INCLUDE NAME="salesNavs.tmpl">
	</nav>

</article>


<br/>
<script><!--
  document.getElementById('fieldCustCode').focus();
--></script>
