<TMPL_INCLUDE NAME="header.tmpl">


<h3>Salesmen Forms/Docs</h3>
<br/>

<p><b>Vendor ETAs</b></p>
<table class="table5">
    <tr>
        <td><a href="tools/DrawerSlideAvailability_010923.pdf" title="Drawer Slides" class="products">Drawer Slide Availability - 01/09/23</a></td>
    </tr>
        <tr>
        <td><a href="tools/RAS_BackordersList120522.xlsx" title="Rev-A-Shelf" class="products">Rev-A-Shelf Backorder List on our Stock POs - 12/05/22 - 12/19/22</a></td>
    </tr>
</table>
<br/>

<p><b>Expense Reports</b></p>
<table class="table5">
    <tr>
        <td><a href="tools/MonthlyExpenseReports.xls" title="Expense Reports" class="products">Monthly Expense Report</a></td>
    </tr>
    <tr>
        <td><a href="forms/EntertainmentExpense.pdf" title="Expense Reports" class="products">Entertainment Expense Report</a></td>
    </tr>
</table>
<br/>



<p><b>Product Promos / Bonuses</b></p>
<table class="table5">
    <tr>
        <td><a href="tools/MAK23_Specials.pdf" class="products">Maksiwa 2023 Special Promo</a></td>
    </tr>
    <tr>
        <td><a href="tools/5D-bonus.pdf" class="products">Hettich Actro 5D Bonus</a></td>
    </tr>
    <tr>
        <td><a href="bulletins/NewStar_PromoV2.pdf" class="products">Newstar Everstrong Promo</a></td>
    </tr>
        <tr>
        <td><a href="bulletins/MP-Showroom_Bonus2020.pdf" class="products">Showroom Bonus: Vauth Sagel</a></td>
    </tr>
    <tr>
        <td><a href="bulletins/MP-Bracket_Bonus2020.pdf" class="products">Product Bonus: ADA Modesty Panel Brackets</a></td>
    </tr>
    </table>
<br/>

<p><b>Product Conversion Resources</b></p>

<table class="table5">
    <tr>
        <td><a href="tools/SlideComparision822.pdf" title="Slide Comparison" class="products">Undermount Slide Comparison Chart</a></td>
    </tr>
        <tr>
        <td><a href="tools/DS-pricing.pdf" title="pricing" class="products">Drawer Slide Comparison - Pricing/Features</a></td>
    </tr>
        </table>
<br/><br/>

Hettich<br/>
<table class="table5">
        <tr>
        <td><a href="tools/HettichClips.pdf" title="Hettich Clips" class="products">Hettich Clip options</a></td>
    </tr>
    </table>
<br/><br/>

Grass DynaPro<br/>
<table class="table5">
    <tr>
        <td><a href="tools/DP-Spiff_02-20.pdf" title="DynaPro Spiffs" class="products">2020 Spiff on DynaPro Slide Conversions</a></td>
    </tr>
        <tr>
        <td><a href="tools/DynaproTipmatic-vs-BlumTip-on_2.pdf" title="DynaPro-vs-Blum" class="products">Grass Dynapro Tipmatic vs. Blum Movento Tip-on</a></td>
    </tr>
    </table>
<br/><br/>


Salice<br/>
<table class="table5">
    <tr>
        <td><a href="tools/conversionbonus_20.pdf" title="Salice Bonus" class="products">2020 Bonus for Salice Hinge Conversions</a></td>
    </tr>
    <tr>
        <td><a href="tools/SaliceDemo_lo.pdf" title="Salice Demo" class="products">Salice vs. Blum / Demo Info</a></td>
    </tr>
    <tr>
        <td><a href="tools/Frameless-SaliceVs.Blum_lo.pdf" title="Salice Demo" class="products">Salice vs. Blum / Demo Info - Frameless Cabinets</a></td>
    </tr>
    <tr>
        <td><a href="tools/SalesMeetingNotes0620.pdf" title="Salice Demo" class="products">Sales Meeting Notes 06/20 - Hinge Machines</a></td>
    </tr>
        <tr>
        <td><a href="tools/Mach_update061020.pdf" title="Salice Demo" class="products">Machinery Update 06/20: Procedure for ordering Hinge Machinery</a></td>
    </tr>
</table>
<br/>

Vauth Sagel<br/>
<table class="table5">
    <tr>
        <td><a href="tools/CStoneMaxx_Features.pdf" title="CS Maxx" class="products">Cornerstone Maxx Features</a></td>
    </tr>
</table>
<br/><br/>

<b>Vendor Price Lists</b><br/>
<table class="table5">
    <tr>
        <td><a href="tools/MaksiwaPriceList-09.01.2022" title="Maksiwa" class="products">Maksiwa Price List</a></td>
    </tr>
</table>
<br/>

<b>Rocky Mountain</b><br/>
<table class="table5">
    <tr>
        <td><a href="tools/RM-displays.pdf" title="Display Boards" class="products">Rocky Mountain Express - Display Board Program</a></td>
    </tr>
</table>
<br/>

<b>Luxe/Zenit/Syncron Panels</b><br/>
<table class="table5">
    <tr>
        <td><a href="tools/LioherPanels_v3.pdf" title="panels" class="products">Luxe/Zenit/Syncron 4 x 9 Panels available locally and <b>stocking edgeband to match</b></a></td>
    </tr>
</table>
<br/>

<p><b>Vendor Forms</b></p>
<table class="table5">
    <tr>
        <td><a href="forms/emtekship-toform.pdf">Emtek Direct Ship Form</a></td>
    </tr>
    <tr>
        <td><a href="forms/Customersampleinquirysheet_v2.pdf">Vauth Sagel Showroom</a></td>
    </tr>
</table>
<br/>


<br/><br/>

<div class="center" style="clear: both">

<TMPL_INCLUDE NAME="salesNavs.tmpl">
</div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
