<header class="filter-header">
  <p>
    <strong>Filter</strong>
  </p>
</header>
<TMPL_IF NAME="showFilters">

  <form id="filter-form" method="post" action="/category.html">

    <legend class="filter-legend">Manufacturer</legend>
    <TMPL_IF NAME="vendors">
      <TMPL_LOOP NAME="vendors">
        <label class="vendor" for="vendor">
          <input type="checkbox" name="vendor_<TMPL_VAR NAME="VendorCode">"<TMPL_VAR NAME="checked">
            value=1> <TMPL_VAR NAME="VendorName">
        </label>
      </TMPL_LOOP>
    </TMPL_IF>

    <TMPL_IF NAME="filters">
      <fieldset class="filter-form">
      <!-- no longer needed <legend class="filter-legend">Filters</legend> -->
        <TMPL_LOOP NAME="filters">
          <legend class="filter-legend"><TMPL_VAR NAME="filter"></legend>
            <div class="filter-values">
            <TMPL_LOOP NAME="values">
              <label>
              <input type="checkbox" name="filter_<TMPL_VAR NAME="key">"<TMPL_VAR NAME="checked"> value="<TMPL_VAR
                  NAME="value" ESCAPE="HTML">">
                  <TMPL_VAR NAME="value">
              </label>
            </TMPL_LOOP>
            </div>
            <input role="button" type="submit" value="Update" class="newbutton">
        </TMPL_LOOP>
      </fieldset>
    </TMPL_IF>


    <TMPL_IF NAME="cat">
      <input type="hidden" name="cat" value="<TMPL_VAR NAME=" cat" escape=html>">
    </TMPL_IF>
    <TMPL_VAR NAME="hiddenParameters">
  </form>
</TMPL_IF>