
  <div id="filters">

    <TMPL_IF NAME="showFilters">

      <form method="post" action="/category.html">
        
          <legend class="filter-legend">Manufacturer</legend>
          <TMPL_IF NAME="vendors">
            <TMPL_LOOP NAME="vendors">
              <label for="vendor">
                <input type="checkbox" name="vendor_<TMPL_VAR NAME=" VendorCode">"<TMPL_VAR NAME="checked">
                  value=1> <TMPL_VAR NAME="VendorName">
              </label>
            </TMPL_LOOP>


            <input type="submit" value="Update" class="newbutton">

          </TMPL_IF>

          <TMPL_IF NAME="filters">

            <legend class="filter-legend">Filters</legend>

            <input type="submit" value="Update" class="newbutton">

            <TMPL_LOOP NAME="filters">

              <TMPL_VAR NAME="filter">

                <TMPL_LOOP NAME="values">

                  <input type="checkbox" name="filter_<TMPL_VAR NAME=" key">"<TMPL_VAR NAME="checked"> value="
                    <TMPL_VAR NAME="value" ESCAPE="HTML">">

                      <TMPL_VAR NAME="value">


                </TMPL_LOOP>
            </TMPL_LOOP>

          </TMPL_IF>


          <TMPL_IF NAME="cat">
            <input type="hidden" name="cat" value="<TMPL_VAR NAME=" cat" escape=html>">
          </TMPL_IF>

          <input type="submit" value="Update" class="newbutton">
          <TMPL_VAR NAME="hiddenParameters">

      </form>
    </TMPL_IF>

  </div>

