<TMPL_IF NAME="CatalogPageNo">
<a href="http://macmurraypacific.com/web_catalogImages/<TMPL_VAR NAME="CatalogPageNo">.png" target="_blank"><TMPL_VAR NAME="ProductCode"></a>
<TMPL_ELSE>
<TMPL_VAR NAME="ProductCode">
</TMPL_IF>
