<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_IF NAME="session_isGuest"><TMPL_ELSE><TMPL_INCLUDE NAME="buttonNavs.tmpl"></TMPL_IF>

<h3>Order Forms / <a href="#Lit" class="products">Product Literature/Charts</a> /
<a href="#Install" class="products">Installation Instructions</a> /
<a href="#Cert" class="products">Quality Certifications/Safety Data Sheets</a> /<br/>
<a href="#webtools" class="products">Web Tools</a> / 
<a href="#pricing" class="products">Price Lists</a></h3>
<br/>
<a name="Vendor5265"></a>
<a name="Vendor5328"></a>
<a name="Vendor3095"></a>
<a name="Vendor3190"></a>
<a name="Vendor6610"></a>
<p><b>Drawer Boxes</b></p>
<div class="db">
<table class="table2">
    <tr>
        <td><p><a href="forms/california_drawers-new.pdf" title="California Drawers">
        <img src="images/cal-drawer.png" alt="cal-drawer" height="129" width="100"><br/><b>California Drawers</b></a></p>
        <p><a href="forms/Calif_Drawer_v3.pdf" title="California Drawers">California Drawers<br/>Form w/ extra order lines</a></p></td>
        
        <td><p><a href="forms/CA_Dovetail_Order_Aug2014.pdf" title="Cal Dovetail">
        <img src="images/cal-dove.png" alt="cal-dovetail" height="129" width="100"><br/><b>California Dovetail</b></a></p></td>
        
        <td><div class="f-l"><a href="forms/Cimarron0719.pdf" title="Cimarron Drawers PDF">PDF<br/>
        <img src="images/cimarron.png" alt="cimarron"></div>
        <a href="forms/Cimarron0719.xls" title="Cimarron Drawers Excel">Excel<br/>
        <img src="images/cimarron.png" alt="cimarron">
        
        <br/><b>Cimarron Drawers</b></a></td>
        
        <td><p><a href="forms/dbsform-1.pdf" title="DBS">
        <img src="images/dbs.png" alt="dbs" height="129" width="100"><br/><b>Drawer Box Specialties</b></a></p></td>
                
        <td><p><a href="forms/westdove.pdf" title="Western Dovetail form">
        <img src="images/westdove.png" alt="western dovetail" height="129" width="100"><br/><b>Western Dovetail</b></a></p></td>
    </tr>
</table>
</div>
<br/><br/>

<a name="Vendor7787"></a>
<p><b>Northern Contours</b></p>
<div class="northern">
    <table class="table2">
        <tr>
            <td><p><a href="forms/3DL_2DLOrderForm.pdf" title="Norther Contours Doors">
            <img src="images/nc-01.jpg" alt="Northern Contours Doors" height="129" width="100"><br/><b>Door/Drawer Fronts</b></a></p></td>
            <td><p><a href="forms/SpectrumSeriesOrderForm.pdf" title="Wood Veneer Doors">
            <img src="images/nc-02.jpg" alt="Wood Veneer Doors" height="129" width="100"><br/><b>Wood Veneer Door/Drawer Fronts</b></a></p></td>
            <td class="tdleft"><a href="http://www.northerncontours.com/" target="_blank"><img src="images/ncontours.png" alt="northern contours" height="69" width="125">
            <p><b>Visit Northern Contours for additional information, order forms and literature</b></p></a></td>
        </tr>
    </table>
</div>
<br/><br/>

<p><b>Salice</b></p>
    <table class="table2">
        <tr>
            <td><a href="forms/SaliceOrderFormSliderM50+.pdf" title="Slider M50+"><p><b>Salice Slider M50+ Form</p>
            <img src="images/M50.jpg" alt="Form"></a></td>
            <td><a href="forms/SaliceOrderFormSliderL70.pdf" title="Slider L70"><p><b>Salice Slider L70 Two Doors Form</p>
            <img src="images/L70.jpg" alt="Form"></a></td>
            <td><a href="forms/Excedra_form.pdf" title="Pocket Door Order Form"><p><b>Salice Exedra Form<br/>for Single Pocket Doors</b></p>
            <img src="images/new-pocket.jpg" alt="Pocket Door Form" height="129" width="100"></a></td>
            <td><a href="forms/OrderForm-Exedra2STAR.pdf" title="Exedra2 Star"><p><b>Salice Exedra2 STAR Form<br/>for Double Bifold/ Pocket Doors</b></p>
            <img src="images/EX2.jpg" alt="Form"></a></td>
            <td><a href="forms/OrderForm-Exedra2SMART.pdf" title="Exedra2 Smart"><p><b>Salice Exedra2 SMART Form<br/>for Double Bifold/ Pocket Doors</b></p>
            <img src="images/EX2.jpg" alt="Form"></a></td>
            </tr>
            </table>
            <br/><br/>

<p><b>Other Order Forms</b></p>
<table class="table2">
    <tr>
        <td><a href="forms/abetform.pdf"><p><b>Abet Laminati</b></p>
        <img src="images/abet.jpg" alt="Abet Laminati" height="129" width="100"></a></td>
        <td><a href="forms/MP_custom-cut-chromapath-order-form.pdf"><p><b>LED Fixtures/Aluminum Channels</b></p>
        <img src="images/channel_form.jpg" alt="Elemental"></a></td>
        <td><a href="forms/EFI-Door-Order-Form-MP.pdf" title="EFI Door Order Form"><p><b>EFI Door Order Form</b></p>
        <img src="images/EFI-1.jpg" alt="Door Form"></a></td>
        <td><a href="forms/Lift-door-order-Form.pdf" title="EFI Lift Door Order Form"><p><b>EFI Lift Door Order Form</b></p>
        <img src="images/EFI-1.jpg" alt="Door Form"></a></td>
    </tr>
    <tr>
        <td><a href="forms/MP_DoorHardwareOrderForm.pdf" title="Door Hardware Order Form"><p><b>Door Hardware Order Form</b></p>
        <img src="images/mp-doorform.jpg" alt="Door Form"></a></td>
        <td><a href="forms/Olympus_Form.pdf"><p><b>Olympus Locks</b></p>
        <img src="images/o-form.jpg" alt="Olympus"></a></td>
        <td><a href="forms/Lioher_OrderForm.pdf"><p><b>Luxe/Syncron/Zenit PDF order form</b></p>
        <img src="images/lioher-f.jpg" alt="Lioher"></a></td>
        <td><a href="forms/putnam_ladders.pdf"><p><b>Putnam Rolling Ladder</b></p>
        <img src="images/putnam.jpg" alt="Rolling Ladder" height="129" width="100"></a></td>
    </tr>
    <tr>
        <td><a href="forms/ROCKY-orderform.pdf"><p><b>Rocky Mountain PDF Form</b></p></a>
        <a href="forms/RMH-Order-Form_V2-1.xls"><p><b>Rocky Mountain Excel Form</b></p></a>
        <img src="images/rocky.jpg" alt="Rocky Mountain" height="100" width="129"></a></td>
    </tr>
</table>
<br/>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/>
<a name="Lit"></a>
<p><b>Literature / Charts / Cut Sheets</b></p>

<table class="table5">
    <tr>
        <td class="logo"><a href="https://www.baldwinhardware.com/" title="Baldwin" target="_blank" class="products">
        <img src="images/logos/bald.jpg" alt="Baldwin"></a></td>
        <td><a href="https://catalogs.baldwinhardware.com/Quick-Ship-Program/1/" target="_blank"><p>Baldwin Quickship Program Nov 2022</p></a></td> 
    </tr>
</table>
<br/>
<a name="Chem"></a>
<table class="table5">
    <tr>
        <td class="logo" rowspan="5"><a href="https://chemcraft.com/en/" title="Chemcraft" target="_blank" class="products">
        <img src="images/logos/chem-logo.gif" alt="Chemcraft"></a></td>
        <td><b>Chemcraft Product Data Sheets</b>
        <p>Pre-Catalyzed Products</p>
        <a href="tools/431-85XX.pdf">Opticlear Light 550 Clear Topcoat 431-85XX</a><br/>
        <a href="tools/431-1961.pdf">Optiseal 550 Clear Sealer 431-1961</a><br/>
        <a href="https://chemcraft.com/mpi/detail/PrecatProdDetail/3" target="_blank">Varicure 275 Clear Top Coat 431-17XX</a><br/>
        <a href="https://chemcraft.com/mpi/detail/PrecatProdDetail/5" target="_blank">Variseal 275 Clear Sealer 431-1701</a><br/>
        <a href="tools/545-5900.pdf">Optiprime 275 White Primer 545-5900</a><br/>
        <a href="tools/546-5900.pdf">Optiseal 275 Clear Sealer 546-5900</a><br/>
        <a href="tools/546-5900.pdf">Optiseal 275 Clear Sealer 546-5900</a><br/>
        <a href="https://chemcraft.com/mpi/detail/PrecatProdDetail/10" target="_blank">Variset 275 Pigmented Top Coat 131-17XX</a><br/>
        <a href="https://chemcraft.com/mpi/detail/PrecatProdDetail/25" target="_blank">Optiset 550 White Pigmented Top Coat 131-82XX</a><br/>
        <a href="tools/546-8900.pdf">Chemvinyl 275 Nitrocellulose Clear Sealer 546-89XX</a><br/>
        </td>
        <td><p>Post-Catalyzed Products</p>
        <a href="tools/421-71XX.pdf">Covar 275 Conversion Varnish Clear Top Coat 421-71XX</a><br/>
        <a href="tools/117-71XX.pdf">Covar 275 White Conversion Varnish Top Coat 117-71XX</a><br/>
        <a href="tools/117-19XX.pdf">Plasticolor 275 White Top Coat 117-19XX</a><br/>
        <a href="tools/117-10XX.pdf">Plasticolor 550 White Top Coat 117-10XX</a><br/>
        <a href="tools/522-1420.pdf">Plastiprimer Hardwood White Primer 522-1420</a><br/>
        <a href="tools/421-84XX.pdf">E-Var 275 Clear Top Coat 421-84XX</a><br/>
        <a href="tools/421-82XX.pdf">E-Var 550 Clear Top Coat 421-82XX</a><br/>
        </td></tr>
        <tr>
        <td><p>Waterborne Products</p>
        <a href="tools/423-29XX.pdf">Aqualux 275 Waterborne Clear Top Coat 423-29XX</a><br/>
        <a href="tools/550-1600.pdf">Aquaprime Waterborne White Primer 550-1600</a><br/>
        <a href="tools/550-1602.pdf">Aquaprime II Waterborne Neutral Primer 550-1602</a><br/>
        <a href="tools/550-1611.pdf">Aquaprime Waterborne White Stainblock Primer 550-1611</a><br/>
        </td>
        <td>
        <p>Stain / Stain Base</p>
        <a href="tools/825-39XX.pdf">Promatch C-Mix 275 Wiping Stain 825-39XX</a><br/>
        <a href="tools/825-9300.pdf">Promatch C-Mix 240 Stain Base 825-9300</a><br/>
        <a href="tools/890-6720.pdf">Low VOC Spray Stain Base 890-6720</a><br/>
        <a href="tools/824-2912.pdf">Promatch Aqua Waterborne Spray Stain Base 824-2912</a><br/>
        <a href="tools/890-82XX.pdf">Promatch Dye Concentrates 890-82XX</a><br/>
        </td>
    </tr>
    <tr>
        <td>
        <p>Catalysts / Solvents</p>
        <a href="tools/873-1205.pdf">Catalyst 873-1205</a><br/>
        <a href="tools/873-0870.pdf">Catalyst 873-0870</a><br/>
        <a href="tools/800-5742.pdf">Retarder 800-5742</a><br/>
        <a href="tools/800-5500.pdf">Acetone 800-5500</a><br/>
        </td>
    </tr>
    <tr>
    <td><br/><b>Chemcraft How To Video PDFs</b><br/><br/>
    <a href="tools/WhiteWoodSanding.pdf">White Wood Sanding</a><br/>
    <a href="tools/Catalyzation.pdf">Catalyzation</a><br/>
    <a href="tools/Agitation.pdf">Agitation</a><br/>
    <a href="tools/Viscosity.pdf">Viscosity</a><br/>
    <a href="tools/BeginningSprayTechniques.pdf">Beginning Spray Techniques</a><br/>
    <a href="tools/IntercoatSanding.pdf">Intercoat Sanding</a><br/>
    <a href="tools/PreventingCommonFinishingProblems.pdf">Preventing Common Finishing Problems</a><br/>
    <a href="tools/WhyUseWaterborneCoatings.pdf">Why Use Waterborne Coatings</a><br/>
    <a href="tools/HowtoUseWaterborneCoatings.pdf">How to use Waterborne Systems</a><br/>
    <a href="tools/HowtousePromatchC-MixWipeStains.pdf">How to use Promatch C-Mix Wipe Stains</a><br/>
    <a href="tools/HowtousePromatchVividSprayStains.pdf">How to use Promatch Vivid Spray Stains</a><br/>
    <a href="tools/HowToUseTwo-PartoraVerdePolyurethanes.pdf">Why and How to Use Two-Part ora Verde Polyurethanes</a><br/>
    <a href="tools/ClearPre-CatalyzedVarisealandVaricure.pdf">Clear Pre-Catalyzed Variseal and Varicure System</a><br/>
    <a href="tools/PigmentedPre-CatalyzedVarisetPrimerandVarisetTC.pdf">Pigmented Pre-Catalyzed Variset Primer and Variset Topcoat System</a><br/>
            </td>
    </tr>
    <tr>
    <td><br/><a href="tools/TroubleshootingGuide.pdf"><b>Chemcraft Troubleshooting Guide</b></a>
    </td>
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo" rowspan="3"><a href="https://dockingdrawer.com/" title="Docking Drawer" target="_blank" class="products">
        <img src="images/logos/dd-logo.jpg" alt="dd"></a></td>
        <td><a href="tools/DockingDrawer_Success.pdf"><p>Docking Drawer Success Story</p></a></td>
    </tr>
    <tr>
        <td><a href="tools/Spec-Book-BladeSeries-030422.pdf"><p>Docking Drawer Spec Book March 2022</p></a></td> 
    </tr>
    <tr>
         <td><a href="tools/Electric-Certifications.pdf"><p>Docking Drawer Electrical Certifications - What you Need to Know</p></a></td>
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="https://www.efi-us.com/" title="EFI" target="_blank" class="products">
        <img src="images/logos/efi-logo.gif" alt="efi"></a></td>
        <td><a href="tools/2019_EFI-Brochure.pdf"><p>EFI Aluminum Frames, Colored & Etched Glass and Resin panels</p></a></td> 
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="https://www.festoolusa.com/" title="Festool" target="_blank" class="products">
        <img src="images/logos/festool_sm.jpg" alt="Festool"></a></td>
        <td><a href="https://www.festoolusa.com/knowledge/downloads#Catalogs" target="_blank"><p>2023 Festool Catalog Downloads</p></a></td> 
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo" rowspan="6"><a href="http://www.grassusa.com/" title="Grass" target="_blank" class="products">
         <img src="images/logos/grass_sm.gif" alt="grass" width="125" height="26"></a></td>
         <td><a href="tools/GrassDP_Comparison.pdf"><p>DynaPro vs DynaPro2 comparison chart</p></a></td>
         </tr>
         <tr><td><a href="tools/Grass_Sensomatic_Specs.pdf"><p>Sensomatic Specs</p></a>
         <a href="tools/Grass_Sensomatic_Installation.pdf"><p>Sensomatic Installation</p></a>
        <a href="tools/Grass_Senso_Certificate.pdf"><p>Sensomatic Certificate</p></a>
        <a href="tools/Grass_Senso_Declaration_2020.pdf"><p>Sensomatic Declaration of Conformity</p></a></td>
    </tr>
    <tr>
         <td><a href="tools/DP-I_Install.pdf"><p>DynaPro Depth Adjustment installation</p></a></td>
    </tr>
    <tr>
         <td><a href="tools/Flyer_Dynapro2019.pdf"><p>DynaPro Sales Flyer</p></a></td>
    </tr>
    <tr>
          <td><a href="tools/SpecSheet_Dynapro.pdf"><p>DynaPro Cut Sheet</p></a></td>
    </tr>
        <td><a href="tools/SpecSheet_Vionaro.pdf"><p>Vionaro Cut Sheet</p></a></td>
      </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo" rowspan="4"><a href="https://www.hettich.com/us_EN/home.html" title="Hettich" target="_blank" class="products">
        <img src="images/logos/hettich.gif" alt="hettich"></a></td>
        <td><a href="tools/Actro_5D_argumentation_folder_en.pdf"><p>Hettich Actro 5D Brochure</p></a></td></tr>
        <tr>
        <td><a href="tools/Hettich5DTestReportDINEN-Actro5Dwoodendrawerdoc2.pdf"><p>Hettich Actro 5D Test Report</p></a></td></tr>
        <td><a href="tools/QuadroIW21_2D-V6-new.pdf"><p>Hettich Quadro V6 IW21 2D, 4D, 6+  Slide brochure - 10/2021</p></a></td>
    </tr>
       <tr>
        <td><a href="tools/HettichChangeoverfromcompetitionWoodDrawers2021.pdf"><p>Hettich Changeover from competition - Wood Drawers 2021</p></a></td>
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo" rowspan="3"><a href="http://www.jowat.com/en-US/" title="Jowat" target="_blank" class="products">
         <img src="images/logos/jowat_sm.jpg" alt="jowat" width="115" height="42"></a></td>
        <td><a href="forms/Jowat_PUR_For_HolzHer_GluJet.pdf"><p>Holz-Her Machines running Jowat PUR</p></a></td>
   </tr>
   <tr>
        <td><a href="tools/608.00Brochure.pdf"><p>Jowat PUR 608.00 Edgebanding Adhesive</p></a></td>
    </tr>
    <tr>
         <td><a href="tools/Jowat_608.00.pdf"><p>Jowat PUR 608.00 Technical Data Sheet</p></a></td>
    </tr>
</table>
<br/>
<table class="table5">
    <tr>
        <td class="logo" rowspan="2"><a href="http://www.lioher.com/" title="Lioher" target="_blank" class="products">
         <img src="images/logos/lioher.gif" alt="Lioher"></a></td>
          <td><a href="tools/catalog-luxe-zenit-2.pdf"><p>Lioher Catalog: Luxe and Zenit</p></a></td>
    </tr>
        <td><a href="tools/Lioher_Brochure-lo.pdf"><p>Lioher Brochure</p></a></td>
      </tr>
</table>
<br/>
<table class="table5">
    <tr>
        <td class="logo" rowspan="2"><a href="http://www.doorhdwe.com/flattrack.shtml" title="Leatherneck" target="_blank" class="products">
        <img src="images/logos/l-neck.gif" alt="leatherneck" width="57" height="55"></a></td>
        <td><a href="tools/LeatherneckCatalog.pdf"><p>Leatherneck Flat Track Catalog</p></a></td> 
    </tr>
    <tr>
        <td><a href="tools/leatherneck-ordering_v2.pdf"><p>Leatherneck Ordering Guide/Pricing</p></a></td>
    </tr>
</table>
<br/>


<table class="table5">
    <tr>
        <td class="logo">
         <img src="images/logos/maksiwa.jpg" alt="Maksiwa"></td> 
        <td><a href="https://maksiwa.com/usa/wp-content/uploads/sites/7/2022/03/Catalog-2022.pdf" title="Maksiwa Catalog" class="products">Maksiwa Catalog</a><br/>
        <a href="tools/MaksiwaFlyer_lo.pdf">Maksiwa Brochure</a></td>
        </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="http://www.mohawk-finishing.com/" title="Mohawk" target="_blank" class="products">
         <img src="images/logos/mohawk.gif" alt="Mohawk"></a></td> 
        <td><a href="bulletins/EpoxySticks.pdf" title="Epoxy Sticks" class="products">Mohawk Epoxy Sticks / Color Chart</a></td>
        </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo">
         <img src="images/logos/pride_logo.jpg" alt="Pride"></td> 
        <td><a href="tools/Pride_Displays_lo.pdf" class="products">Pride Display Towers</a><br/>
        <a href="tools/PRIDE_BOARDS2021.pdf">Pride Display Boards</a></td>
        </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="http://www.rockymountainhardware.com/" title="Rocky Mountain" target="_blank" class="products">
        <img src="images/logos/rocky.gif" alt="rocky" width="200" height="55"></a></td> 
        <td><a href="tools/RMH-ExpressBrochure.pdf" title="RMH" class="products">Rocky Mountain Express Brochure</a><br/>
        <a href="tools/RMH-ExpressPresentation.pdf" title="RMH" class="products">Rocky Mountain Express Presentation</a><br/>
        <a href="tools/RMH_Express_Products.pdf" title="RMH" class="products">Rocky Mountain Express Product Availability and Sample Order Form</a></td>
        </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo" rowspan="11"><a href="http://saliceamerica.com/" title="Salice" target="_blank" class="products">
        <img src="images/logos/salice_sm.gif" alt="salice" width="125" height="27"></a></td>
        <td><a href="tools/Salice_F70_lo.pdf"><p>Salice F70 Heavy Duty Undermount Slides</p></a></td>
    </tr>
        <tr>
        <td><a href="tools/FaceFramePlate-XR.pdf"><p>Salice Face Frame Mounting Plate specs <b>*New* XR plate w/ 13mm hole spacing</p></a></td>
    </tr>
    <tr>
        <td><a href="tools/Salice _SILENTIA+11.19.pdf"><p>Salice Silentia+ Hinge Catalog 11.19</p></a></td>
    </tr>
    <tr>
        <td><a href="tools/Salice_Wind_lo.pdf"><p>Salice Wind Lift System</p></a></td>
    </tr>
    <tr>
      <td><a href="tools/WindApplications.pdf"><p>Wind Applications</p></a></td>
    </tr>
    <tr>
         <td><p><b>Salice Sliding Door Systems:</b></p><a href="tools/Salice_SLIDING-SYSTEM-FOR-CONCERTINA-DOORS_eng.pdf">Concertina Doors</a> / 
         <a href="tools/Salice_SLIDER-M35-TOP_eng.pdf">Slider M35 Top</a> / 
         <a href="tools/Salice_COPLANAR-SLIDING-DOOR-SYSTEMS_usa-cdn.pdf">Coplanar Sliding Door Systems</a>
         </td>
    </tr>
        <tr>
        <td><a href="tools/Salice_EXEDRA2.pdf"><p>Salice Exedra2 for Double Bifold/Pocket Doors (Salice Literature)</p></a></td>
    </tr>
      <tr>
        <td><a href="tools/Salice-Exedra-USA-ENG.pdf"><p>Salice Exedra for Single Pocket Doors (Salice Literature)</p></a></td>
    </tr>
    <tr>
        <td><a href="forms/pocketdoorsystem_v3.pdf" title="Pocket Door System"><p>Salice Exedra for Single Pocket Doors (MP bulletin w/ Order Form)</p></a></td>
    </tr>
    <tr>
        <td><a href="tools/Salice-Exedra-HawaConcepta-Benchmark.pdf"><p>Salice Benchmark: Salice Exedra Pocket Door vs. Hawa Concepta</p></a></td>
    </tr>
    <tr>
        <td><p><b>Salice Hinge Cut Sheets: Guides to specifications, testing and certifications</b><p>
        <a href="tools/SaliceCutSheet-100series-105.pdf"><p>Salice 105 Hinge Cut Sheet - Series 100</p></a>
        <a href="tools/SaliceProductCutSheet110DegreeHinge.pdf"><p>Salice 110 Hinge Cut Sheet - Series 200</p></a>
        <a href="tools/SaliceCutSheet-200series-120.pdf"><p>Salice 120 Hinge Cut Sheet - Series 200</p></a>
        <a href="tools/SaliceCutSheet-700series-110.pdf"><p>Salice 110 Hinge Cut Sheet - Series 700</p></a>
        <a href="tools/SaliceProductCutSheetFaceFrameSoftClose_Hinge.pdf"><p>106 Degree Face Frame Soft Close Hinge Cut Sheet</p></a></td>
    </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="https://surfprepsanding.com/" title="Surf Prep" target="_blank" class="products">
    <img src="images/logos/surfprep.jpg" alt="surfprep"></a></td>
        <td><a href="https://surfprepsanding.com/catalog/" target="_blank"><p>Surf Prep Catalog</a></td>
      </tr>
</table>
<br/>

<table class="table5">
    <tr>
        <td class="logo"><a href="https://vauth-sagel.de/?L=1" title="VS" target="_blank" class="products">
        <img src="images/logos/vs_logo.jpg" alt="VS"></a></td>
        <td><a href="tools/New_VS-brochure_v3.pdf"><p>Vauth Sagel Products stocked at MacPac</a></td>
      </tr>
</table>
<br/>

<table class="table5">
    <tr>
      <td class="logo" rowspan="2"><img src="images/misc-vendor.jpg" alt="misc" width="65" height="54"><br/><p>Misc Charts</p></a></td>
      <td><a href="tools/sidemount_slide_chart.pdf"><p>Side Mount Drawer Slide Cross Reference Chart</p></a></td>
      </tr>
      <tr>
        <td><a href="tools/reduction.pdf"><p>Drawer Box Reduction Chart</p></a></td>
        </tr>
</table>

<br/><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>

<br/><br/>
<a name="Cert">
<p><b>Quality Certifications / Comparisons</b></p>
<table class="table2">
    <tr>
        <td><a href="tools/WI-Acknowledge-Products-12-2019.pdf" class="products"><p><b>WI Acknowledged Products 12-2019</b></p>
        <img src="images/WI_sm.jpg" alt="WI"></a></td>
        <td><a href="tools/WI-Fult_Cert.pdf" class="products"><p><b>WI Compliance Letter for Fulterer Slides<br/>5000, 5001, 5045</b></p>
        <img src="images/ft-pic.jpg" alt="ft"></a></td>
        <td><a href="tools/TectusBHMATesting2022.pdf" class="products"><p><b>Simonswerk Concealed Hinges - ANSI/BHMA A156.1 standard</b></p>
        <img src="images/sw-pic.jpg" alt="sw"></a></td>
        <td></td>
        </tr>
        <tr>
        <td><a href="tools/SlideComparison-BlumGrassHettich.pdf" class="products"><p><b>Drawer Slide Comparison<br/>Grass - Blum - Hettich<br/></b></p>
        <img src="images/comparison.jpg" alt="comparison" height="141" width="100"></a></td>
        <td><a href="tools/Ducasse_datasheet.pdf" class="products"><p><b>Ducasse DN80 CF:<br/>ANSI-BHMA A 156. 14-2003 GRADE 1</b></p>
        <img src="images/duc-data.jpg" alt="ducasse" height="141" width="100"></a></td>
        <td><a href="tools/Hawa_datasheet.pdf" class="products"><p><b>HAWA Sliding Solutions<br/><br/></b></p>
        <img src="images/hawa-data.jpg" alt="hawa" height="141" width="100"></a></td>
        <td><a href="tools/SaliceProductCutSheet110DegreeHinge.pdf" class="products"><p><b>Salice Cut Sheet: A guide to specifications, testing and certifications</b></p>
        <img src="images/saliceCert.jpg" alt="salice" height="141" width="100"></a></td>
    </tr>
</table>
<br/>
<p><b>Safety Data Sheets / Technical Data Sheets</b></p>

<a href="tools/SDS608.00.pdf" class="products"><p><b>Jowat PUR Hot Melt Adhesive 608.00/01 Safety Data Sheet</b></p></a>

<a href="tools/ww-wood-glue-tds-final.pdf" class="products"><p><b>DAP Weldwood Wood Glue Technical Data Sheet</b></p></a><br/><br/>

<br/><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/>

<a name="Install"></a>
<p><b>Installation Instructions</b></p>
<table class="table5">
    <tr>
        <td><a href="https://www.hettich.com/us_EN/home.html" title="Hettich" target="_blank" class="products"><img src="images/logos/hettich.gif" alt="hettich"></a>
        <a href="tools/InstallationSpec.pdf"><p>Hettich Reduction Clip Installation</p></a>
        </td>
        <td><a href="http://www.doorhdwe.com/flattrack.shtml" title="Leatherneck" target="_blank" class="products"><img src="images/logos/l-neck.gif" alt="leatherneck"></a>
        <a href="tools/FT-Instr.pdf"><p>Leatherneck (Quick)<br/>Flat Track Installation</p></a>
        </td>
        <td><a href="https://www.salice.com/us/en" title="Salice" target="_blank" class="products"><img src="images/logos/salice.gif" alt="salice"></a>
        <a href="tools/Wind_Installation-v2.pdf"><p>Salice Wind Installation -<br/>Faceframe and Frameless</p></a>
        <a href="tools/reductionclipinstallation.pdf"><p>Salice Reduction Clip Installation:<br/>94 to 86 degrees</p></a>
        </td>
        <td><a href="http://www.simonswerk.com/" title="Simonswerk" target="_blank" class="products"><img src="images/logos/s-w.gif" alt="simonswerk"></a>
        <a href="http://www.tectushinges.com/adjust_steps.html" target="_blank" class="products"><p>Tectus Hinge Adjustments</p></a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;"><a href="http://www.sugatsune.com/" title="Sugatsune" target="_blank" class="products"><img src="images/logos/new_suga.gif" alt="sugatsune"></a>
        <a href="tools/installation_instr-HES3D-70.pdf"><p>HES3D-70 Concealed Hinges</p></a>
        </td>
        <td><a href="https://vauth-sagel.de/en/" title="Vauth Sagel" target="_blank" class="products"><img src="images/logos/vs_logo.jpg" alt="vauth sagel"></a>
        <a href="tools/VS_TAL_Larder_EN.pdf"><p>HSA / Chef Pantry (Tal Larder)</p></a>
        <a href="tools/CORNERSTONE_MAXX-1.pdf"><p>Cornerstone Maxx</p></a>
        <a href="tools/TAL-GATE_Instructions.pdf"><p>Premium Pantry (Tal/Sub Gate)</p></a>
        <a href="tools/44010915_04_VS_COR_Flex_480_digital.pdf"><p>Flex Corner (Cor Flex)</p></a>
        <a href="tools/VS_COR_Fold_EN.pdf"><p>Wari Corner (Cor Fold - includes LH and RH)</p></a>
        <a href="tools/VS_COR_Wheel_Pro_Product_Information_EN_digital.pdf"><p>Recorner Maxx (Cor Wheel Pro)</p></a>
        <a href="tools/44010834_03_VS_ENVI_Space_XX_480_596x596.pdf"><p>Envi Space XX Pro</p></a>
        <a href="tools/02379112_0.pdf"><p>PAM: Power Assisted Movement</p></a>
        </td>
    </tr>
</table>

<br/><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/>
<a name="webtools"></a>
<p><b>Web Tools</b></p>
<table class="table5">
    <tr>
        <td width="500"><a href="http://www.simonswerk.us/products/product-brands/tectus" target="_blank" class="products"><img src="images/tectus_logo.jpg" width="175" height="76" alt="tectus"></a>
        <p>Visit <a href="http://www.tectushinges.com/adjust_steps.html" target="_blank" class="products">tectushinges.com</a> for an active look at Tectus 3D Adjustment - step by step.</p>
        <a href="http://www.tectushinges.com/adjust_steps.html" target="_blank" class="products"><img src="images/tectus_adjust_lo.jpg" width="250" height="198" alt="tectus"></a></td>
        <td class="center"><a href="http://macmurraypacific.com/salice/html/index.html" target="_blank"><p><b>Salice Hinge Chart for <br/>Angled Applications</b></p>
        <img src="images/angled.jpg" alt="angled" width="200" height="100"></a> 
        </td>
    </tr>
</table>
<br/><br/>

<a name="pricing"></a>
<p><b>Vendor Pricing</b></p>
<table class="table5">
    <tr>
        <td><a href="tools/AshleyNorton_SolidBrassPriceBook_1221.pdf">Ashley Norton Solid Brass Door Hardware 2021</a></td>
    </tr>
        <tr>
        <td><a href="tools/AshleyNorton_SolidBronzePriceBook_1221.pdf">Ashley Norton Solid Bronze Door Hardware 2021</a></td>
    </tr>
    <tr>
        <td><a href="tools/AshleyNorton_CabinetHardwarePriceBook_1221.pdf">Ashley Norton Solid Bronze / Brass Cabinet Hardware 2021</a></td>
    </tr>
    <tr>
        <td><a href="https://www.baldwinhardware.com/support/product-literature" target="_blank" class="products">Baldwin LIST Price Books and Catalogs</a></td>
    </tr>
    <tr>
        <td><a href="https://emtek.com/dealer-literature.php" target="_blank" class="products">Emtek LIST Price Books and Catalogs</a></td>
    </tr>
        <tr>
        <td><a href="tools/Pemko_03-2020_PriceList.pdf">Pemko List Pricing March 2020</a></td>
    </tr>
</table>
<p class="small">*List pricing subject to change without notice</p>
<br/>

<div class="center" style="clear: both">
<TMPL_INCLUDE NAME="salesNavs.tmpl">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">