/* MacMurray Pacific Global Styles

Global palette

main background color: #eaeefa
header background color: #EEEDEE
buttons color: #001f3f
buttons text color: #FFFFFF

*/

/* Pico CSS  */
:root {
    --primary: #296adb;
}

:root:not([data-theme=dark]),
[data-theme=light] {
    --background-color: #fff;
    --color: hsl(205, 20%, 32%);
    --h1-color: hsl(205, 30%, 15%);
    --h2-color: #24333e;
    --h3-color: hsl(205, 25%, 23%);
    --h4-color: #374956;
    --h5-color: hsl(205, 20%, 32%);
    --h6-color: #4d606d;
    --muted-color: hsl(205, 10%, 50%);
    --muted-border-color: hsl(205, 20%, 94%);
    --primary: hsl(212, 85%, 41%);
    --primary-hover: hsl(216, 85%, 36%);
    --primary-focus: rgba(16, 149, 193, 0.125);
    --primary-inverse: #fff;
    --secondary: hsl(205, 15%, 41%);
    --secondary-hover: hsl(205, 20%, 32%);
    --secondary-focus: rgba(89, 107, 120, 0.125);
    --secondary-inverse: #fff;
    --contrast: hsl(205, 30%, 15%);
    --contrast-hover: #000;
    --contrast-focus: rgba(89, 107, 120, 0.125);
    --contrast-inverse: #fff;
    --mark-background-color: #fff2ca;
    --mark-color: #543a26;
    --ins-color: #388e3c;
    --del-color: #c62828;
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --form-element-background-color: transparent;
    --form-element-border-color: hsl(205, 14%, 68%);
    --form-element-color: var(--color);
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: transparent;
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --form-element-disabled-background-color: hsl(205, 18%, 86%);
    --form-element-disabled-border-color: hsl(205, 14%, 68%);
    --form-element-disabled-opacity: 0.5;
    --form-element-invalid-border-color: #c62828;
    --form-element-invalid-active-border-color: #d32f2f;
    --form-element-invalid-focus-color: rgba(211, 47, 47, 0.125);
    --form-element-valid-border-color: #388e3c;
    --form-element-valid-active-border-color: #43a047;
    --form-element-valid-focus-color: rgba(67, 160, 71, 0.125);
    --switch-background-color: hsl(205, 16%, 77%);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --range-border-color: hsl(205, 18%, 86%);
    --range-active-border-color: hsl(205, 16%, 77%);
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary);
    --range-thumb-hover-color: var(--secondary-hover);
    --range-thumb-active-color: var(--primary);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: #f6f8f9;
    --code-background-color: hsl(205, 20%, 94%);
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);
    --code-tag-color: hsl(330, 40%, 50%);
    --code-property-color: hsl(185, 40%, 40%);
    --code-value-color: hsl(40, 20%, 50%);
    --code-comment-color: hsl(205, 14%, 68%);
    --accordion-border-color: var(--muted-border-color);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: var(--background-color);
    --card-border-color: var(--muted-border-color);
    --card-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698),0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024),0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03),0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036),0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302),0.5rem 1rem 6rem rgba(27, 40, 50, 0.06),0 0 0 0.0625rem rgba(27, 40, 50, 0.015);
    --card-sectionning-background-color: #fbfbfc;
    --dropdown-background-color: #fbfbfc;
    --dropdown-border-color: #e1e6eb;
    --dropdown-box-shadow: var(--card-box-shadow);
    --dropdown-color: var(--color);
    --dropdown-hover-background-color: hsl(205, 20%, 94%);
    --modal-overlay-background-color: rgba(213, 220, 226, 0.7);
    --progress-background-color: hsl(205, 18%, 86%);
    --progress-color: var(--primary);
    --loading-spinner-opacity: 0.5;
    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
    --icon-checkbox: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E);
    --icon-chevron: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E);
    --icon-chevron-button: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E);
    --icon-chevron-button-inverse: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E);
    --icon-close: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(115, 130, 140)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E);
    --icon-date: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E);
    --icon-invalid: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(198, 40, 40)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E);
    --icon-minus: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E);
    --icon-search: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E);
    --icon-time: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E);
    --icon-valid: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(56, 142, 60)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E);
    color-scheme: light;
}

/* Header Styles -----------------------------------------------------------------*/

html,
body {
    background: #f0ecea;
    /*background: #124280;*/
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#wrap {
    max-width: 1100px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

#maincontent {
    padding-bottom: 80px;
}

#header {
    /* background: url('dist/header-bg.jpg');
    TODO wendy: new header background if picture prefered 
    */
    background: #124280;
    max-width: 1100px;
    margin: 0px 0px -10px 0px;
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/

}

@media (min-width: 100px) {
    #header {
        font-size: 0.8em;
        grid-template-rows: 120px auto;
    }
}

@media (min-width: 313px) {
    #header {
        font-size: 0.8em;
        grid-template-rows: 115px auto;
    }
}

@media (min-width: 495px) {
    #header {
        grid-template-rows: 110px auto;
    }
}

@media (min-width: 768px) {
    #header {
        font-size: 1em;
    }
}



.con-info {
    display: grid;
    min-height: 90px;
    /* to match contactbox*/
    grid-template-columns: auto;
    grid-template-rows: 75px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header-logo {
    /* TODO wendy: new cool logo :)
    update 5/8: ty Wendy
     */
    margin: 0px -5px;
    float: left;
    min-height: 40px;
    max-height: 75px;
    grid-area: 1 / 1 / 2 / 2;

}

.header-info {
    font-size: 0.9em;
    color: #ececec;
    padding: 0px 0px 0px 20px;
    grid-area: 2 / 1 / 3 / 2;
}

.header-title {
    margin: 0px;
    color: #ececec;
    font-weight: bold;
    font-size: 0.9em;
    max-height: 25px;
}

.header-subtitle {
    margin: 0px;
    color: #ececec;
    font-size: min(3.5vw, 2.5vh);
    margin: 0px;
    max-height: 20px;
}

.contactbox {
    border-radius: 3px;
    min-width: 90px;
    min-height: 90px;
    margin: 10px 10px 10px auto;
    text-align: right;
}

@media (min-width: 720px) {
    .contactbox {
        grid-area: 1 / 2 / 2 / 3;
        padding: 15px;
    }
}


.contactbox p a {
    font-size: 12t;
    margin: 5px 5px 0px 5px;
    color: #ececec;
    text-shadow: 0px 0px 2px #111111;
    text-decoration: none;
}

.contactbox p a:visited {
    text-decoration: none;
    color: #ececec;
    text-shadow: 0px 0px 2px #111111;
}

.contactbox p a:hover {
    text-decoration: none;
    color: #ececec;
    text-shadow: 0px 0px 2px #111111;
}


p.update {
    font-size: 9pt;
    margin: 10px 5px 8px 5px;
    color: #cc0000;
}

/* Search Bar 
Button 
and Cart


*/


.search-wrap {
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto 65px;
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px -5px;

}

form.searchbar {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    height: 50px;
    margin: 0px 10px 0px 10px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: inherit;
}

form.searchbar input[type=search] {
    box-shadow: 0 0 3px #aba8a8;
    box-sizing: border-box;
    position: relative;
    left: -10px;
    background: white;

}

form.searchbar input[type=text]:focus {
    outline: 0;
}

form.searchbar button {
    border: 0px;
    grid-area: 1 / 2 / 2 / 3;
    height: inherit;

}

/* search button resize */
@media (min-width: 100px) {
    form.searchbar {
        grid-template-columns: auto 60px;
    }

    form.searchbar button {
        font-size: 0;
    }

    button i.fa-solid {
        font-size: 15pt;
        padding: 2.5pt;
    }
}

@media (min-width: 768px) {
    form.searchbar {
        grid-template-columns: auto 120px;
    }

    form.searchbar button.button {
        font-size: 0.9em;
    }

    button i.fa-solid {
        font-size: 12pt;
    }
}

/*end button resize*/

.breadcrumb-header {
    font-size: 0.9em;
    margin: 0px 0px 25px 20px;
}

.breadcrumb-header::after {
    content: "\a";
    white-space: pre;
}


img.right1 {

    margin: 0 0 0 5px;
}

.cart1 {
    border-radius: 4px;
    padding: 0px 4px;
}

.cart1 a i {
    font-size: 18px;
    color: #fff;

}


.home-wrap {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-top: 20px;
}



/* Login Page */
.login-wrap {
    display: grid;
}

.login-wrap article {
    margin: 20px;
}


.login-info a {}

.login-info h3 {
    line-height: 90%;
}

@media (min-width: 100px) {
    .login-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .login-form {}
}

@media (min-width: 768px) {
    .login-wrap {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }

    .login-form {}
}



/* Footer Styles -----------------------------------------------------------------*/

#footer {
    width: 100%;
    shadow: 0 5px 10px #000033;
}

#footer nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-top {
    margin-left: auto;
}

.footer-copy {
    text-align: center;
}

#backToTop {
    display: none;
    position: fixed;
    width: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    right: 5%;
    bottom: 2%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: display 200ms;
}

#backToTop:hover {
    background-color: var(--primary-hover);
}



/* Index Page Styles ------------------------------------------------------------*/

#quicklinks {
    font-size: 10pt;
    border-radius: 3px;
    margin: 0px;
}

.container {
    align-items: center;
    justify-content: left;

    padding: 0 3px 10px 3px;
}

.spacing {
    padding-left: 10px;
}

/* Home images container */

.homeProducts {
    margin: -50px 0px;
    display: grid;
}

.homeimage-wrap {
    display: grid;
    overflow: hidden;
    position: relative;
    border: 0px;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin: 0px auto 0px auto;
}

.homeimage-wrap img {
    transition: transform .5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px #111111;
    margin: 0px;
    overflow: hidden;
}

.homeimage-caption {
    position: absolute;
    padding: 10vh 0% 0% 5%;
    pointer-events: auto;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top,
            hsla(0, 0%, 0%, 0.64) 0%,
            hsla(0, 0%, 0%, 0.632) 7.6%,
            hsla(0, 0%, 0%, 0.609) 14%,
            hsla(0, 0%, 0%, 0.574) 19.2%,
            hsla(0, 0%, 0%, 0.529) 23.7%,
            hsla(0, 0%, 0%, 0.475) 27.7%,
            hsla(0, 0%, 0%, 0.417) 31.5%,
            hsla(0, 0%, 0%, 0.354) 35.3%,
            hsla(0, 0%, 0%, 0.291) 39.4%,
            hsla(0, 0%, 0%, 0.228) 44.1%,
            hsla(0, 0%, 0%, 0.169) 49.6%,
            hsla(0, 0%, 0%, 0.115) 56.3%,
            hsla(0, 0%, 0%, 0.069) 64.4%,
            hsla(0, 0%, 0%, 0.033) 74.2%,
            hsla(0, 0%, 0%, 0.009) 86%,
            hsla(0, 0%, 0%, 0) 100%);
    text-decoration: none;
    color: white;
    overflow-wrap: normal;
    box-shadow: 0px 0px 10px -1px #797979;
}


.homeimage-wrap:hover img {
    transform: scale(1.25);
    filter: #111;
}



#custlogin {
    padding: 40px 20px;
    margin: 0px;
    max-width: 750px;
    min-height: 300px;
    line-height: 0.5;
    background-color: #d8d8d8;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6117424242424243) 0%, rgba(0, 0, 0, 0.058712121212121215) 100%),
        url("https://www.salice.com/media/immagini/127_t_salice-hinges-soft-close-silentia-plus-MO-10a.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 1px #4b4b4b;
}

#custlogin a {
    width: 50%;
    display: block;
    margin: 0px 20px;
}

#custlogin p {
    color: whitesmoke;
    text-shadow: 0 0 1px #4b4b4b;
    line-height: 100%;
}

.blue1 {
    font-weight: bold;
    color: #2b2d38;
}

.textlogin {
    line-height: 140%;
}

.homeText {
    line-height: 140%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


@media (min-width: 200px) {
    #custlogin {
        grid-area: 1 / 1 / 2 / 3;
    }

    #quicklinks {
        grid-area: 2 / 1 / 3 / 3;
    }

    .homeText {
        grid-area: 3 / 1 / 4 / 3;
    }

    .invBorder {
        grid-area: 4 / 1 / 4 / 4;
    }

    .homeProducts {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px 170px 170px;
    }

    .homeimage-caption {
        font-size: 1.5em;
        overflow: visible;
    }
}

@media (min-width: 768px) {
    #custlogin {
        grid-area: 1 / 1 / 2 / 2;
    }

    #quicklinks {
        grid-area: 1 / 2 / 2 / 3;
    }

    .homeText {
        grid-area: 2 / 1 / 3 / 3;
    }

    .invBorder {
        grid-area: 3 / 1 / 4 / 3;
    }

    .homeProducts {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 220px 220px;
    }

    .homeimage-caption {
        font-size: 2em;
        padding-top: 14vh;
    }
}



/* Customer Home Page Styles -------------------------------------------------------*/

.custInfo {}

.specials {}


.prodBull {}

.webTool {}

img.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.cartstatus {}

.newProd {
    display: inline-block;
}

.newProd img {
    border: 1px solid #999;
    margin: 8px 0 0 7px;
}

.invBorder {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0;
}

.invBorder header {
    margin-right: 0px;
    margin-left: 0px;
    height: 6em;
}

.curBorder {
    border-radius: 10px;
    border: 1px solid #999;
    padding: 10px;
    margin: 0 auto;
}

table.orderInfo {
    width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

table.orderInfo td {
    border-collapse: collapse;
    padding: 5px;
}

table.lineItems {
    width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

table.lineItems td {
    padding: 5px;
}

.lineItems tr:nth-child(even) {
    background-color: #d3eafb;
}

.infor {
    width: 190px;
    text-align: right;
}

td.center {
    text-align: center;
}

.low {
    margin-top: 23px;
}

.low1 {
    line-height: 95%;
}

.salesnavs ul {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    text-align: center;
}

.salesnavs ul li {
    list-style-type: none;
    display: inline;
}

.salesnavs li:before {
    content: " | ";
}

.salesnavs li:first-child:before {
    content: none;
}


/* Category List Page Styles ---------------------------------------------------*/

.product-results-wrap {
    display: grid;
    margin: 0px 10px;
}

@media (min-width: 100px) {
    .product-results-wrap {
        grid-template-columns: auto;
    }

    .product-filters-wrap {
        display: none;
    }

    .product-filters-modal-wrap {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }
}

@media (min-width: 768px) {
    .product-results-wrap {
        grid-template-columns: 250px auto;
    }

    .product-filters-wrap {
        display: grid;
    }

    .product-filters-modal-wrap {
        display: none;
    }
}

.product-filters-wrap {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    font-size: 18pt;
    margin: 0px 10px 0px 5px;
}

#sort-dialog article {
    width: 90%;
}

#sort-dialog footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#filter-dialog footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-filters-modal-wrap {
    column-gap: 10px;
}

.product-filters-modal-wrap button.secondary {
    margin: 0px 0px 15px 0px;
}

#pagecontrols {
    border-radius: 5px;
}

#pagecontrols summary {}

#pagecontrols article {
    padding: 20px;
    margin: 0px;

}

#filtercontainer {
    border-radius: 5px;
}

#filtercontainer summary {}

#filtercontainer article {
    padding: 20px;
    margin: 0px;
}


.products-wrap {}

#productbox {}

.itemrow {
    padding: 10px;
    font-size: 11pt;
    margin-top: 0px;
}

.itemrow img {
    /*border: 1px solid #999;*/
    padding: 10px;
    width: 100%;
}

#expand-box {
    width: 100%;
    padding: 0;
    font-size: 10pt;
}

.clearfix:after {
    content: "\00A0";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
    margin-bottom: 3px;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}



#prodcats {
    border: 1px solid #999;
    border-radius: 5px;
    width: 210px;
    padding: 8px;
    font-size: 10pt;
    font-weight: bold;
    margin: 5px;
    float: left;
}

#filters {
    height: auto;
    background: #ebebeb;
    margin-bottom: 10px;
    font-size: 11pt;
}

.sortby {
    display: inline-block;
    background: #e1f0f0;
    padding: 8px;
    width: auto;
    height: auto;
    border: 1px solid #999;
    margin: 0 5px 10px 0;
}

.bul-date {
    text-align: center;
    width: 150px;
}

.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.pagination>a {
    background-color: #fff;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-width: 20px;
    padding: 0 15px;
    height: 40px;
    text-decoration: none;
    position: relative;
    margin: 3px;

    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
}

.pagination>a.current {
    background-color: var(--primary-hover);
    color: #fff;
    padding: 10px;
}

.pagination>a:hover {
    background-color: var(--primary);
    color: #fff;
}


/* Main Product Page Styles ---------------------------------------------------*/

@media (min-width: 100px) {
    .product-image {
        max-width: 350px;
        width: 100%;

    }
}

@media (min-width: 768px) {
    .product-image {
        max-width: 350px;
        width: 50%;
    }
}


p.small1 {
    font-size: 9pt;
    margin: 5px 0 10px 1px;
    clear: both;
}

p.small2 {
    font-size: 10pt;
}

#mainproductbox {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 12px;
    font-size: 12pt;
    overflow: hidden;
}

#mainproductbox p {
    margin: 0px;
    padding: 10px;
}

#mainproductinfo {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    float: right;
    margin: 0px 15px 15px 15px;
}




#complete {
    border: 1px solid #152b75;
    width: 260px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

div.content {
    padding: 25px 1em 0.5em 1em;
}

.customer-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.availability-alert {
    font-size: 11pt;
    text-align: right;
    font-weight: bold;
    color: #bb2f2f;
    padding: 0px 0px 0px 0px;
}

.savecartas {
    margin: 8px;
    float: left;
    width: 325px;
    border-right: 1px solid #999;
    padding: 5px 0 10px 0;
    font-size: 11pt;
}

.together {
    text-align: center;
    float: right;
    display: inline-block;
}

.large {
    font-size: 14pt;
}

.savecartbutton {
    margin: 10px 10px 7px 15px;
}

.savedcarticon {
    border-radius: 25px;
    border: 1px solid #999;
    background-color: white;
    width: auto;
    padding: 6px;
    margin: 0 10px 7px 8px;
    float: right;
    font-size: 8pt;
    text-align: center;
}

.custInfocart {
    border-radius: 10px;
    border: 1px solid #999;
    padding: 6px;
    width: 250px;
    margin: 10px 10px 6px 0px;
    font-size: 11pt;

}

.savecartarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100px;
    width: auto;
    background: #e0e0e0;
    padding: 10px;
}

#myBtn {
    float: right;
}

#currentorders {
    text-align: center;

}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.space {
    margin-top: 15px;
}

.cust-no {
    height: 30px;
    width: 1100px;
    background: #e4f2f2;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
}

input.change {
    width: 35px;
    height: 15px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: top;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}


input[type=text]:focus {
    background-color: #FFFFFF;
    border-color: #ccc;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.quick {
    width: 200px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
    margin: 30px 0px 0px 0px;
}

input.getcust {
    width: 180px;
    height: 25px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.orderform {
    width: 225px;
    height: 25px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 11pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.quick1 {
    width: 610px;
    height: 30px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 11pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

textarea.textarea1 {
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    box-shadow: 0px 0px 10px -1px #ccc;
    padding: 5px;
    font-size: 11pt;
}

/* Email Quote Styles -----------------------------------------------------------------*/

.orderBox {
    border: 1px solid #999;
    border-radius: 5px;
    width: 800px;
    padding: 10px 5px;
    margin: 0 auto;

}

table.center {
    margin: 0 auto;
}

.info {
    color: #152b75;
    font-size: 11pt;
}


.prod-desc {
    font-size: 10pt;

    text-align: right;
    display: inline;
    float: right;
}

.prodbox {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    width: 175px;
    text-align: center;
    font-size: 10pt;
    line-height: 10%;
    margin: 0 30px 20px 20px;
}

.prodbox img {
    border-bottom: 1px solid #999;
}


.unseen {
    display: none;
}

.title {
    background-color: #d3eafb;
    padding: 6px;
}

.squarethumb {
    width: 100px;
    height: 100px;
    background-color: #fff;
}



@-webkit-keyframes pulsate {
    0% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }

    50% {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }
}

@keyframes pulsate {
    0% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }

    50% {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }
}


@-webkit-keyframes pulsate {
    0% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }

    50% {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }
}

@keyframes pulsate {
    0% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }

    50% {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    }

    100% {
        color: #ddd;
        text-shadow: 0 -1px 0 #000;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Customer Nav Buttons (Lg) */

.button3 {
    background-color: #d3eafb;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin: 15px;
    font-size: 12pt;
}

.button3:hover {
    background-color: #92b7f3;
}

.button3:active {
    background-color: #92b7f3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Customer Home Page Button */

.buttonBig {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 2px;
    margin: 10px;
    display: inline-block;
}

.buttonBig:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.buttonFave {
    background: url('images/fave1.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonFave:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonList {
    background: url('images/list.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonList:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonCurrent {
    background: url('images/current.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonCurrent:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonHist {
    background: url('images/hist.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonHist:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonInv {
    background: url('images/Inv.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonInv:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonAcct {
    background: url('images/gear.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonAcct:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonCart {
    background: url('images/cart.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    display: inline-block;
}

.buttonFCart:active {
    background-color: #eec677;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button4 {
    background-color: #66cc66;
    background: -webkit-linear-gradient(#66cc66, #ccffcc);
    background: linear-gradient(#66cc66, #ccffcc);
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    height: 75px;
    font-size: 12pt;
    width: 145px;
    margin: 10px;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
}

.button4:active {
    background-color: #92b7f3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2 {
    background: url('images/bkgd-but.gif') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    outline: none;
    height: 85px;
    width: 180px;
    margin: 13px;
}

.button2:hover {
    background-color: #92b7f3
}

.button2:active {
    background-color: #92b7f3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ibox {
    width: 200px;
}

.error {
    font-size: 11pt;
    font-weight: bold;
    color: red;
}

.rttxt {
    margin-left: 50px;
    padding: 10px;
    border: #ffffff solid thin;
}

.ltxt {
    padding: 10px;
    border: #ffffff solid thin;
}

.big {
    font-size: 115%;
}

.b1 {
    width: 100px;
}

.addToCart,
.setPriceButton,
.addProductToCart {}

.cart-controls {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: repeat(2, 50px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    line-height: auto;
    margin-right: 0px;
}

@media (min-width: 100px) {
    }

@media (min-width: 768px) {
    .cart-controls {
        width: auto;
        margin: 0px 0px 0px auto;
    }
}

@media (min-width: 992px) {
    .cart-controls {
        width: 60%;
        margin: 0px 0px 0px auto;
    }
}


.addQuantity {
    display: inline-block;
}

.minus,
.plus {
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}

.addProductToCart {
    grid-area: 2 / 1 / 3 / 4; 
    height: 100%;
}
.btn-info {
    height: 100%;
    padding: 0px;
}

.addRowToCart {
    background: url('images/cart-cl.gif') center no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

input.addProductCode {
    width: 180px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.addRowQuantity {
    width: 180px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

#salesReportArea {
    width: 1000px;
    margin-left: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
    margin: 1em 0;
    padding: 0;
}

hr.black {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.products:link {
    text-decoration: none;
}

.products:hover {
    text-decoration: none;
    color: #6699cc;
}

.download:link {
    text-decoration: underline;
    color: red;
}

.download:visited {
    text-decoration: underline;
    color: red;
}

.download:hover {
    text-decoration: underline;
    color: #6699cc;
}

.download:active {
    text-decoration: underline;
    color: red;
}

a img {
    border: none;
}

p.small {
    font-size: 9pt;
    margin: 10px 5px 8px 5px;
}


.small {
    font-size: 10pt;
}


div.center {
    text-align: center;
}

img.center {
    text-align: center;
}

.admin-buttons {
    margin: 25px 0 25px 0;
    text-align: center;
}

div.right {
    text-align: right;
    margin: 5px;
}

p.right {
    font-size: 11pt;
    text-align: right;
    margin-right: 10px;
}

p.right1 {
    font-size: 10pt;
    text-align: right;
    text-decoration: underline;

}

p.left {
    text-align: left;
}


h5.middle,
h3.middle {
    text-align: center;
}

h3.title {
    margin: 0 0 0 0;
}

p.middle {
    text-align: center;
    font-size: 14pt;
}



h4,
li,
button {
    cursor: pointer;
}

ul#toc {
    margin: 0px;
    grid-area: 2 / 1 / 3 / 3;
}

ul#toc li {
    float: left;
    list-style: none;
}

ul#toc a {
    color: #e9e9e9;
    display: block;
    float: left;
    height: 2.5em;
    text-decoration: none;
}

ul#toc a:hover {
    background-color: #1d4da1;
    background-position: 0 -120px;
}

ul#toc a:hover span {
    background-position: 100% -120px;
}

ul#toc li.current a {
    background-color: #1d4da1;
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 5px 5px #3737374f;
}

ul#toc li.current span {
    background-position: 100% -60px;
}

ul#toc span {
    display: block;
    line-height: 2em;
    padding: 5px 15px 10px 15px;
}

/* Catalog Table */

table.table1 td {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #0a3e81;
    vertical-align: top;
    padding: 2px;
    width: 25%;
}

table.table1 td:hover {
    background-color: #f5f5f5
}

table.table1 img {
    float: left;
    margin: 25px 10px 23px 5px;
}


/* Forms/Lit Table */

table.table2 {
    width: 100%;
    border-collapse: collapse;
}

table.table2 td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    width: 20%;
    text-align: center;
    font-size: 10pt;
}

table.table2 img {
    border: 1px solid #999;
    margin: 0 0 10px 0;
}

table.table2 td.tdleft {
    text-align: left;
    padding: 30px;
}

/* Search Invoice Table */

table.searchinvoice {
    width: 100%;
    border-collapse: collapse;
}

table.searchinvoice td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    width: 20%;
    font-size: 11pt;
}

.searchinvoice tr:nth-child(even) {
    background-color: #d3eafb;
}

/* Invoice Details Table */

table.invoicedetail {
    width: 100%;
    border-collapse: collapse;
}

table.invoicedetail td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    font-size: 11pt;
}

.invoicedetail tr:nth-child(even) {
    background-color: #d3eafb;
}

table.terms {
    width: 800px;
    margin: auto;
}

table.terms td {
    text-align: left;
}

/* Manu Table */

table.table3 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table.table3 td {
    border: 1px solid #ccc;
    text-align: center;
    width: 25%;
    height: 115px;
    vertical-align: top;
    padding-top: 15px;
}

/* Item Table */

.itemtable {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px 0px 20px 0px;
    padding: 15px 20px 0px 20px;
}

.result-title {
    grid-area: 1 / 1 / 2 / 3;
}

.result-title p {
    margin-bottom: 10px;
}


.result-title p a {
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(205, 20%, 32%);;
}
.result-title p a:visited{
    color: hsl(205, 20%, 32%);;
}


.result-thumbnail {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
}

.result-body {
    grid-area: 2 / 2 / a3 / 3;
    padding: 0px 10px;
    font-size: 1rem;
}

.result-body p {
    margin: 0px;
}

.result-body p b {
    margin: 0px 0px 10px 0px;
}

.result-body p.result-price {
    font-size: 12pt;
    margin: 15px 20px;
}

.result-body .smallChunk, .cat-description {
    font-size: 10pt;
    margin: 0px;
    padding: 8px 15px;
    line-height: 12px;
}


.result-links {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
}



.result-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
}

.result-links button {
    font-size: 10pt;
    color: var(--primary);
}

.result-links a {
    font-size: 10pt;
    margin: 5px;
    color: var(--primary);
}

.result-price {
    padding: 5px;
    font-size: 12pt;
    margin:0px 15px;
}


/* Ladder Table */

table.ladders {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    font-size: 10pt;
    margin-bottom: 3px;
}

table.ladders td {
    border: none !important;
    padding: 3px;
}

/* DS/NOF Table */

table.dstable {
    width: 100%;
    border: 1px solid #999;

}

dstable th {
    padding: 5px 3px 5px 4px;
}

dstable tr:nth-child(even) {
    background-color: #ecf0f3;
}

dstable td {
    padding: 10px 5px 10px 0;
    border-width: 1px 0;
    border-color: #999;
    border-style: solid;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Cart Table */

#carttable {
    width: 100%;
    border: 1px solid #999;
    font-size: 10pt;
}

#carttable th {
    padding: 5px 3px 5px 4px;
    border: 1px solid #999;
}

#carttable td {
    padding: 5px 4px 5px 4px;
    border: 1px solid #999;
    vertical-align: middle;
}

#carttable tr:nth-child(even) {
    background-color: #ecf0f3;
}

#carttable a {
    text-decoration: underline;
}

/* Order Table */

table.ordertable {
    border-collapse: collapse;
    width: 100%;
    font-size: 11pt;
}

table.ordertable th {
    padding: 5px;
    text-align: left;
}

table.ordertable td {
    padding: 5px;
    vertical-align: middle;
}

.ordertable tr:nth-child(even) {
    background-color: #ecf0f3;
}

/* Videos Table */

table.table4 {
    width: 100%;
    border-collapse: collapse;
}

table.table4 td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 11pt;
}

table.table4 td.left {
    border: 1px solid #ccc;
    padding: 5px 0 0 15px;
    vertical-align: middle;
    text-align: left;
    font-size: 11pt;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 65%;
    background: #000;
    margin: 5px auto;

}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('images/yt-2.png') no-repeat;
    cursor: pointer;
}



/* Bulletins Table */

table.table5 {
    width: 100%;
    border-collapse: collapse;
    font-size: 11pt;
}

table.table5 td {
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
}

table.table5 img {
    margin: 3px;
}

table {

    table-width: 100%;
}

table.code {
    border-collapse: collapse;
    border: 0px;
}

table.code td {
    border-collapse: collapse;
    border: 0px;
    width: 145px;
}

td.small {
    text-align: center;
    font-size: 9pt;
}

table.table5 td.logo {
    vertical-align: middle;
    text-align: center;
    width: 160px;
}

div.element {
    background: url(images/element-bkgd.jpg);
}

div.db {
    background: url(images/db-bkgd.jpg);
}

div.northern {
    background: url(images/ncontours-bkgd.jpg);
}

dform {
    text-align: center;
}

.divider {
    clear: both;
}

img.left {
    float: left;
    margin: 10px 5px 3px 8px;
}

img.left1 {
    float: left;
    margin: 15px 18px 0 5px;
}



img.noborder {
    border: none;
}

.code_filter_row:nth-child(odd) {
    background-color: #ccccff;
}

.hideInline {
    display: none
}

.showInline {
    display: inline;
}


.itemr {
    text-align: right;
    padding: 3px;
}

.itemc {
    text-align: center;
}

.iteml {
    text-align: left;
}

tr.oddeven {
    vertical-align: top;
}

tr.oddeven.header {
    vertical-align: bottom;
    font-weight: bold;
}

tr.oddeven.comment {
    background-color: #eeeeee;
}

tr.oddeven.header {
    text-align: bottom;
    font-weight: bold;
}

tr.oddeven.newcat {
    font-style: italic;
}

tr.oddeven.detail:nth-child(even) {
    background-color: #ddddff;
}

tr.oddeven.detail:nth-child(odd) {
    background-color: #ffdddd;
}

.cartHasItems {
    display: none;
}

.likeALink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.vendor_no {
    float: left;
    vertical-align: top;
}

td.chem {
    vertical-align: top;
}


.blockDisplay {
    display: none;
}

.productCodeNotFound {
    color: red;
}

.changedValue {
    font-weight: bold;
    text-align: center;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 150px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blue {
    background-color: #3b8ec2;
}

.blue select {
    color: #fff;
}

.moreExpected {
    margin-top: 1em;
}

.buyer {}

.kitProductCode {
    font-style: italic;
    text-align: right;
}

.clipProductCode {
    font-style: italic;
    text-align: right;
}

.bugTable th {
    text-align: left;
    vertical-align: top;
}

.bugTable td {
    text-align: left;
    vertical-align: top;
}

.bugTable tr.oddeven:nth-child(odd) {
    background-color: #ffffff;
}

.bugTable tr.oddeven:nth-child(even) {
    background-color: #ffff80;
}

.searchDif {
    margin: 10px 0px 15px 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #152b75;
}

.searchDif::after {
    content: "\a";
    white-space: pre;
}

.notAvailable {
    color: red;
}

.field_text_error {}

.field_message_error {
    font-size: 10pt;
    font-weight: bold;
    color: #ff0000;
}

.field_value_error {
    background-color: #ff8080 !important;
}

.addedToCartMessage {
    font-size: 12px;
    color: blue;
    margin-top: 5px;
}


.previous {
    background: url('images/prev1.jpg') center no-repeat;
    width: 85px;
    height: 85px;
    border: none;
    margin-right: 150px;
    outline: none;
}

.next {
    background: url('images/next1.jpg') center no-repeat;
    width: 85px;
    height: 85px;
    border: none;
    margin-left: 150px;
    outline: none;
}

.previous:hover {
    background: url('images/prev2.jpg') center no-repeat;
}

.next:hover {
    background: url('images/next2.jpg') center no-repeat;
}

#slideshow {
    margin: 15px auto;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.webdescription_blurred {
    width: 300px;
    height: 25px;
    font-size: 12p5
}

.webdescription_focussed {
    width: 300px;
    height: 100px;
    font-size: 12p5
}




.rb {
    font-weight: bold;
    text-align: right
}

.code {
    float: left;
    font-weight: bold;
    color: #990000;
    font-size: 12pt;
}

.promo {
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 10px;
    text-align: right;
}

.status_message {
    font-weight: bold;
    color: #8b0000;
    border: black solid 2px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}