/* MacMurray Pacific Global Styles

Global palette

main background color: #eaeefa
header background color: #EEEDEE
buttons color: #001f3f
buttons text color: #FFFFFF

*/

/* Pico CSS */
:root {
  --primary: #296adb;
}

:root:not([data-theme=dark]), [data-theme=light] {
  --primary: #296adb;
  --primary-hover: #1b4388;
}

/* Header Styles -----------------------------------------------------------------*/

html,
body {
    background: #faf9f6;
    font-family: arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrap {
    max-width: 1100px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

#maincontent {
    padding-bottom: 80px;
}

#header {
    /* background: url('dist/header-bg.jpg');
    TODO wendy: new header background if picture prefered 
    */
    background: #0a3e81;
    max-width: 1100px;
    height: 110px;
    box-shadow: 0 5px 10px #000033;
    margin: 0 0 25px 0;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.con-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 15px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header-logo {
    /* TODO wendy: new cool logo :) */
    margin: 0px 10px;
    float:left;
    min-height: 40px;
    max-height: 75px;
    grid-area: 1 / 1 / 2 / 2;

}

.header-info {
    max-height: 15px;
    font-size: min(2vw, 1.5vh);
    color: #ececec;
    padding: 15px 0px 0px 20px;
    grid-area: 2 / 1 / 3 / 2;
}

.header-title {
    margin:0px;
    color: #ececec;
    font-weight: bold;
    font-size: min(4.5vw, 4vh);
    max-height: 25px;
}

.header-subtitle {
    margin:0px;
    color: #ececec;
    font-size: min(3.5vw, 2.5vh);
    margin:0px;
    max-height: 20px;
}

.contactbox {
    min-height:90px;
    min-width:100px;
    border: 1px solid #999;
    background: #eee;
    border-radius: 3px;
    margin: 10px 10px 10px auto;
    padding: 5px;
    text-align: right;
    grid-area: 1 / 2 / 2 / 3;
}

.contactbox p {
    font-size: 10pt;
    margin: 5px 5px 0px 5px;
}

p.update {
    font-size: 9pt;
    margin: 10px 5px 8px 5px;
    color: #cc0000;
}

.search-wrap {
	border-radius: 4px;
  display: grid;
  height: 50px;
  grid-template-columns: auto 65px;
  grid-template-rows: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;


}

form.searchbar {
  display: grid;
  margin: 0px 10px 0px 10px;
  grid-area: 1 / 1 / 2 / 2;
  grid-template-columns: auto 120px;
  grid-template-rows: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

form.searchbar input[type=text] {
  border: 1px;
  grid-area: 1 / 1 / 2 / 2;
  height: 50px;
  box-shadow: 0 0 3px #ccc;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px 0px 0px -10px
  
}

form.searchbar input[type=text]:focus
{
	outline: 0;
}



/* Search Bar Button */

form.searchbar button {
	border: 0px;
	background: none;
	background-color: #296adb;
	color: #f1f1f1;
  height: 50px;
  
  grid-area: 1 / 2 / 2 / 3;

}





img.right1 {
    float: right;
    margin: 0 0 0 5px;
}

.cart1 {
  color: #ffffff;
  background: #296adb;
  border-radius: 4px;
  padding: 0px 4px;
}

.cart1 a i {
    font-size: 30px;
    color: #ffffff;
    background: #296adb;
    margin: 10px;
    grid-area: 1 / 2 / 2 / 3;

}


/* Login Page */
.login-wrap {
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.login-info {
    padding: 20px;
}

@media (max-width: 400px) {
    .homeimages { grid-template-columns: repeat(1, 1fr); }
  }

/* Footer Styles -----------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 5px 10px #000033;
}

p.backtotop {
    margin: 8px 25px 0 0;
    text-align: right;
    float: right;
}
 
p.icons {
    float: left;
    margin: 8px 0 0 10px;
}

p.center {
    text-align: center;
    font-size: 10pt;
    padding-right: 120px; 
}


/* Index Page Styles ------------------------------------------------------------*/

#quicklinks {
    font-size: 10pt;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 7px;
    float: right;
    margin: 30px 0px 0px 0px;

}

.container {
  align-items: center;
  justify-content: left;

  padding: 0 3px 10px 3px;
}

.spacing {
padding-left: 10px;
}

.homeimages {   
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr); 
    text-align: center;
    
}

@media (min-width: 200px) {
    .homeimages { grid-template-columns: repeat(2, 1fr); }
  }



@media (min-width: 600px) {
    .homeimages { grid-template-columns: repeat(3, 1fr); }
  }



.homeimages a img {
    border: 0px;
    border-radius: 2px;
    width: auto;
    max-height: 150px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    margin: 0px auto 0px auto;
}

#custlogin {
    padding: 0px 10px 0 10px;
    margin: 30px 0px 0px 0px;
    max-width: 750px;
}

.blue1 { font-weight: bold; color: #21409A; }

.textlogin {
    line-height: 140%;
}

.button5 {
    border-radius: 15px;
    font-family: arial, sans-serif;
    outline: none;
    height: 100px;
    font-size: 14pt;
    font-weight: bold;
    width: 130px;
    margin: 35px 25px 25px 15px;
    padding: 5px;
    float: left;
}

.button5:active {
  transform: translateY(4px);
}

.homeText {
    padding: 12px;
    margin-top: 5px;
    line-height: 140%;
}

.homeProducts {
    margin: 2px 0px
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


/* Customer Home Page Styles -------------------------------------------------------*/

.custInfo {
    border-radius: 10px;
    border: 1px solid #999;
    padding: 10px;
    width: 310px;
    height: 207px;
    margin: 20px 0px 10px 10px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.specials {
    border-radius: 10px;
    border: 1px solid #999;
    width: 310px;
    margin: 10px 0 5px 10px;
    padding: 10px;
    float: left;
}


.prodBull {
    border-radius: 10px;
    border: 1px solid #999;
    width: 325px;
    height: 360px;
    margin: 20px 10px 5px 10px;
    padding: 10px;
    float:right;
    text-align: center;
}

.webTool {
    border-radius: 10px;
    border: 1px solid #999;
    width: 325px;
    height: 360px;
    margin: 20px 0px 5px 10px;
    float:right;
    text-align: center;
    padding: 10px;
}

img.shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding: 10px;
}

.cartstatus {
    border-radius: 10px;
    border: 1px solid #999;
    width: 750px;
    margin: 10px 0px 5px 10px;
    padding: 10px;
    font-size: 9pt;
    float: left;
}

.newProd {
    display: inline-block;
}

.newProd img {
    border: 1px solid #999;
    margin: 8px 0 0 7px;
}

.invBorder {
    padding: 10px;
}

.curBorder {
    border-radius: 10px;
    border: 1px solid #999;
    padding: 10px;
    margin: 0 auto;
}

table.orderInfo {
    width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

table.orderInfo td {
    border-collapse: collapse;
    padding: 5px;
}

table.lineItems {
    width: 1000px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

table.lineItems td {
    padding: 5px;
}

.lineItems tr:nth-child(even) {
    background-color: #d3eafb;
}

.infor {
    width: 190px;
    text-align: right;
}

td.center {
    text-align: center;
}

.low {
    margin-top: 23px;
 }
 
 .low1 {
    line-height: 75%;
 }

.salesnavs ul {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    text-align: center;
}

.salesnavs ul li {
    list-style-type: none;
    display: inline;
}

.salesnavs li:before {
    content: " | ";
}

.salesnavs li:first-child:before {
    content: none;
}


/* Category List Page Styles ---------------------------------------------------*/


.itemrow {
    padding: 6px;
    font-size: 11pt;
}

.itemrow img {
    border: 1px solid #999;
    padding: 2px;
}

.thumbnail {
    width: 120px;
}

.chunk1 {
    width: 320px;
}

.chunk2 {
    width: 180px;
    text-align: center;
}

.chunk3 {
    text-align: right;

}

#expand-box {
width: 100%;
padding: 0;
font-size: 10pt;
}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}  
.clearfix{ display: inline-block; margin-bottom: 3px;}  
html[xmlns] .clearfix { display: block;}  
* html .clearfix{ height: 1%;}  
.clearfix {display: block;}  

#productbox {
    border: 1px solid #999;
    border-radius: 5px;
    width: 830px;
    padding: 4px;
    float: right;
    font-size: 11pt;

}

#pagecontrols {
    border: 1px solid #999;
    border-radius: 5px;
    width: 190px;
    padding: 6px;
    font-size: 11pt;
    clear: left;
}

#prodcats {
    border: 1px solid #999;
    border-radius: 5px;
    width: 210px;
    padding: 8px;
    font-size: 10pt;
    font-weight: bold;
    margin: 5px;
    float: left;
}

#filtercontainer {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 190px;
    height: 650px;
    padding-bottom:0;
    margin: 10px 0 10px 0;
}

#filters {
    height: auto;
    background: #ebebeb;
    margin-bottom: 10px;
    font-size: 11pt;
}

/*

::-webkit-scrollbar {
    width: 15px;
    height: 600px;
}
::-webkit-scrollbar-button {
    background: #334472;
}
::-webkit-scrollbar-track-piece {
    background: #999;
}

::-webkit-scrollbar-thumb {
    background: #334472;
}

*/

.sortby {
    display: inline-block;
    background: #e1f0f0;
    padding: 8px;
    width: auto;
    height: auto;
    border: 1px solid #999;
    margin: 0 5px 10px 0;
}

 .bul-date {
    text-align: center;
    width: 150px;
 }

/* Main Product Page Styles ---------------------------------------------------*/

p.small1 {
    font-size: 9pt;
    margin: 5px 0 10px 1px;
    clear: both;
}

p.small2 {
    font-size: 10pt;
}

#mainproductbox {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 15px;
    font-size: 12pt;
    overflow: hidden;
}

#mainproductinfo {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    float: right;
    width: 575px;
    margin-top: 15px;
}

#complete {
    border: 1px solid #152b75;
    width: 260px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

div.content {
    padding: 1em;
}

p.right1 {
    font-size: 9pt;
    float: right;
    margin: 1px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.savecartas {
    margin: 8px;
    float: left;
    width: 325px;
    border-right: 1px solid #999;
    padding: 5px 0 10px 0;
    font-size: 11pt;
}

.together {
    text-align: center;
    float: right;
    display: inline-block;
}

.large {
    font-size: 14pt;
}

.savecartbutton {
    margin: 10px 10px 7px 15px;
}

.savedcarticon {
    border-radius: 25px;
    border: 1px solid #999;
    background-color: white;
    width: auto;
    padding: 6px;
    margin: 0 10px 7px 8px;
    float: right;
    font-size: 8pt;
    text-align: center;
}

.custInfocart {
    border-radius: 10px;
    border: 1px solid #999;
    padding: 6px;
    width: 250px;
    margin: 10px 10px 6px 0px;
    font-size: 11pt;

}

.savecartarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100px;
    width: auto;
    background: #e0e0e0;
    padding: 10px;
}

#myBtn {
    float: right;
}

#currentorders {
    text-align: center;
    
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.space {
    margin-top: 15px;
}

.cust-no {
    height: 30px;
    width: 1100px;
    background: #e4f2f2;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
}

input.change {
    width: 35px;
    height: 15px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: top;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.quantity, input.setPrice {
    width: 60px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
    text-align: right;
    vertical-align: middle;
 
}

input.quantity1 {
    width: 100px;
    height: 15px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: top;
    box-shadow: 0px 0px 10px -1px #ccc;
    margin: 5px;
    text-align: right;
}

input[type=text]:focus {
    background-color: #FFFFFF;
    border-color: #ccc;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.quick {
    width: 200px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
    margin: 30px 0px 0px 0px;
}

input.getcust {
    width: 180px;
    height: 25px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.orderform {
    width: 225px;
    height: 25px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 11pt;
    font-family: arial, sans-serif;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.quick1 {
    width: 610px;
    height: 30px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 11pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

textarea.textarea1 {
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    box-shadow: 0px 0px 10px -1px #ccc;
    font-family: arial, sans-serif;
    padding: 5px;
    font-size: 11pt;
}

/* Email Quote Styles -----------------------------------------------------------------*/

.orderBox {
    border: 1px solid #999;
    border-radius: 5px;
    width: 800px;
    padding: 10px 5px;
    margin: 0 auto;
   
}

table.center {
    margin: 0 auto;
}

.info {
    color: #152b75;
    font-size: 11pt;
}


.prod-desc {
    font-size: 10pt;
   
    text-align: right;
    display: inline;
    float: right;
}

.prodbox {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    width: 175px;
    text-align: center;
    font-size: 10pt;
    line-height: 10%;
    margin: 0 30px 20px 20px; 
}

.prodbox img {
    border-bottom:  1px solid #999;         
}


.unseen {
display: none;
}

.title {
    background-color: #d3eafb;
    padding: 6px;
}

.title1 {
    background-color: #d3eafb;
    padding: 7px;
    display: inline-block;
    margin: 0 0 0 5px;
    width: 810px;
}

.square {
    text-align: center;
    background-color: #92b7f3;
    color:  white;
    width: 20px;
    height: 19px;
    padding: 1px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.current {
    background-color: white;
    color: #92b7f3;
}

.squarethumb {
    width: 100px;
    height: 100px;
    background-color: #fff;
}


	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: arial, sans-serif;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Customer Nav Buttons (Lg) */

.button3 {
    background-color: #d3eafb;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin: 15px;
    font-size: 12pt;
    font-family: arial, sans-serif;
}

.button3:hover {background-color: #92b7f3;}

.button3:active {
  background-color: #92b7f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Customer Home Page Button */

.buttonBig {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 2px;
    margin: 10px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonBig:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.buttonFave {
    background: url('images/fave1.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonFave:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonList {
    background: url('images/list.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonList:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonCurrent {
    background: url('images/current.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonCurrent:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonHist {
    background: url('images/hist.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonHist:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonInv {
    background: url('images/Inv.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonInv:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonAcct {
    background: url('images/gear.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonAcct:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonCart {
    background: url('images/cart.jpg') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    color: black;
    outline: none;
    width: 120px;
    padding: 5px;
    margin: 9px;
    font-family: arial, sans-serif;
    display: inline-block;
}

.buttonFCart:active {
  background-color: #eec677;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button4 {
    background-color: #66cc66;
	background: -webkit-linear-gradient(#66cc66, #ccffcc);
	background: linear-gradient(#66cc66, #ccffcc);
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: bold;
    outline: none;
    height: 75px;
    font-size: 12pt;
    width: 145px;
    margin: 10px;
    padding: 3px;  
    display: inline-block;
    cursor: pointer;
}

.button4:active {
  background-color: #92b7f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
    background: url('images/bkgd-but.gif') center no-repeat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    font-family: arial, sans-serif;
    outline: none;
    height: 85px;
    width: 180px;
    margin: 13px;
}

.button2:hover {background-color: #92b7f3}

.button2:active {
  background-color: #92b7f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ibox { width: 200px; }
.error { font-size: 11pt; font-weight: bold; color: red; }
.rttxt { margin-left: 50px; padding: 10px; border: #ffffff solid thin; }
.ltxt {  padding: 10px; border: #ffffff solid thin; }
.big { font-size: 115%; }
.b1 { width: 100px; }

.addToCart, .setPriceButton, .addProductToCart {
    background: url('images/refresh-cl.gif') center no-repeat;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.addProductToCart1 {
    background: url('images/refresh-cl.gif') center no-repeat;
    margin-top: 3px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}


.addRowToCart {
    background: url('images/cart-cl.gif') center no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

input.addProductCode {
    width: 180px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

input.addRowQuantity {
    width: 180px;
    height: 20px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    vertical-align: middle;
    font-size: 10pt;
    box-shadow: 0px 0px 10px -1px #ccc;
}

#salesReportArea {
    width: 1000px;
    margin-left: 20px;
}

select {
    margin: 10px 0 5px 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
    margin: 1em 0;
    padding: 0; 
}

hr.black {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0; 
}

a {
   outline: 0;
}

.clear {
    clear: both;
}

a:link {
    text-decoration: none;
    color: #021c73;
}

a:visited {
    text-decoration: none;
    color: #021c73;
}

.products:link {
    text-decoration: none;
    color: #021c73;
}

.products:hover {
    text-decoration: none;
    color: #6699cc;
}

.download:link {
    text-decoration: underline;
    color: red;
}

.download:visited {
    text-decoration: underline;
    color: red;
}

.download:hover {
    text-decoration: underline;
    color: #6699cc;
}

.download:active {
    text-decoration: underline;
    color: red;
}

a img  {  
    border: none;  
} 

p.small {
    font-size: 9pt;
    margin: 10px 5px 8px 5px;
}

p.smallChunk {
    font-size: 10pt;
    line-height: .7;
}

.small {
  font-size: 10pt;
}
 
.medium {
    line-height: .9;
}

div.center {
    text-align: center;
}

img.center {
    text-align: center;
}

.admin-buttons {
    margin: 25px 0 25px 0;
    text-align: center;
}

div.right {
    text-align: right;
    margin: 5px;
}
 
p.right {
    font-size: 11pt;
    text-align: right;
    margin-right: 10px;
}

p.right1 {
    font-size: 10pt;
    text-align: right;
    text-decoration: underline;
  
}

p.left {
    text-align: left;
}


h5.middle, h3.middle {
    text-align: center;
}

h3.title {
    margin: 0 0 0 0;
}

p.middle {
    text-align: center;
    font-size: 14pt;
}


 
h4, li, button {
cursor: pointer;
}

ul#toc {
    font-size: 11pt;
    height: 2em;
    list-style: none;
    padding: 0;
}

ul#toc li {
    float: left;
    list-style: none;
}

ul#toc a {
    background: #296adb;
    color: #131313;
    display: block;
    float: left;
    height: 2em;
    text-decoration: none;
}

ul#toc a:hover {
    background-color: #1d4da1;
    background-position: 0 -120px;
}

ul#toc a:hover span {
    background-position: 100% -120px;
}

ul#toc li.current a {
    background-color: #161f3b;
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 5px 5px #000033;
}

ul#toc li.current span {
    background-position: 100% -60px;
}

ul#toc span {
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

/* Catalog Table */

table.table1 td {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #152b75;
    vertical-align: top;
    padding: 2px;
    width: 25%;
}

table.table1 td:hover {
    background-color:#f5f5f5
}

table.table1 img {
    float: left;
    margin: 25px 10px 23px 5px;
}


/* Forms/Lit Table */

table.table2 {
    width: 100%;
    border-collapse: collapse;
}

table.table2 td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    width: 20%;
    text-align: center;
    font-size: 10pt;
}

table.table2 img {
    border: 1px solid #999;
    margin: 0 0 10px 0;
}

table.table2 td.tdleft {
    text-align: left;
    padding: 30px;
}

/* Search Invoice Table */

table.searchinvoice {
    width: 100%;
    border-collapse: collapse;
}

table.searchinvoice td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    width: 20%;
    font-size: 11pt;
}

.searchinvoice tr:nth-child(even) {
    background-color: #d3eafb;
}

/* Invoice Details Table */

table.invoicedetail {
    width: 100%;
    border-collapse: collapse;
}

table.invoicedetail td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 3px;
    font-size: 11pt;
}

.invoicedetail tr:nth-child(even) {
    background-color: #d3eafb;
}

table.terms {
    width: 800px;
    margin: auto;
}

table.terms td {
    text-align: left;
}

/* Manu Table */

table.table3 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table.table3 td {
    border: 1px solid #ccc;
    text-align: center;
    width: 25%;
    height: 115px;
    vertical-align: top;
    padding-top: 15px;
}

/* Item Table */

table.itemtable {
    border-collapse: collapse;
    width: 100%;
}

table.itemtable td {
    padding: 10px 5px 10px 0;
    border-width: 1px 0;
    border-color: #999;
    border-style: solid;
    vertical-align: middle;
}

.itemtable tr:nth-child(even) {
    background-color: #ecf0f3;
}

/* Ladder Table */

table.ladders {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    font-size: 10pt;
    margin-bottom: 3px;
}

table.ladders td {
    border: none !important;
    padding: 3px;
}

/* DS/NOF Table */

table.dstable {
    width: 100%;
    border: 1px solid #999;

}

dstable th {
    padding: 5px 3px 5px 4px;
}

dstable tr:nth-child(even) {
    background-color: #ecf0f3;
}

dstable td {
    padding: 10px 5px 10px 0; 
    border-width: 1px 0;
    border-color: #999;
    border-style: solid;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Cart Table */

#carttable {
    width: 100%;
    border: 1px solid #999;
    font-size: 10pt;
}

#carttable th {
    padding: 5px 3px 5px 4px;
    border: 1px solid #999;
}

#carttable td {
    padding: 5px 4px 5px 4px;
    border: 1px solid #999;
    vertical-align: middle;
}

#carttable tr:nth-child(even) {
    background-color: #ecf0f3;
}

#carttable a {
    text-decoration: underline;
}

/* Order Table */

table.ordertable {
    border-collapse: collapse;
    width: 100%;
    font-size: 11pt;
}

table.ordertable th {
    padding: 5px; 
    text-align: left;
}

table.ordertable td {
    padding: 5px; 
    vertical-align: middle;
}

.ordertable tr:nth-child(even) {
    background-color: #ecf0f3;
}

/* Videos Table */

table.table4 {
    width: 100%;
    border-collapse: collapse;
}

table.table4 td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 11pt;
}

table.table4 td.left {
    border: 1px solid #ccc;
    padding: 5px 0 0 15px;
    vertical-align: middle;
    text-align: left;
    font-size: 11pt;
}

.youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 65%;
        background: #000;
        margin: 5px auto;

    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    
    .youtube-player img:hover {
        -webkit-filter: brightness(75%);
    }
    
    .youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url('images/yt-2.png') no-repeat;
        cursor: pointer;
    }
    


/* Bulletins Table */

table.table5 {
    width: 100%;
    border-collapse: collapse;
    font-size: 11pt;
}

table.table5 td {
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
}

table.table5 img {
    margin: 3px;
}

table {

    table-width: 100%;
}

table.code {
    border-collapse: collapse;
    border: 0px;
}

table.code td{
    border-collapse: collapse;
    border: 0px;
    width: 145px;
}

td.small {
    text-align: center;
    font-size: 9pt;
}

table.table5 td.logo {
    vertical-align: middle;
    text-align: center;
    width: 160px;
}

div.element {
    background: url(images/element-bkgd.jpg);
}

div.db {
    background: url(images/db-bkgd.jpg);
}

div.northern {
    background: url(images/ncontours-bkgd.jpg);
}

dform {
    text-align: center;
}

.divider { clear: both; }

img.left {
    float: left;
    margin: 10px 5px 3px 8px;
}

img.left1 {
    float: left;
    margin: 15px 18px 0 5px;
}



img.noborder {
    border: none;
}

.code_filter_row:nth-child(odd) {
  background-color: #ccccff;
}

.hideInline {
  display: none
}

.showInline {
  display: inline;
}


.itemr {
  text-align: right;
  padding: 3px;
}

.itemc {
  text-align: center;
}

.iteml {
  text-align: left;
}

tr.oddeven {
  vertical-align: top;
}

tr.oddeven.header {
  vertical-align: bottom;
  font-weight: bold;
}

tr.oddeven.comment {
  background-color: #eeeeee;
}

tr.oddeven.header {
  text-align: bottom;
  font-weight: bold;
}

tr.oddeven.newcat {
  font-style: italic;
}

tr.oddeven.detail:nth-child(even) {
  background-color: #ddddff;
}

tr.oddeven.detail:nth-child(odd) {
  background-color: #ffdddd;
}

.cartHasItems {
  display: none;
}

.likeALink {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.vendor_no {
    float: left;
    vertical-align: top;
}

td.chem {
    vertical-align: top;
}


.blockDisplay {
  display: none;
}

.productCodeNotFound {
  color: red;
}

.changedValue {
  font-weight: bold;
  text-align: center;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 150px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #3b8ec2; }

.blue select    { color: #fff; }

.moreExpected {
  margin-top: 1em;
}

.buyer {
}

.kitProductCode {
  font-style: italic;
  text-align: right;
}

.clipProductCode {
  font-style: italic;
  text-align: right;
}

.bugTable th {
  text-align: left;
  vertical-align: top;
}

.bugTable td {
  text-align: left;
  vertical-align: top;
}

.bugTable tr.oddeven:nth-child(odd) {
  background-color: #ffffff;
}

.bugTable tr.oddeven:nth-child(even) {
  background-color: #ffff80;
}

.searchDif {
    margin-left: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #339933;
    float: left;
    clear: both;
}

.notAvailable {
  color: red;
}

.field_text_error {
}

.field_message_error {
  font-size: 10pt;
  font-weight: bold;
  color: #ff0000;
}

.field_value_error {
  background-color: #ff8080 !important;
}

.addedToCartMessage {
  font-size: 12px;
  color: blue;
  margin-top: 5px;
}


.previous {
background: url('images/prev1.jpg') center no-repeat;
width: 85px;
height: 85px;
border: none;
margin-right: 150px;
outline : none;
}

.next {
background: url('images/next1.jpg') center no-repeat;
width: 85px;
height: 85px;
border: none;
margin-left: 150px;
outline : none;
}

.previous:hover {
background: url('images/prev2.jpg') center no-repeat;
}

.next:hover {
background: url('images/next2.jpg') center no-repeat;
}

#slideshow { 
    margin: 15px auto; 
    position: relative; 
    width: 300px; 
    height: 300px; 
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.webdescription_blurred {
    width: 300px;
    height: 25px;
    font-size: 12p5
}

.webdescription_focussed {
    width: 300px;
    height: 100px;
    font-size: 12p5
}




.rb { font-weight: bold; text-align: right }

.code {
    float: left;
    font-weight: bold;
    color: #990000;
    font-size: 12pt;
}

.promo {
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 10px;
    text-align: right;
}

.status_message {
  font-weight: bold;
  color: #8b0000;
  border: black solid 2px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
