<!DOCTYPE html>

<html lang="en-US">

<head>
  <TMPL_IF name="inProductPage">
    <title>MACPAC# <TMPL_VAR name="ProductCode"> &#x2022; <TMPL_VAR NAME="Description"></title>
  <TMPL_ELSE>
      <title>MacMurray Pacific Wholesale Hardware</title>
  </TMPL_IF>

  <meta name="description"
    content="MacMurray Pacific Wholesale Hardware: Products For the Cabinet and Woodworking Industries">
  <meta name="keywords" content="MacMurray Pacific, wholesale hardware, cabinet hardware, woodworking supplies, door hardware,
  hardware wholesalers, California wholesalers, hinges, drawer slides, shop supplies, kitchen accessories">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <script src="https://kit.fontawesome.com/99fbdcde4b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" type="text/css" href="global.css">
  <html data-theme="light">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="icon" type="image/gif" href="images/bridge2.gif">

  <html data-theme="light">
</head>

<body>
  <div id="header">
    <div class="mobile-nav">
      <nav>
        <ul>
          <li>
          <a href="#" class="white menudrop" onclick="menuDropdown()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
          </a>
        </li>
        </ul>
        <ul>
          <li><a href="custHome.html"><strong>MacMurray Pacific</strong></a></li>
        </ul>
        <ul>
          <li><a href="#" class="white userdrop" onclick="userDropdown()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="desktop-nav">
    <!--begin header box-->

  <div class="desktop-nav-top">
    <div class="con-info">
      <a href="index.html"><img class="header-logo" src="images/mp-logo.png" /></a>
      <p class="header-info"><span><b>Phone:</b> 1-800-244-1455 / </span><span><b>Orders:</b>
          orders@macmurraypacific.com</b></span></p>
    </div>

    <div class="contactbox">
        <TMPL_IF NAME="session_loggedIn">
          <a href="/logout.html" class="white"><b>Logout <TMPL_VAR NAME="user_Name"></b></a>
          <TMPL_ELSE>
            <a href="/login.html" class="white"><b>Customer Login</b></a>
        </TMPL_IF>

        <TMPL_IF NAME="session_multipleCustomers">
            <p class="customer-name"><TMPL_VAR NAME="session_custName"></p>
            <p class="low1"><a href="/getcust.html">Switch Customers</a></p>
        </TMPL_IF>
    </div>
  </div>

    <ul id="toc" class="dropcontent">
      <TMPL_IF NAME="session_isGuest">

        <li<TMPL_IF NAME="glob_menu_home"> class="current"</TMPL_IF>>
        <a href="index.html">
        <span>Home</span>
      </a>
    </li>

  </TMPL_IF>

      <TMPL_IF NAME="session_isGuest">
        <TMPL_ELSE>
          <li<TMPL_IF NAME="glob_menu_custHome"> class="current"
      </TMPL_IF>><a href="custHome.html"><span>Home</span></a></li>
      </TMPL_IF>

      <li<TMPL_IF NAME="glob_menu_productCats"> class="current"</TMPL_IF>><a
          href="productCats.html"><span>Products</span></a></li>

        <li<TMPL_IF NAME="glob_menu_catalog"> class="current"</TMPL_IF>><a
            href="catalog.html"><span>Catalog</span></a></li>

          <li<TMPL_IF NAME="glob_menu_forms"> class="current"</TMPL_IF>><a
              href="forms.html"><span>Resources</span></a></li>

            <li<TMPL_IF NAME="glob_menu_manu"> class="current"</TMPL_IF>><a href="manu.html"><span>Our
                  brands</span></a></li>

              <li<TMPL_IF NAME="glob_menu_contact"> class="current"</TMPL_IF>><a href="contact.html"><span>Contact
                    Us</span></a></li>

                <TMPL_IF NAME="session_isSales">
                  <li<TMPL_IF NAME="glob_menu_sales"> class="current"
                </TMPL_IF>><a href="sales.html"><span>Sales</span></a></li>

              </TMPL_IF>
          <TMPL_IF NAME="session_isAdmin">
              <li<TMPL_IF NAME="glob_menu_admin"> class="current"
          </TMPL_IF>><a href="admin.html"><span>System</span></a></li>

      </TMPL_IF>
    </ul>
  </div>

  <script>
    // mobile header handler
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("toc").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.menudrop')) {
        var dropdowns = document.getElementsByClassName("dropcontent");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  </div>
  <!--end header box-->

  <div id="wrap">
    <!--begin wrap-->
    <div id="maincontent">
      <!--begin maincontent for footer padding-->
      <a name="top"></a>
      <div class="content">
        <!--begin content box (tabs)-->

        <TMPL_IF NAME="categoryPage">
          <div class="searchDif">
            <TMPL_IF NAME="prod_normal">MacPac Inventory</TMPL_IF>
            <TMPL_IF NAME="prod_favorites">My Favorites Search</TMPL_IF>
            <TMPL_IF NAME="prod_history">Order History Search</TMPL_IF>
            <TMPL_IF NAME="prod_shoplist">Shopping List Search</TMPL_IF>
          </div>
        </TMPL_IF>
        <div class="search-wrap">

          <form class="searchbar" action="/category.html" method="post">
            <input name="searchFor" type="search" placeholder="Search Part#, Keyword, Brand.." value="<TMPL_VAR NAME="
              searchFor" escape=html>">

            <button type="submit" name="button" value="" class="button">
              Search <i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i>
            </button>

            <TMPL_UNLESS NAME="doNotUpdateShowType"><input type="hidden" name="productShowOnly" value="All">
            </TMPL_UNLESS>
          </form>


          <div class="cart1">
            <a role="button" href="/cart.html"><i class="fa-solid fa-cart-shopping" style="color: #f1f1f1;"></i></a>
            <div class="ItemsInCart">
              <TMPL_IF NAME="placed">0 items<TMPL_ELSE>
                  <TMPL_VAR NAME="cart_ItemsInCart">
              </TMPL_IF>
            </div>
            <div class="GrandTotalInCart">
              <TMPL_IF NAME="placed">$0.00<TMPL_ELSE>
                  <TMPL_VAR NAME="cart_GrandTotalInCart">
              </TMPL_IF>
            </div>
            </a>
          </div>

        </div>
      </div>

      <!--

        These are in the footer.tmpl file

    </div>
  </div>
</body>

-->