<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="buttonNavs.tmpl">
<br/>
<br/>

<div id="productbox">

<div class="title1">First / Previous
<div class="square">1</div>
<div class="square">2</div>
<div class="square">3</div>
<div class="square">4</div>
Next / Last</div>


<div class="itemrow">
<table class="itemtable">

  <tr>
    <td width="120"><img src="images/5000-150-MR.jpg" height="100" width="100" alt="5000"></td>
    <td width="300"><p><b>5000-150 MR</b></p>
    <p>DOOR KNOB, 2" TRADITIONAL  BALDW</p>
    <p>Stock Availability: 0</p></td>
    
     <td align="right" valign="middle">
          <p>$<TMPL_VAR NAME="Price"> / <TMPL_VAR NAME="UofM"></p>
          <TMPL_INCLUDE NAME="addToCart.tmpl">
        </td>
  </tr>
</table>
</div>
</div>

<div id="historysearch">
<div class="title">Search Order History</div>
<p>Sort By</p>
<label for="historysearch">Manufacturer</label>
<select>
<option value="Manufacturer">All Manufacturers</option>
</select>
<br/><br/>
<label for="historysearch">Product Category</label>
<select>
  <option value="Product Category">Product Category</option>
</select>
<br/><br/>
<label for="historysearch">Product Code</label>
<input type="text" class="quantity">
</div>
<p class="divider">&nbsp;</p>
<TMPL_INCLUDE NAME="footer.tmpl">