<TMPL_INCLUDE NAME="header.tmpl">

<div id="sortby"><b>My Favorites</b></div> <div id="sortby"><b>Order History</b></div>

<TMPL_INCLUDE NAME="productChunk.tmpl">
<TMPL_INCLUDE NAME="pageControlsSelectsNew.tmpl">
<TMPL_INCLUDE NAME="filters.tmpl">
<p class="divider">&nbsp;</p>

<TMPL_INCLUDE NAME="jquery_favorite.tmpl">
<TMPL_INCLUDE NAME="jquery_handleCart.tmpl">
<TMPL_INCLUDE NAME="jquery_regHandleCart.tmpl">

<TMPL_INCLUDE NAME="footer.tmpl">