<TMPL_INCLUDE NAME="header.tmpl">
<br/>
<br/>
<br/>

<div class="center">
<a href="/order.html"><button class="button3">Quick Order Entry</button></a>
<a href="/list.html"><button class="button3">Order History</button></a>
<a href="/current.html"><button class="button3">Order Status</button></a>
<a href="/account.html"><button class="button3">My Account</button></a>
<a href="/home.html"><button class="button3">View Cart</button></a>
<a href="/custHome.html"><button class="button3">Main</button></a>

<br/>
<br/>

<div class="savecart1">
<form>Save Cart As
<input type="text" class="quick">
<input type="submit" name="button" value="Save" class="button1">
</form>
</div>

<h3>Current Shopping Cart</h3>
</div>
<div class="right">
<input type="submit" name="button" value="Update" class="button1">
</div>
<table class="carttable">
    <tr>
        <th align="left">Product Code</th>
        <th align="left">Description</th>
        <th>Unit</th>
        <th>Qty/Ctn</th>
        <th>Available</th>
        <th>Qty in Cart</th>
        <th align="right">List Price</th>
        <th align="right">Your Price</th>
        <th align="right">Extended</th>
        <th></th>
    </tr>
    <tr>
        <td>5000-150 MR</td>
        <td>DOOR KNOB, 2" TRADITIONAL BALDW</td>
        <td>PR</td>
        <td class="center">1</td>
        <td class="center">0</td>
        <td class="center"><input type="text" class="change"></td>
        <td class="right">$146.60</td>
        <td class="right">$98.22</td>
        <td class="right">$196.44</td>
        <td class="center"><img src="images/x-cl.gif" width="20" height="20"></td>
    </tr>
        <tr>
        <td>5000-150 MR</td>
        <td>DOOR KNOB, 2" TRADITIONAL BALDW</td>
        <td>PR</td>
        <td class="center">1</td>
        <td class="center">0</td>
        <td class="center"><input type="text" class="change"></td>
        <td class="right">$146.60</td>
        <td class="right">$98.22</td>
        <td class="right">$196.44</td>
        <td></td>
    </tr>
        <tr>
        <td>5000-150 MR</td>
        <td>DOOR KNOB, 2" TRADITIONAL BALDW</td>
        <td>PR</td>
        <td class="center">1</td>
        <td class="center">0</td>
        <td class="center"><input type="text" class="change"></td>
        <td class="right">$146.60</td>
        <td class="right">$98.22</td>
        <td class="right">$196.44</td>
        <td></td>
    </tr>
</table>

</div><!--end content box (tabs)-->
</div><!--end maincontent-->
<TMPL_INCLUDE NAME="footer.tmpl">
