<TMPL_INCLUDE NAME="header.tmpl">

<div class="home-wrap">
	<div id="custlogin">
	<div>
		<h2 class="blue1">MacMurray Pacific</h2>
		<p><b>See Your Pricing, Place Orders, Check Stock & More</b></p>
		<a href="/login.html" class="products"><button class="button5">Customer Login</button></a>
		<p class="textlogin">Wholesale hardware since 1951</p>

	</div>
	</div>

	<article id="quicklinks">
		<div class="container">
			<p class="spacing">New customers:</p><br>
			<a href="/login.html" class="products">
				<p class="spacing">Request Access</p>
			</a>
			<br>
			<p class="spacing">Already have an account?</p><br>
			<a href="/regform.html" class="products" target="_blank">
				<p class="spacing">Register to order online</p>
			</a>
		</div>

	</article>



	<br />
	<article class="invBorder">
		<header><h3>Popular Products</h3></header>
		<div class="homeProducts">
			<div class="homeimage-wrap">
				<img class="homeimage"src="/images/1-hinges.jpg?cache=060323" alt="hinges">
				<a class="homeimage-caption" href="/category.html?cat=28&productShowOnly=All">Hinges</a>
			</div>

			<div class="homeimage-wrap">
				<img src="/images/2-slides.jpg?cache=060323" alt="slides">
				<a class="homeimage-caption" href="/category.html?cat=177&productShowOnly=All">Slides</a>
			</div>

			<div class="homeimage-wrap">
				<img src="/images/3-kitch.jpg?cache=060323" alt="kitchen">
				<a class="homeimage-caption" href="/category.html?cat=132&productShowOnly=All">Accessories</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/4-deco.jpg?cache=060323" alt="deco">
				<a class="homeimage-caption" href="/category.html?cat=140&productShowOnly=All">Decorative</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/5-door.jpg?cache=060323" alt="door">
				<a class="homeimage-caption" href="/category.html?cat=72&productShowOnly=All">Door</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/6-other.jpg?cache=061223" alt="Other">
				<a class="homeimage-caption" href="/productCats.html">
					More <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
				</a>
			</div>			
		</div>

		<p class="homeText">
			MacMurray Pacific delivers wholesale hardware products to the cabinet and woodworking industry.
			We understand the industry and offer a selection of products and services to meet your changing
			needs.<br /><br />
			We stock a large product inventory with items made by hundreds of <a href="/manu.html" class="products"
				style="text-decoration: underline">manufacturers</a> and
			publish a <a href="/catalog.html" class="products" style="text-decoration: underline">Catalog</a> with
			detailed specifications and list pricing for all the items we stock.<br />
			<b>Since 1951!</b>
		<br> 
		<a href="videos.html"><span>Videos</span></a>
		<br>
		
		</p>

	</article>

</div>

	<TMPL_INCLUDE NAME="footer.tmpl">