<TMPL_INCLUDE NAME="header.tmpl">

<div class="home-wrap">
	<div id="custlogin">
		<h2 class="blue1">MacMurray Pacific</h2>
		<p><b>See Your Pricing, Place Orders, Check Stock & More</b></p>
		<a href="/login.html" class="products"><button class="button5">Customer Login</button></a>
		<p class="textlogin">If you have an account with MacMurray Pacific but do not have a login yet, please
			<a href="/regform.html" class="products" style="text-decoration: underline">go here</a> to set up
			your online access. You must have a login to purchase online. As a guest, feel free to browse our
			<a href="/productCats.html" class="products" style="text-decoration: underline">online catalog</a>.</p>

	</div>

	<div id="quicklinks">
		<p><b></b></p>

		<div class="container">
			<p class="spacing">New customers:</p><br>
			<a href="/pdf/credit-app.pdf" class="products">
				<p class="spacing">Account Application</p>
			</a>
			<br>
			<p class="spacing">Already have an account?</p><br>
			<a href="/regform.html" class="products" target="_blank">
				<p class="spacing">Register to order online</p>
			</a>
		</div>

	</div>



	<br />

	<div class="invBorder">

		<div class="homeProducts">
			<h3>Our Most Popular Products</h3>

			<div class="homeimage-wrap">
				<img class="homeimage"src="/images/1-hinges.jpg" alt="hinges">
				<a class="homeimage-caption" href="/category.html?cat=28&productShowOnly=All">Hinges</a>
			</div>

			<div class="homeimage-wrap">
				<img src="/images/2-slides.jpg" alt="slides">
				<a class="homeimage-caption" href="/category.html?cat=177&productShowOnly=All">Slices</a>
			</div>

			<div class="homeimage-wrap">
				<img src="/images/3-kitch.jpg" alt="kitchen">
				<a class="homeimage-caption" href="/category.html?cat=132&productShowOnly=All">Storage</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/4-deco.jpg" alt="deco">
				<a class="homeimage-caption" href="/category.html?cat=140&productShowOnly=All">Storage</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/5-door.jpg" alt="door">
				<a class="homeimage-caption" href="/category.html?cat=72&productShowOnly=All">Storage</a>
			</div>
			<div class="homeimage-wrap">
				<img src="/images/6-shop.jpg" alt="shop">
				<a class="homeimage-caption" href="/category.html?cat=163&productShowOnly=All">Storage</a>
			</div>			
		</div>

		<p class="homeText">
			MacMurray Pacific delivers wholesale hardware products to the cabinet and woodworking industry.
			We understand the industry and offer a selection of products and services to meet your changing
			needs.<br /><br />
			We stock a large product inventory with items made by hundreds of <a href="/manu.html" class="products"
				style="text-decoration: underline">manufacturers</a> and
			publish a <a href="/catalog.html" class="products" style="text-decoration: underline">Catalog</a> with
			detailed specifications and list pricing for all the items we stock.<br />
			<b>Since 1951!</b>
		<br> 
		<a href="videos.html"><span>Videos</span></a>
		<br>
		
		</p>



	</div>

</div>

	<TMPL_INCLUDE NAME="footer.tmpl">