<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="buttonNavs.tmpl">
<TMPL_IF NAME="framed">
<TMPL_INCLUDE NAME="search.tmpl">
<TMPL_ELSE>
<TMPL_INCLUDE NAME="favorites.tmpl">
</TMPL_IF>
<TMPL_INCLUDE NAME="jquery_favorite.tmpl">
<TMPL_INCLUDE NAME="jquery_handleCart.tmpl">
<TMPL_INCLUDE NAME="footer.tmpl">
