<TMPL_INCLUDE NAME="header.tmpl">

  <TMPL_VAR NAME=errorText>

    <div class="login-wrap">

      <article>
        <header>Customer Login</header>
      <form name="verify" action="login.html" method="post" class="login-form">
        <div id="clockWarning"></div>

        <script>
          const systemClock = < TMPL_VAR NAME = "systemClock" > ;
          const allowableMinutes = 10;
          const browserClock = (new Date()).getTime();
          const earliest = systemClock - (allowableMinutes * 60000);
          const latest = systemClock + (allowableMinutes * 60000);
          if (browserClock < earliest || browserClock > latest) {
            document.getElementById('clockWarning').innerHTML =
              `<span style="background-color:red">Your clock is off by more than ${allowableMinutes} minutes. This will cause issues with your login.</span><br>`;
          }
          // document.getElementById('clockWarning').innerHTML = `${earliest}<br>${browserClock}<br>${latest}`;
        </script>

        <span>Username:</span>
        <input class="ibox" id="userName" name="Code" size="20" value="<TMPL_VAR NAME=" Code" ESCAPE=HTML>" >
        <span>Password:</span>
        <input class="ibox" id="password" name="Password" type="password" size="20" maxlength="10" value="">
        <input class="newbutton1" style="font-size: 13pt;" type="submit" name="Submit" value="Login">
        <input type="hidden" name="e" value="login">
        <a href="/sendPassword.html">Forgot password?</a>
      </form>
    </article>
      <article class="login-info">
        <header>Request Access</header>
        <h3>New customers</h3>
         Please fill out our pdf form and email it to customer service at orders@macmurraypacific.com
         <br></br><br></br>
         <a role="button" href="/pdf/credit-app.pdf" class="products">Account Application</a>
        <h3>Already have an account?</h3>
        Customers with an account number can register an email and password to order online. 
        <br></br><br></br>
        <a role="button" href="/regform.html" class="products" target="_blank">Register to order online</a> - You will get an email when your account is ready.
      </article>
    </div>


    <script>
      document.getElementById('<TMPL_VAR NAME="first">').focus();
      //->
    </script>
    <TMPL_INCLUDE NAME="footer.tmpl">