<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_VAR NAME=errorText>

<form name="verify" action="login.html" method="post">

<h3>Customer Login</h3>

<div id="clockWarning"></div>

<script>
  const systemClock = <TMPL_VAR NAME="systemClock">;
  const allowableMinutes = 10;
  const browserClock = (new Date()).getTime();
  const earliest = systemClock - (allowableMinutes * 60000);
  const latest = systemClock + (allowableMinutes * 60000);
  if (browserClock < earliest || browserClock > latest) {
    document.getElementById('clockWarning').innerHTML = `<span style="background-color:red">Your clock is off by more than ${allowableMinutes} minutes. This will cause issues with your login.</span><br>`;
  }
  // document.getElementById('clockWarning').innerHTML = `${earliest}<br>${browserClock}<br>${latest}`;
</script>

    <span>Username:</span>
    <input class="ibox" id="userName" name="Code" size="20" value="<TMPL_VAR NAME="Code" ESCAPE=HTML>" >
    <span>Password:</span>
    <input class="ibox" id="password" name="Password" type="password" size="20" maxlength="10" value="">
    <input class="newbutton1"  style="font-size: 13pt;" type="submit" name="Submit" value="Login" >
    <input class="newbutton1" style="font-size: 13pt;" type="reset" value="Cancel" >
    <input type="hidden" name="e" value="login">

</form>

<form method="post" action="/sendPassword.html"><br/>
<input class="newbutton2" type="submit" value="I forgot my Password">
</form>

<br/>
<br/>
<p>Need a Username and Password? <a href="contact.html#ac">Go Here </a>for registration help.</p>

<script>
  document.getElementById('<TMPL_VAR NAME="first">').focus();
//-></script>
<TMPL_INCLUDE NAME="footer.tmpl">
