<select name="opportunityPulldown" id="opportunityPulldownField">
<TMPL_LOOP NAME="opportunityPulldownValues">
  <option value="<TMPL_VAR NAME="opportunity" escape=html>"><TMPL_VAR NAME="opportunity" escape=html></option>
</TMPL_LOOP>
</select>
