<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="buttonNavs.tmpl">
<br/>
<br/>

<table class="ordertable">
    <tr bgcolor="#d3eafb">
		<th width="35"></th>
        <th width="240">Product Code</th>
        <th width="110">Quantity</th>
		<th width="40">UoM</th>
		<th width="100">Your Price</th>
		<th width="100">Qty/Ctn</th>
		<th width="100">Available</th>
        <th>Description</th>
    </tr>
    
	<tr>
		<td><img src="images/x-cl.gif" width="20" height="20"></td>
		<td><form><input type="text" class="quick"></form></td>
		<td><form><input type="text" class="quantity"></form></td>
		<td>PR</td>
		<td>$ 9.87</td>
	    <td>10</td>
		<td>150</td>
		<td>400020 Full Ext 100lb Slide</td>
    </tr>

	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
        
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	
	<tr>
	<td></td>
	<td><form><input type="text" class="quick"></form></td>
	<td><form><input type="text" class="quantity"></form></td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
