<TMPL_IF NAME="showPageNumbers">
  <nav class="pagination">
    <ul>
      <li>
        <TMPL_IF NAME="firstPage"><a href="<TMPL_VAR NAME=" firstPage">">First</a>
          <TMPL_ELSE>First
        </TMPL_IF>
      </li>
      <li>
        <TMPL_IF NAME="prevPage"><a href="<TMPL_VAR NAME=" prevPage">">Previous</a>
          <TMPL_ELSE>Previous
        </TMPL_IF>
      </li>
      <TMPL_LOOP NAME="pageList">
      <li>
        <TMPL_IF NAME="selected">
          <div class="current square">
            <TMPL_VAR NAME="page">
          </div>
          <TMPL_ELSE>
            <a href="<TMPL_VAR NAME=" url">">
              <div class="square">
                <TMPL_VAR NAME="page">
              </div>
            </a>
          </TMPL_IF>
        </li>
      </TMPL_LOOP>
      <li>
        <TMPL_IF NAME="nextPage"><a href="<TMPL_VAR NAME=" nextPage">">Next</a>
          <TMPL_ELSE>Next
        </TMPL_IF> /
      </li>
      <li>
        <TMPL_IF NAME="lastPage"><a href="<TMPL_VAR NAME=" lastPage">">Last</a>
          <TMPL_ELSE>Last
        </TMPL_IF>
      </li>
    </ul>
  </nav>
</TMPL_IF>