<TMPL_IF NAME="showPageNumbers">
  <div class="pagination">

        <TMPL_IF NAME="firstPage"><a href="<TMPL_VAR NAME=" firstPage">">  <i class="fa-solid fa-angles-left"></i> </a>
          <TMPL_ELSE> <a href="#"><i class="fa-solid fa-angles-left"></i></a>
        </TMPL_IF>

        <TMPL_IF NAME="prevPage"><a href="<TMPL_VAR NAME=" prevPage">">  <i class="fa-solid fa-angle-left"></i> </a>
          <TMPL_ELSE><a href="#"><i class="fa-solid fa-angle-left"></i></a>
        </TMPL_IF>

      <TMPL_LOOP NAME="pageList">

        <TMPL_IF NAME="selected">
          <div class="current square">
            <a href="#"><TMPL_VAR NAME="page"></a>
          </div>
          <TMPL_ELSE>
            <a href="<TMPL_VAR NAME=" url">">
              <div class="square">
                <TMPL_VAR NAME="page">
              </div>
            </a>
          </TMPL_IF>
 
      </TMPL_LOOP>
   
        <TMPL_IF NAME="nextPage"><a href="<TMPL_VAR NAME=" nextPage">"> <i class="fa-solid fa-chevron-right"></i> </a>
          <TMPL_ELSE> <a href="#"><i class="fa-solid fa-chevron-right"></i></a>
        </TMPL_IF> 

        <TMPL_IF NAME="lastPage"><a href="<TMPL_VAR NAME=" lastPage">"> <i class="fa-solid fa-angles-right"></i> </a>
          <TMPL_ELSE> <a href="#"><i class="fa-solid fa-angles-right"></i></a>
        </TMPL_IF>

  </div>
</TMPL_IF>