<div id="pagecontrols">

<div>
<h3>Search By</h3>
Category:
<input name="addCategory" class="addProductCode" value=""><br/><br/>
Product Code:
<input name="addProductCode" class="addProductCode" value=""><br/><br/>
Within Last:
      <select id="Dates" name="Dates">
        <option value="3 months">3 months</option>
        <option value="6 months">6 months</option>
        <option value="9 months">9 months</option>
        <option value="12 months">12 months</option>
      </select>
</div>
