<html>
<head>
  <base href="<TMPL_VAR NAME="base">">
  <link rel="icon" type="image/gif" href="<TMPL_VAR NAME="base">/images/bridge.gif">
  <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME="base">/global.css">
  <style type="text/css">
    body { margin-top: 20px; background: white;}
  </style>
</head>
<body>
  <br/>
  <TMPL_INCLUDE NAME="placeorder_html.tmpl">
</body>
</html>
