<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_IF NAME="show_quote"><TMPL_INCLUDE NAME="priceQuote.tmpl"></TMPL_IF>
<TMPL_IF NAME="show_form"><TMPL_INCLUDE NAME="orderform.tmpl"></TMPL_IF>
<TMPL_IF NAME="show_check"><TMPL_INCLUDE NAME="checkorder.tmpl"></TMPL_IF>
<TMPL_IF NAME="show_submit"><TMPL_INCLUDE NAME="showsubmitted.tmpl"></TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
