<html>
<head>
  <title>Tracking for order# [WORK ORDER] from Macmurray Pacific</title>
</head>
<body>
  Your Macmurray Pacific order shipped [DATE] via [CARRIER/GLS]

  Shipment Details:
  Customer Name
  Address
  No of Packages / Total Weight in lbs

  Order# [WORK ORDER]  
  JOB: [CUST PO]

  Tracking Numbers: 

  [tracking number loop/ each links to gls site]  



  Need help? Email support requests [mailto: orders@macmurraypacific.com/ prefill support request]


  More Macpac (links/to-do): 

  View our catalog
  Drawers
  Custom Doors
  Specialty Locks
</body>
</html>
