<div id="productbox">
  <TMPL_IF NAME="pageCount">
    <TMPL_INCLUDE NAME="pageNumbers.tmpl">
      <div class="itemrow">
        <TMPL_IF NAME="session_isGuest">
          <TMPL_ELSE>
            <p class="availability-alert">Place in cart to check availability in Real Time</p>
        </TMPL_IF>
        <TMPL_LOOP NAME="products">
          <TMPL_IF NAME="changeValue">
            <div class="changedValue">
              <TMPL_VAR NAME="changeValue">
            </div>
          </TMPL_IF>

          <article class="itemtable"><!--start search result item -->

            <div class="result-title">
              <p> 
                <a href="/product.html?productCode=<TMPL_VAR NAME="ProductCode" escape=url>">
                <TMPL_VAR NAME="ProductDescription">
                </a>
              </p>
            </div>

            <div class="result-thumbnail">
              <TMPL_IF NAME="filename">
                <a href="/product.html?productCode=<TMPL_VAR NAME="ProductCode" escape=url>">
                  <img src="<TMPL_VAR NAME="glob_thumbnailPrefix">/<TMPL_VAR NAME="filename">" title="<TMPL_VAR
                      NAME="ProductCode" escape=html> image" alt="image">
                </a>
              </TMPL_IF>
            </div>
            <div class="result-body">
              <p>
                <b>Part#:
                  <a href="/product.html?productCode=<TMPL_VAR NAME="ProductCode" escape=url>">
                    <TMPL_VAR NAME="ProductCode">
                  </a>
                </b>
                <TMPL_IF NAME="session_isSales">
                  <TMPL_IF NAME="ShowPR">
                    <a href="/pr.html?ProductCode=<TMPL_VAR NAME="ProductCode">">DISC CHART</a>
                  </TMPL_IF>
                </TMPL_IF>
              </p>

              <TMPL_VAR NAME="Memo1">

                <p class="cat-description">
                  <TMPL_VAR NAME="Cat_Description">
                  </p>

                  <TMPL_IF NAME="SpecialOrder">
                    <TMPL_ELSE>
                      <p class="smallChunk">Carton Quantity: <TMPL_VAR NAME="PerBox"></p>
                        <TMPL_IF NAME="allowQtyAvailable">
                          <p class="smallChunk">In stock: <TMPL_VAR NAME="QtyAvailable">
                          </p>
                        </TMPL_IF>
                        <TMPL_IF NAME="CatalogPageNo">
                          <p class="smallChunk">
                          <a href="/viewCatalog.html?page=<TMPL_VAR NAME=" CatalogPageNo">" target="_blank">Catalog Page <i class="fa-regular fa-file"></i></a>
                          </p>
                    </TMPL_IF>
                      
                      <TMPL_IF NAME="StatusFlagN">
                        <p class="notAvailable">Product no longer available.</p>
                      </TMPL_IF>
                      <TMPL_IF NAME="session_isGuest">
                        <TMPL_ELSE>
                          <TMPL_IF NAME="LastOrderedDate">
                            <p class="smallChunk">Last Order Date: <TMPL_VAR NAME="LastOrderedDate">
                            </p>
                          </TMPL_IF>
                      </TMPL_IF>
                      <TMPL_IF NAME="session_isGuest">
                        <TMPL_ELSE>
                          <TMPL_IF NAME="QtyOrderedInPast">
                            <p class="smallChunk">Ordered in last 24 months: <TMPL_VAR NAME="QtyOrderedInPast">
                            </p>
                          </TMPL_IF>
                      </TMPL_IF>
                  </TMPL_IF>

                  <TMPL_IF NAME="SpecialOrder">
                    <TMPL_ELSE>
                      <TMPL_IF NAME="ladder">
                        <TMPL_IF NAME="showSpecialsLabel">
                          <div class="promo">* Special Price</div>
                        </TMPL_IF>
                        <table class="ladders">
                          <TMPL_LOOP NAME="ladder">
                            <tr>
                              <td>
                                <TMPL_VAR NAME="range">
                              </td>
                              <td class="white-space: nowrap">
                                <span<TMPL_IF NAME="special"> class="promo"
                      </TMPL_IF>><TMPL_VAR NAME="price"></span> / <TMPL_VAR NAME="UofM">
            </TMPL_LOOP>
        <TMPL_ELSE>
  </TMPL_IF>

  <TMPL_IF NAME="session_isGuest">
    <TMPL_ELSE>
      <div class="cart-controls">
        <p class="result-price">
          <TMPL_VAR NAME="your"> List Price $<TMPL_VAR NAME="Price"> / <TMPL_VAR NAME="UofM">
        </p>
        
        <div role="button" class='minus-button secondary'>
          <i class="fa-solid fa-minus"></i>
        </div>

        <input type="text" class="quantity addQuantity" placeholder="Quantity" value="<TMPL_VAR NAME="Qty">" useProductCode="<TMPL_VAR NAME="productCode" escape=html>" ProductCode="<TMPL_VAR NAME="cleanProductCode">" perbox="<TMPL_VAR NAME="perBox" default=0>" allowpartialcases="<TMPL_VAR NAME="AllowPartialCases" DEFAULT="0">">

        <div role="button" class='plus-button secondary'>
          <i class="fa-solid fa-plus"></i>
        </div>

        <button class="addProductToCart qty" useProductCode="<TMPL_VAR NAME="productCode" escape=html>" ProductCode="<TMPL_VAR NAME="ProductCode">" >
          Add to Cart
        </button>

      </div>
      <TMPL_IF NAME="Qty">
        <TMPL_INCLUDE NAME="cartrow-template-addedToCart-shown.tmpl">
          <TMPL_ELSE>
            <TMPL_INCLUDE NAME="cartrow-template-addedToCart-hidden.tmpl">
      </TMPL_IF>
  </TMPL_IF>
  </TMPL_IF>

  <TMPL_IF NAME="showExplanation">
    <tr>
      <td colspan=4>
        <h2>Price Ladder Explanation for <TMPL_VAR NAME="ProductCode"> visible only to admins</h2>
        <TMPL_VAR NAME="explanation">
      </td>
    </tr>
  </TMPL_IF>
</div>

<div class="result-links">
  <TMPL_IF NAME="session_isGuest">
    <TMPL_ELSE>
      <button class="result-link secondary shoppingList newButtons <TMPL_UNLESS NAME=" ShoppingList">addShoppingList
        </TMPL_UNLESS>" productCode="<TMPL_VAR NAME="ProductCode" escape=html>"><TMPL_IF NAME="ShoppingList">Remove from
            Bookmarks 
            <TMPL_ELSE>Add to Bookmarks</i>
          </TMPL_IF></button>
      <button class="result-link secondary favorite newButtons <TMPL_UNLESS NAME=" Favorite">addFavorite</TMPL_UNLESS>"
        productCode="<TMPL_VAR NAME="ProductCode" escape=html>"><TMPL_IF NAME="Favorite">Remove from Favorites
            <TMPL_ELSE>Add to Favorites 
          </TMPL_IF></button>
  </TMPL_IF>
  <!--
                                    5-17 REMOVING FOR NOW
                                    We dont need this in search results.
                                  <TMPL_IF NAME="youtubeCode">
                                    <a href="#" class="youtube-link" youtubeid="<TMPL_VAR NAME="youtubeCode">"><button class="newbutton3"
                                        id="showProductVideo">Product Video</button></a>
                                  </TMPL_IF>
                                  -->
</div>
</article><!--end item table-->
</TMPL_LOOP>
<!-- end search result item-->
</div><!--itemrow-->




<TMPL_INCLUDE NAME="pageNumbers.tmpl">
  <TMPL_ELSE>
    <TMPL_IF NAME="prod_normal">
      <b>No items found in our catalog.</b>
    </TMPL_IF>
    <TMPL_IF NAME="prod_favorites">
      <b>No items found in your favorites.</b>
      <form method=post><input type=submit value="Click Here"><input type="hidden" name="productShowOnly"
          value="All"><input type="hidden" name="searchFor" value="<TMPL_VAR NAME=" searchFor" ESCAPE=HTML>"></form>
      to
      search our entire catalog.
    </TMPL_IF>
    <TMPL_IF NAME="prod_history">
      <b>No items found in your order history.</b>
      <form method=post><input type=submit value="Click Here"><input type="hidden" name="productShowOnly"
          value="All"><input type="hidden" name="searchFor" value="<TMPL_VAR NAME=" searchFor" ESCAPE=HTML>"></form>
      to
      search our entire catalog.
    </TMPL_IF>
    <TMPL_IF NAME="prod_shoplist">
      <b>No items found in your shopping list.</b>
      <form method=post><input type=submit value="Click Here"><input type="hidden" name="productShowOnly"
          value="All"><input type="hidden" name="searchFor" value="<TMPL_VAR NAME=" searchFor" ESCAPE=HTML>"></form>
      to
      search our entire catalog.
    </TMPL_IF>
    <br><br>
    <div>If you cannot find what you're looking for, please give us a call at 800-244-1455 so we can help!</div>
    </TMPL_IF>
    </div>
    <TMPL_INCLUDE NAME="youtube_code.tmpl">