<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta name="description" content="Record Sales Report">
  <title>Record Sales Report - MacMurray Pacific</title>
  <link rel="stylesheet" href="/styleblue.css">
  <style type="text/css"><!-- 
    body { font-family: Verdana, Arial, Helvetica, "sans-serif"; color: white; }
    a:visited, a:link { color: white; }
    a:hover { text-decoration: none }
    .ibox { width: 150px; }
    .error { font-size: 10pt; font-weight: bold; color: red }
    .rttxt { margin-left: 50px; padding: 10px; border: #ffffff solid thin; }
    .ltxt {  padding: 10px; border: #ffffff solid thin; }
    .big { font-size: 115%; }
    .b1 { width: 73px; }
    .b2 { width: 152px; }
  -->
  </style>
  <script type="text/javascript"><!--
    function toggleSOPDisplay() {
      var div = document.getElementById('ShowSOP');
      if (div.style.display == 'none') {
        div.style.display = 'block';
      } else {
        div.style.display = 'none';
      }
    } // toggleSOPDisplay

    function toggleViewSOPDisplay() {
      var div = document.getElementById('ShowViewSOP');
      if (div.style.display == 'none') {
        div.style.display = 'block';
      } else {
        div.style.display = 'none';
      }
    }

    function validateNextDate(showError) {
      var element = document.getElementById('nextDateField');
      var value = element.value;
      var fields = value.split(/[\-,.\/]/);
      var msg = [];
      if (fields.length < 3) {
        msg.push('Date format is mm/dd/yy');
      } else {
        if (!fields[0].match(/^\d+$/) || !fields[1].match(/^\d+$/) || !fields[2].match(/^\d+$/)) {
          msg.push('Date format is mm/dd/yy');
        } else {
          if (fields[0] < 1 || fields[0] > 12) {
            msg.push('Month is invalid (1-12)');
          }
          if (fields[2] > 2000) {
            fields[2] -= 2000;
          }
          var daysInMonth = daysPerMonth(fields[0], fields[2]);
          if (fields[1] < 1 || fields[1] > daysInMonth) {
            msg.push('Date is invalid (1-' + daysInMonth + ')');
          }
          if (fields[2] < 10) {
            msg.push('Year is invalid');
          }
        }
      }
      if (msg.length) {
        if (showError) {
          alert(msg.join('\n'));
          element.focus();
        }
        return false;
      }
      element.value = formatWithLeadingZeroes(fields[0], 2) + '-' + formatWithLeadingZeroes(fields[1], 2) + '-' + formatWithLeadingZeroes(fields[2], 2);
      return true;
    } // validateNextDate

    function formatWithLeadingZeroes(value, places) {
      while(value.length < places) {
        value = '0' + value;
      }
      return value;
    } // formatWithLeadingZeroes

    function daysPerMonth(month, year) {
      if (month == 1 || month == 3 || month == 5 || month == 7 || month == 8 || month == 10 || month == 12) {
        return 31;
      } else if (month == 2) {
        return (year % 4 == 0) ? 29 : 28;
      } else {
        return 30;
      }
    }

    function validateForm() {
      if (SOPField.checked) {
        if (opportunityField.value == '' && opportunityPulldownField.selectedIndex == 0) {
          alert('Opportunity is required');
          opportunityField.focus();
          return false;
        }
        if (nextStepField.value == '') {
          alert('Next Step is required');
          nextStepField.focus();
          return false;
        }
        if (nextDateField.value == '') {
          alert('Next Date is required');
          nextDateField.focus();
          return false;
        }
        return validateNextDate(true);
      }
      if (id_comment.value == '' && id_salesNotes.value == '') {
        alert('Either Comment or Sales Note are required');
        return false;
      }
      return true;
    } // validateForm()
    //-->
  </script>
</head>
<body>
  <script src="key13.js" type="text/javascript"></script>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="750">
    <tr valign="top">
      <td height="80" align="right">
        <TMPL_VAR NAME="errorText">
        <TMPL_IF NAME="mode_success">
          <h2>Created Sales Orders</h2>
          <div>Sales Report was created successfully.</div>
          <div><a href="<TMPL_VAR NAME="pageName">">Continue</a></div>
        </TMPL_IF>
        <TMPL_IF NAME="mode_failure">
          <h2>Created Sales Orders</h2>
          <div class="error">Sales Report was <i>not</i> created successfully. Please contact MacPac!</div>
          <div><a href="<TMPL_VAR NAME="pageName">">Continue</a></div>
        </TMPL_IF>
        <TMPL_IF NAME="mode_salesOrder">
          <h2>Finish Sales Report</h2>
          <h3><TMPL_VAR NAME="Name"></h3>
          <div>Started at <TMPL_VAR NAME="startDate"></div>
          <form method="post" name="form" onSubmit="return validateForm()">
            Talked With:<br>
            <input name="talkedToName" value="<TMPL_VAR NAME="talkedToName" escape=html>"><br />
            Comment:<br />
            <input name="comment" id="id_comment" value="<TMPL_VAR NAME="comment" escape=html>"><br />
            Additional Comment:<br />
            <input name="comment2" value="<TMPL_VAR NAME="comment2" escape=html>"><br />
            <TMPL_IF NAME="useSalesNotes">
            Sales Notes:<br />
            <input name="salesNotes" id="id_salesNotes" value="<TMPL_VAR NAME="salesNotes" escape=html>"><br />
            </TMPL_IF>
            Sales Amount:<br>
            <input name="salesAmount" value="<TMPL_VAR NAME="salesAmount" escape=html>"><br />
            <TMPL_IF NAME="useSOP">
            <hr>
            Sales Opportunity?<br />
            <input type="checkbox" name="SOP" value=1 onChange="toggleSOPDisplay()" id="SOPField"> - Yes<br />
            <div style="display: none" id="ShowSOP">
              Opportunity:<br />
              <TMPL_INCLUDE NAME="opportunityPulldown.tmpl"><br />
              <input name="opportunity" maxlength=20 id="opportunityField" size=20 value="<TMPL_VAR NAME="opportunity" escape=html>"><br />

              Next Step:<br />
              <input name="nextStep" maxlength=50 id="nextStepField" size=50 value="<TMPL_VAR NAME="nextStep" escape=html>"><br />

              Next Date (mm-dd-yy):<br />
              <input name="nextDate" id="nextDateField" maxlength=10 size=10 onChange="validateNextDate(false)" value="<TMPL_VAR NAME="nextDate" escape=html>"><br />
              <hr>
            </div>
            <hr>
            <div>
              Outstanding Sales Opportunities<br />
              <TMPL_INCLUDE NAME="salesOps.tmpl">
            </div>
            </TMPL_IF>
            <input type="hidden" name="mode" value="save">
            <br />
            <input type="submit" value="Finish Sales Report">
          </form>
        </TMPL_IF>
        <TMPL_IF NAME="mode_blank">
          <h2>Sales Report Form</h2>
          <TMPL_IF NAME="showCustomers">
            <div align="left">
              Found the following customers:<br>
              <TMPL_LOOP NAME="customers">
              <a href="<TMPL_VAR NAME="pageName">?custCode=<TMPL_VAR NAME="CustomerID">&mode=create">Select</a> <TMPL_VAR NAME="CustomerID"> - <TMPL_VAR NAME="Name"><br />
              </TMPL_LOOP>
            </div>
            <div align="center">OR:</div>
          </TMPL_IF>
          <div>
            Enter a Customer Account or Name:<br>
            <i>A partial name is okay.</i>
          </div>
          <form method="post" name="form">
            <input name="custCode" value="<TMPL_VAR NAME="session_custCode" escape=html>"><br><br>
            <input type="submit" value="Continue">
            <input type="hidden" name="mode" value="create">
          </form>
          <br>
          <TMPL_INCLUDE NAME="todaysOpportunities.tmpl">
        </TMPL_IF>
      </td>
      <td rowspan=2>
        <img src="graphics/spacer.gif" height="180" width="358" alt="">
      </td>
    </tr>
  </table>
  <TMPL_IF NAME="salesOrders">
  <table>
    <tr>
      <th valign="bottom">Date</th>
      <th valign="bottom">Contact</th>
      <th valign="bottom">Comments</th>
      <th valign="bottom">Sales Amount</th>
    </tr>
    <TMPL_LOOP NAME="salesOrders">
    <tr>
      <td valign="top" style="white-space: nowrap"><TMPL_VAR NAME="startDate"></td>
      <td valign="top"><TMPL_VAR NAME="talkedToName"></td>
      <td valign="top"><TMPL_VAR NAME="comment"> <TMPL_VAR NAME="comment2"> <TMPL_VAR NAME="salesNotes"></td>
      <td align="right" valign="top"><TMPL_VAR NAME="salesAmount"></td>
    </tr>
    </TMPL_LOOP>
  </table>
  </TMPL_IF>
  <div align="center"><TMPL_INCLUDE NAME="salesReportsLinks.tmpl"></div>
</body>
</html>
