<div class="admin-buttons">
<a href="/salesReport.html" class="newbutton2">Sales Reports</a>
<a href="/saveQuotes.html" class="newbutton2">Saved Quotes</a>
<a href="/dsnof.html" class="newbutton2">DS/NOF Entry</a>
<a href="/vendorList.html" class="newbutton2">Vendor List</a>
<a href="/salesCustomers.html" class="newbutton2">E-Customers</a>
<a href="/docs.html" class="newbutton2">Salesmen Docs</a>
<a href="/viewInvoices.html?custCode=<TMPL_VAR NAME="session_custCode">" class="newbutton2">View Invoices</a>
<a href="/setupCustomerLogin.html" class="newbutton2">Setup Customer Login</a>
</div>
