<div id="productbox">
  <TMPL_INCLUDE NAME="productChunk.tmpl">
</div>

<div id="historysearch">
  <div class="title">Search Order History</div>
  <p>Sort By</p>
  <label for="historysearch">Manufacturer</label>
  <select>
    <option value="Manufacturer">All Manufacturers</option>
  </select>
  <br/><br/>
  <label for="historysearch">Product Category</label>
  <select>
    <option value="Product Category">Product Category</option>
  </select>
  <br/><br/>
  <label for="historysearch">Product Code</label>
  <input type="text" class="quantity">
</div>
<p class="divider">&nbsp;</p>
