<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_IF NAME="show_good">
    <p class="green">Special Price Viewing PIN Accepted</p>
</TMPL_IF>
<TMPL_IF NAME="show_bad">
    <p class="error">Special Price Viewing PIN Incorrect</p>
</TMPL_IF>
<TMPL_INCLUDE NAME="footer.tmpl">
