body { background-color: #343399<TMPL_IF NAME="testMode">; border: #ff0000 solid 5px</TMPL_IF> }
body, p, h1, h2, h3, h4, h5, h6, table, tr, td, div
{
  font-family: Verdana, Arial, Helvetica, "sans-serif";
  color: white;
}
A:visited, A:link
{
  font-family: Verdana, Arial, Helvetica, "sans-serif";
  color: white;
}
A:hover { text-decoration: none }
.error { font-size: 120%; font-weight: bold; color: red }
.itemr { text-align: right }
.b { font-weight: bold }
