<div class="admin-buttons">
<a href="/custHome.html" class="newbutton2">Cust Home</a>
<a href="/system.html" class="newbutton2">System Maintenance</a>
<a href="/user.html" class="newbutton2">User Maintenance</a>
<a href="/customer.html" class="newbutton2">Cust Maintenance</a>
<a href="/productEdit.html" class="newbutton2">Product Maintenance</a>
<a href="/cart.html" class="newbutton2">View Cart</a>
<a href="/bug.html" class="newbutton2">Bug System</a>
<a href="/charts.html" class="newbutton2">Charts</a>
<a href="/importShipmentActivity.html" class="newbutton2">Import Shipment Activity</a>
</div>
