<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title><TMPL_VAR NAME="UnavailableTitle"></title>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    body {
      font-family: Arial,Helvetica,"sans-serif";
      color: white;
      background: #003e7e;
    }
  </style>
</head>
<body>
  <div>
    <div style="text-align:center">
      <img src="/images/mplogo2.png">
    </div>

    <div style="font-size: 25px; margin: 1in; text-align: center; padding: .5in; border: orange solid 1px"><TMPL_VAR NAME="UnavailableMessage"></div>
  </div>
</body>
</html>
