<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
  <title>MacMurray Pacific - System Unavailable</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
	<style type="text/css"><!-- 
		body { font-family: Verdana, Arial, Helvetica, "sans-serif"; color: white; background: #343399 url(graphics/mplogo.gif) center top no-repeat ; }
  </style>
</head>
<body bgcolor="<TMPL_VAR NAME="glob_pageColor">">
  <div style="margin: .5in">&nbsp;</div>
  <div style="margin: 1in 2in; text-align: center; padding: .5in; border: red solid 1px"><TMPL_VAR NAME="system_UnavailableMessage"></div>
</body>
</html>
