<TMPL_INCLUDE NAME="header.tmpl">
  <TMPL_IF NAME="updated">
    <div class="center">Password updated.</div>
  </TMPL_IF>
  <div class="center">
    <form method="post" action="/updatePassword.html" name="password">
      <table>
        <tr valign="top">
          <td class="itemr"><b>Old Password:</b></td>
          <td><input type="password" name="OldPassword" id="OldPassword"></td>
        </tr>
        <tr valign="top">
          <td class="itemr"><b>New Password:</b>
            <br><i>Passwords must be 6-10 characters long and<br>
            have at least one alpha character and one digit.</i></td>
          <td><input type="password" name="NewPassword" value=""></td>
        </tr>
        <tr valign="top">
          <td class="itemr"><b>Retype New Password:</b></td>
          <td><input type="password" name="NewPassword2" value=""></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Change Password"></td>
        </tr>
      </table>
      <input type="hidden" name="mode" value="update">
    </form>
  </div>
  <script>
    document.getElementById('OldPassword').focus();
  </script>
<TMPL_INCLUDE NAME="footer.tmpl">
