<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_IF NAME="session_isGuest"><TMPL_ELSE><TMPL_INCLUDE NAME="buttonNavs.tmpl"></TMPL_IF>

<h3 class="middle"><a href="https://www.youtube.com/user/MacMurrayPacific?feature=guide" target="_blank"><img src="images/y-t.png" alt="youtube" height="45" width="115" style="vertical-align:middle">Videos</a></h3>
<p>Click on a manufacturer to take you to their product videos. Each brand features Product Highlight videos, Installation videos and/or Product Demos.</p>
<table class="table4">
<tr>
<td colspan="4"><a href="https://chemcraft.com/en/tools/how-to-videos"  target="_blank" class="products"><img src="images/logos/chem-logo.gif" alt="Chemcraft"><br/>Chemcraft How To Videos</a></td>
</tr>
    <tr>
        <td><a href="#compx" class="products"><img src="images/logos/compx.gif" alt="compx" width="145" height="55"></a></td>
        <td><a href="#docking" class="products"><img src="images/logos/dd-logo.jpg" alt="dd"></a></td>
        <td><a href="#dropout" class="products"><img src="images/logos/dropout.gif" alt="dropout" width="100" height="55"></a></td>
        <td><a href="#ducasse" class="products"><img src="images/logos/ducasse.gif" alt="ducasse" width="140" height="55"></a></td>
    </tr>
    <tr>
        <td><a href="#fastcap" class="products"><img src="images/logos/f-c.gif" alt="fastcap" width="162" height="55"></a></td>
        <td><a href="#festool" class="products"><img src="images/logos/festool.gif" alt="festool" width="162" height="55"></a></td>
        <td><a href="#fulterer" class="products"><img src="images/logos/fult.gif" alt="fulterer" width="125" height="55"></a></td>
        <td><a href="#grass" class="products"><img src="images/logos/grass.gif" alt="grass" width="150" height="55"></a></td>
    </tr>
    <tr>
        <td><a href="#hettich" class="products"><img src="images/logos/hettich.gif" alt="hettich" width="97" height="55"></a></td>
        <td><a href="#innov" class="products"><img src="images/logos/innov.jpg" alt="innovashelf"</a></td>
        <td><a href="#johnson" class="products"><img src="images/logos/johnson.gif" alt="johnson" width="96" height="55"></a></td>
        <td><a href="#lamello" class="products"><img src="images/logos/lamello.gif" alt="lamello" width="104" height="55"></a></td>
    </tr>
    <tr>
        <td><a href="#leatherneck" class="products"><img src="images/logos/l-neck.gif" alt="leatherneck" width="57" height="55"></a></td>
        <td><a href="#perko" class="products"><img src="images/logos/perko.jpg" alt="perko"></a></td>
        <td><a href="#riepe" class="products"><img src="images/logos/riepe.jpg" alt="riepe"></a></td>
        <td><a href="#salice" class="products"><img src="images/logos/salice.gif" alt="salice" width="145" height="55"></a></td>
    </tr>
    <tr>
        <td><a href="#shelfology" class="products"><img src="images/logos/shelfology.gif" alt="shelfology"></a></td>
        <td><a href="#simonswerk" class="products"><img src="images/logos/s-w.gif" alt="simonswerk" width="163" height="55"></a></td>
        <td><a href="#sugatsune" class="products"><img src="images/logos/new_suga.gif" alt="sugatsune" width="89" height="65"></a></td>
        <td><a href="#surfprep" class="products"><img src="images/logos/surfprep.jpg" alt="surfprep"></a></td>
    </tr>
    <tr>
        <td><a href="#titus" class="products"><img src="images/logos/titus.gif" alt="Titus"></a></td>
        <td><a href="#tptools" class="products"><img src="images/logos/TPlogo.jpg" alt="TP"></a></td>
        <td><a href="#vauthsagel" class="products"><img src="images/logos/vs_logo.jpg" alt="vauth sagel"></a></td>
        <td><a href="#xseries" class="products"><img src="images/logos/x-series.jpg" alt="x series"></a></td>
    </tr>
</table>



<br/><br/>

<a name="compx"></a>
<h3>CompX Stealthlock</h3>
<hr class="black">
<div class="youtube-player" data-id="wP3E4Ua5IV4"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<h3>CompX TimberLine Double Door Latch</h3>
<hr class="black">
<div class="youtube-player" data-id="kuVe3LW_HrM"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="docking"></a>
<h3>Docking Drawer Installation</h3>
<hr class="black">
<div class="youtube-player" data-id="XiD3uZL7eto"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="dropout"></a>
<h3>Dropout Cabinet Fixtures</h3>
<hr class="black">
<div class="youtube-player" data-id="zXK0Mz3VNsI"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="ducasse"></a>
<h3>Ducasse Industrial : Sliding Door Systems</h3>
<hr class="black">
<h4 class="middle">Ducasse AL 1535 Wood</h4>
<div class="youtube-player" data-id="LVj8xhKVhJ8"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Easy Soft: Soft Close for DN 80</h4>
<div class="youtube-player" data-id="spMHmRtulXA"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">DN 50 SP Kit</h4>
<div class="youtube-player" data-id="R0Bv0k7uwQY"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Twin Telescoping System</h4>
<div class="youtube-player" data-id="hdN1qfdlsRI"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Twin Opposite System</h4>
<div class="youtube-player" data-id="92ycjGjUuLY"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Tauro Wood: Top Mount Folding System</h4>
<div class="youtube-player" data-id="gGrGcQHi2j0"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="fastcap"></a>
<h3>Fastcap</h3>
<hr class="black">
<h4 class="middle">Fastcap Slide-Pro Installation System</h4>
<div class="youtube-player" data-id="KbAo07n0FQw"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="festool"></a>
<h3>Festool</h3>
<hr class="black">
<h4 class="middle">CT Cyclone Dust Pre-Separator - For C26/36/48 Dust Extractors</h4>
<div class="youtube-player" data-id="WORSLDqjyaw"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">DOMINO DF 500 connectors: Quick Knock-down Fasteners for Joinery</h4>
<div class="youtube-player" data-id="-AwMpYwAC9U"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">CONTURO Edge Bander</h4>
<div class="youtube-player" data-id="S9dLpU4i7xU"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">VAC SYS: Suction-based clamping for woodworkers</h4>
<div class="youtube-player" data-id="nn1IpFJAHhc"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle"> The Cost of Dust: Why dust extraction saves your health, time and money</h4>
<div class="youtube-player" data-id="m3UvsDfO9zk"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle"> Festool Bluetooth Modules and Remotes</h4>
<div class="youtube-player" data-id="LG6S_7ARS3E"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="fulterer"></a>
<h3>Fulterer</h3>
<hr class="black">
<h4 class="middle">Fulterer 5210 ECD Soft Close slides</h4>
<div class="youtube-player" data-id="s3eiCmP7f1U"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="grass"></a>
<h3>Grass</h3>
<hr class="black">
<h4 class="middle">Grass Sensomatic Custom Recycle Bin</h4>
<div class="youtube-player" data-id="ABWKn46UfG4"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">GRASS Sensomatic Installation (standard cabinet)</h4>
<div class="youtube-player" data-id="eYVPZA4zOzM"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">GRASS Sensomatic Installation (waste bin)</h4>
<div class="youtube-player" data-id="dQvpxYkdwyg"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Grass DynaPro Tipmatic Soft Close Installation</h4>
<div class="youtube-player" data-id="54_evC1rkTc"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Dynapro Inset Adjuster - Easy Installation</h4>
<div class="youtube-player" data-id="Q9w7wfgojA4"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Grass DynaPro DP-27-HD Demo</h4>
<div class="youtube-player" data-id="IosXFDWhKAQ"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>




<a name="hettich"></a>
<h3>Hettich</h3>
<hr class="black">
<h4 class="middle">Hettich Quadro 2D Push To Open Slides Installation</h4>
<div class="youtube-player" data-id="dWmZFAfbBZk"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Hettich Actro 5D runner system for wooden drawers</h4>
<div class="youtube-player" data-id="fZAvb_4WcQM"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Hettich Quadro 4D</h4>
<div class="youtube-player" data-id="vvngWBJ9CNI"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<a name="hettich1"></a>
<h4 class="middle">Hettich Quadro 4D Push to Open</h4>
<div class="youtube-player" data-id="JfB8Ua7JQXA"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="innov"></a>
<h3>Innovashelf</h3>
<hr class="black">
<h4 class="middle">Floating Shelf Bracket Installation</h4>
<div class="youtube-player" data-id="OihfpeA3Bkk"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Floating Vanity Bracket Installation</h4>
<div class="youtube-player" data-id="n6egijCN6g0"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="johnson"></a>
<h3>Johnson Hardware</h3>
<hr class="black">
<h4 class="middle">Installation for 1060 Soft Close</h4>
<div class="youtube-player" data-id="H5k4HMxIexs"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="lamello"></a>
<h3>Lamello / Colonial Saw</h3>
<hr class="black">
<h4 class="middle">Clamex P-14 Flexus: Detachable furniture connector with flexible positioning pins</h4>
<div class="youtube-player" data-id="esr0k2PtQlI"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Lamello Lesson - Basic Zeta Maintenance</h4>
<div class="youtube-player" data-id="clol4EaogPg"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Lamello Lesson - Micro Depth Adjustment</h4>
<div class="youtube-player" data-id="kMJVbg4gp_c"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Zeta P2 for Biscuit Joining and RTA Fittings</h4>
<div class="youtube-player" data-id="mENYE7nicsU"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Cabineo Cabinet Connectors</h4>
<div class="youtube-player" data-id="h7X8eV3WHAk"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="leatherneck"></a>
<h3>Leatherneck Flat Track</h3>
<hr class="black">
<h4 class="middle">Leatherneck Flat Track Installation</h4>
<div class="youtube-player" data-id="b3UoGC2ONug"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="perko"></a>
<h3>Perko Power</h3>
<hr class="black">
<h4 class="middle">Perko Power Concealed Door Closers Installation</h4>
<div class="youtube-player" data-id="xKo3TKnlX-k"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="riepe"></a>
<h3>Riepe</h3>
<hr class="black">
<h4 class="middle">Riepe Spray System</h4>
<div class="youtube-player" data-id="c_l_wqyrGsI"></div>
<a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>



<a name="salice"></a>
<h3>Salice</h3>
<hr class="black">
<h4 class="middle">Salice Exedra 2</h4>
<div class="youtube-player" data-id="iLA4dV4A0h8"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Exedra 2</h4>
<div class="youtube-player" data-id="10B-5SGp080"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Exedra 2</h4>
<div class="youtube-player" data-id="1EpANTs-LC0"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Exedra Installation</h4>
<div class="youtube-player" data-id="Wz7mguGruko"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Concertina: Success Stories</h4>
<div class="youtube-player" data-id="HoOyXSEe7dU"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<div class="youtube-player" data-id="7R6x0T627aY"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Concertina Cabinet Doors</h4>
<div class="youtube-player" data-id="39BTjXZS5us"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Wind Lift System</h4>
<div class="youtube-player" data-id="xWL0U1_2t5g"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Push to Open Wind Lift System</h4>
<div class="youtube-player" data-id="0f2WUmpCwto"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>

<h4 class="middle">Salice Exedra Pocket Door System</h4>
<div class="youtube-player" data-id="Fn06S48fQgU"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<div class="youtube-player" data-id="zFTU-scDIgM"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<div class="youtube-player" data-id="sz2JeJs7M_g"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Silentia Hinges - Now 3 Closing Speeds</h4>
<div class="youtube-player" data-id="eP9C6QM8iyw"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Switch Hinge - Fast</h4>
<div class="youtube-player" data-id="uLRCd5AN-Mg"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Switch Hinge - Med</h4>
<div class="youtube-player" data-id="JLFyZdfA-aI"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Switch Hinge - Slow</h4>
<div class="youtube-player" data-id="e32wK93699w"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice vs Blum: A Soft Close Test</h4>
<div class="youtube-player" data-id="okdjkEKqxAI"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Air Hinge Installation</h4>
<div class="youtube-player" data-id="oTbQJE82jnM"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Fly Moon Installation</h4>
<div class="youtube-player" data-id="Hy_ygRfmC_U"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Smart Corner Installation</h4>
<div class="youtube-player" data-id="bVFWiXEyYhU"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Bortuluzzi: SLIDER S20</h4>
<div class="youtube-player" data-id="_rNbXaT5Org"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Bortuluzzi: SLIDER M50</h4>
<div class="youtube-player" data-id="Oh1YPM-TXTI"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Salice Bortuluzzi: SLIDER L70</h4>
<div class="youtube-player" data-id="TFh6bHYEHhc"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>

<br/><br/><br/><br/><br/><br/>

<a name="shelfology"></a>
<h3>Shelfology</h3>
<hr class="black">
<h4 class="middle">Shelfology Installation</h4>
<div class="youtube-player" data-id="pZYyp8Ujn6c"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="simonswerk"></a>
<h3>Simonswerk</h3>
<hr class="black">
<h4 class="middle">TECTUS Hinge Installation</h4>
<div class="youtube-player" data-id="v4S0snBTvJ4"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="sugatsune"></a>
<h3>Sugatsune</h3>
<hr class="black">
<h4 class="middle">SLS ELAN: Easy Lift Assist Stay</h4>
<div class="youtube-player" data-id="VjUipZoBLyU"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">SLU-ELAN: Vertical Swing Lift Up Stay</h4>
<div class="youtube-player" data-id="Ch0BL2qvsAs"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">NSDX Stays</h4>
<div class="youtube-player" data-id="_zUsHbR-iXc"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Mono-Flat LIN-X450 Hinges</h4>
<div class="youtube-player" data-id="FPPb4jOElxo"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">HES Concealed Hinges</h4>
<div class="youtube-player" data-id="A48fgrjpiJI"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">MFU Flush Sliding Door System</h4>
<div class="youtube-player" data-id="D_3V6HvOY3M"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="surfprep"></a>
<h3>SurfPrep Sanding</h3>
<hr class="black">
<h4 class="middle">Prepping Detailed Cabinet Doors for Paint</h4>
<div class="youtube-player" data-id="jn8h1RGN0ac"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">SurfPrep testimonial from Barbosa</h4>
<div class="youtube-player" data-id="f7FIEjeg3RE"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="titus"></a>
<h3>Titus Push Latches</h3>
<hr class="black">
<h4 class="middle">Push Opening System for Doors and Drawers</h4>
<div class="youtube-player" data-id="HlNht6yDzpM"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="tptools"></a>
<h3>True Position Tools</h3>
<hr class="black">
<h4 class="middle">Cabinet Door Handle Installation</h4>
<div class="youtube-player" data-id="U66JHhTFj2o"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Cabinet Drawer Handle Installation</h4>
<div class="youtube-player" data-id="2xAqopRl6eY"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="vauthsagel"></a>
<h3>Vauth Sagel Kitchen Storage</h3>
<hr class="black">
<h4 class="middle">Cornerstone Maxx Installation</h4>
<div class="youtube-player" data-id="eWas7lnoujk"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Cornerstone Maxx</h4>
<div class="youtube-player" data-id="vK0nu_8XG80"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">VS COR Wheel Pro Installation (Face Frame)</h4>
<div class="youtube-player" data-id="3DvkII1ANws"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Chef Pantry (Tal Larder) Product Highlights</h4>
<div class="youtube-player" data-id="TGLrC9oA9Ac"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Chef Pantry (Tal Larder) Product Installation (video 1)</h4>
<div class="youtube-player" data-id="wKSvzW0gA20"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Chef Pantry (Tal Larder) Product Installation (video 2)</h4>
<div class="youtube-player" data-id="6J_U0tV6o7E"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Cor Fold Installation</h4>
<div class="youtube-player" data-id="lBl1xfjuv-s"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Premium Pantry (Tal Gate) Product Highlights</h4>
<div class="youtube-player" data-id="u8PN6JhYvs8"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Premium Pantry (Tal Gate) Product Installation</h4>
<div class="youtube-player" data-id="lXOHQzWwda8"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">Premium Pantry (Tal Gate) Product Demo</h4>
<div class="youtube-player" data-id="VpUUOOLQKX0"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>

<h4 class="middle">Flex Corner Product Installation</h4>
<div class="youtube-player" data-id="ujeIYtdMG8U"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<h4 class="middle">DSA Base Pull Out Installation</h4>
<div class="youtube-player" data-id="2yQfUkhpZWo"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

<a name="xseries"></a>
<h3>X Series Brackets</h3>
<hr class="black">
<h4 class="middle">X Series Bracket System Installation</h4>
<div class="youtube-player" data-id="c4d4Up35yWQ"></div><a href="#top"><img src="images/backtotop.gif" alt="top" height="40" width="40"></a>
<br/><br/><br/><br/><br/><br/>

  <script>
     
        /* Light YouTube Embeds by @labnol */
        /* Web: http://labnol.org/?p=27941 */
     
        document.addEventListener("DOMContentLoaded",
            function() {
                var div, n,
                    v = document.getElementsByClassName("youtube-player");
                for (n = 0; n < v.length; n++) {
                    div = document.createElement("div");
                    div.setAttribute("data-id", v[n].dataset.id);
                    div.innerHTML = labnolThumb(v[n].dataset.id);
                    div.onclick = labnolIframe;
                    v[n].appendChild(div);
                }
            });
     
        function labnolThumb(id) {
            var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
                play = '<div class="play"></div>';
            return thumb.replace("ID", id) + play;
        }
     
        function labnolIframe() {
            var iframe = document.createElement("iframe");
            var embed = "https://www.youtube.com/embed/ID?autoplay=1";
            iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("allowfullscreen", "1");
            this.parentNode.replaceChild(iframe, this);
        }
     
    </script>
    
<br/>
<div class="center" style="clear: both">
<TMPL_INCLUDE NAME="salesNavs.tmpl">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
