<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_IF NAME="session_isGuest"><TMPL_ELSE><TMPL_INCLUDE NAME="buttonNavs.tmpl"></TMPL_IF>

<span id="pageNumber">
<article align="center">
<header>
  <h3>MacMurray Pacific Catalog</h3>
</header>
<div class="catalog-controls">  
<h5>Jump to Page</h5>
<input type="text" class="quantity" id="jumpToPage" v-bind:value="currentPage" @keyup.enter="jumpToPage">
<button @click="jumpToPage" value="" class="button">GO</button>
</div>

<div class="catalog-nav">
  <button @click="showPage(-1)" class="previous" v-bind:style="{visibility: currentIndex > 0 ? 'visible' : 'hidden'}">
  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
  </button>
  <button @click="showPage(1)" class="next" v-bind:style="{visibility: currentIndex < pageList.length - 1 ? 'visible' : 'hidden'}">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
  </button>
</div>
<img v-bind:src="imageLink" width="90%" border="1"><br/><br/>
<div class="catalog-nav">
  <button @click="showPage(-1)" class="previous" v-bind:style="{visibility: currentIndex > 0 ? 'visible' : 'hidden'}">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
  </button>
  <button @click="showPage(1)" class="next" v-bind:style="{visibility: currentIndex < pageList.length - 1 ? 'visible' : 'hidden'}">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
  </button>
</div>
</article>
</span>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var pageNumberApp = new Vue({
    el: '#pageNumber',
    data: {
      pageList: [],
      imageLink: '',
      currentPage: 0,
      currentIndex: 0,
    },
    methods: {
      showPage: function(offset) {
        for (let index = 0; index < this.pageList.length; index++) {
          if (this.pageList[index] == this.currentPage) {
            let newIndex = index + offset;
            if (newIndex > -1 && newIndex < this.pageList.length) {
              this.currentIndex = newIndex;
              this.currentPage = this.pageList[newIndex];
              this.imageLink = '/catalogImages/' + this.currentPage + '.png';
            }
            return;
          }
        }
      },
      jumpToPage: function() {
        this.currentPage = document.getElementById('jumpToPage').value;
        this.showPage(0);
      }
    }
  });
  pageNumberApp.pageList = '<TMPL_VAR NAME="pageList">'.split(',');
  pageNumberApp.currentPage = '<TMPL_VAR NAME="page" default=0>';
  pageNumberApp.showPage(0);
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
