<TMPL_INCLUDE NAME="header.tmpl">

<ul id="toc">
<li><a href=#><span>Select Invoice</span></a></li>
<li><a href=#><span>Invoice Details</span></a></li>
</ul>
<div class="homeBorder">

<div class="cust-no">
Customer No. 12345
</div>
<br/>
<br/>

<table>
<tr>
<td width="450" style="text-decoration: underline;"><b>Sold To:</b></td>
<td style="text-decoration: underline;"><b>Ship To:</b></td>
</tr>
<tr>
<td>Name of Company</td>
<td>Name of Company</td>
</tr>
<tr>
<td>Address 1</td>
<td>Address 1</td>
</tr>
<tr>
<td>Address 2</td>
<td>Address 2</td>
</tr>
</table>

<br/>
<hr>

<table>
<tr>
<td width="150"><b>Invoice Date</b></td>
<td>2016-09-20</td>
</tr>
<tr>
<td><b>Invoice #</b></td>
<td>16091111</td>
</tr>
<tr>
<td><b>Work Order #</b></td>
<td>622516</td>
</tr>
<tr>
<td><b>Customer PO #</b></td>
<td>62977</td>
</tr>
</table>
<br/>


<table class="invoicedetail">
<tr>
<td width="150" style="text-decoration: underline;">Product Code</td>
<td width="400" style="text-decoration: underline;">Description</td>
<td width="100" style="text-decoration: underline;">Quantity</td>
<td width="50" style="text-decoration: underline;">Unit</td>
<td width="150" class="right" style="text-decoration: underline;">Price</td>
<td width="150" class="right" style="text-decoration: underline;">Ext.</td>
</tr>
<tr>
<td>4000-102</td>
<td>Door Stop, Dome 1"H Baldwin</td>
<td>20</td>
<td>EA</td>
<td class="right">$ 6.57</td>
<td class="right">$ 131.40</td>
</tr>
<tr>
<td>4000-102</td>
<td>Door Stop, Dome 1"H Baldwin</td>
<td>20</td>
<td>EA</td>
<td class="right">$ 6.57</td>
<td class="right">$ 131.40</td>
</tr>
<tr>
<td>4000-102</td>
<td>Door Stop, Dome 1"H Baldwin</td>
<td>20</td>
<td>EA</td>
<td class="right">$ 6.57</td>
<td class="right">$ 131.40</td>
</tr>
</table>
<div class="right">
<p>Merchandise Total $0.00</p>
<p>Taxable Total $0.00</p>
<p>Sales Tax $0.00</p>
<p>Handling/Inv Chg $0.00</p>
<p>Invoice Total $0.00</p>
</div>


<TMPL_INCLUDE NAME="footer.tmpl">