    <link rel="stylesheet" href="/grt-youtube-popup.css">
    <script src="/grt-youtube-popup.js"></script>
    <script>
      $(".youtube-link").grtyoutube({
        autoPlay:true
      });
    </script>

